In [5]:
import numpy as np
import pandas as pd

import matplotlib.pyplot as plt
import seaborn as sns

import geopandas as gpd
from shapely.geometry import Point
from fiona.crs import from_epsg
import folium

pd.options.display.max_columns = 999

# import demographics

In [6]:
gender_by_borough = pd.read_csv("./Final Data Files/population_by_gender.csv")

In [7]:
gender_by_borough.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 12 entries, 0 to 11
Data columns (total 4 columns):
 #   Column                                   Non-Null Count  Dtype
---  ------                                   --------------  -----
 0   borough_name                             12 non-null     object
 1   borough_code                             12 non-null     object
 2   % of all people aged 16+ who are female  12 non-null     float64
 3   % of all people aged 16+ who are male    12 non-null     float64
dtypes: float64(2), object(2)
memory usage: 512.0+ bytes

In [8]:
age_by_borough = pd.read_csv("./Final Data Files/population_by_age_group.csv")

age_by_borough.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 12 entries, 0 to 11
Data columns (total 8 columns):
 #   Column                           Non-Null Count  Dtype
---  ------                           --------------  -----
 0   borough_name                     12 non-null     object
 1   borough_code                     12 non-null     object
 2   % of all 16+ who are aged 16-19  11 non-null     float64
 3   % of all 16+ who are aged 20-24  11 non-null     float64
 4   % of all 16+ who are aged 25-34  12 non-null     float64
 5   % of all 16+ who are aged 35-49  11 non-null     float64
 6   % of all 16+ who are aged 50-64  12 non-null     float64
 7   % of all 16+ who are aged 65+    12 non-null     float64
dtypes: float64(6), object(2)
memory usage: 896.0+ bytes

In [9]:
employed_self_employed_by_borough = pd.read_csv("./Final Data Files/population_by_employed_self_employed.csv")

employed_self_employed_by_borough.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 12 entries, 0 to 11
Data columns (total 4 columns):
 #   Column                                            Non-Null Count  Dtype
---  ------                                            --------------  -----
 0   borough_name                                      12 non-null     object
 1   borough_code                                      12 non-null     object
 2   % in employment who are employees - aged 16+      12 non-null     float64
 3   % in employment who are self employed - aged 16+  12 non-null     float64
dtypes: float64(2), object(2)
memory usage: 512.0+ bytes

In [10]:
employment_rate_by_borough = pd.read_csv("./Final Data Files/population_by_employment_rate.csv")

employment_rate_by_borough.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 12 entries, 0 to 11
Data columns (total 3 columns):
 #   Column                      Non-Null Count  Dtype
---  ------                      --------------  -----
 0   borough_name                12 non-null     object
 1   borough_code                12 non-null     object
 2   Employment rate - aged 16+  12 non-null     float64
dtypes: float64(1), object(2)
memory usage: 416.0+ bytes

In [11]:
unemployment_rate_by_borough = pd.read_csv("./Final Data Files/population_by_unemployment_rate.csv")

unemployment_rate_by_borough.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 12 entries, 0 to 11
Data columns (total 3 columns):
 #   Column                        Non-Null Count  Dtype
---  ------                        --------------  -----
 0   borough_name                  12 non-null     object
 1   borough_code                  12 non-null     object
 2   Unemployment rate - aged 16+  11 non-null     float64
dtypes: float64(1), object(2)
memory usage: 416.0+ bytes

In [12]:
full_time_employee_by_borough = pd.read_csv("./Final Data Files/population_by_full_time_employment.csv")

full_time_employee_by_borough.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 12 entries, 0 to 11
Data columns (total 6 columns):
 #   Column                                          Non-Null Count  Dtype
---  ------                                          --------------  -----
 0   borough_name                                    12 non-null     object
 1   borough_code                                    12 non-null     object
 2   % in employment working full-time - aged 16-19  0 non-null      float64
 3   % in employment working full-time - aged 20-24  11 non-null     float64
 4   % in employment working full-time - aged 25-49  12 non-null     float64
 5   % in employment working full-time - aged 50+    12 non-null     float64
dtypes: float64(4), object(2)
memory usage: 704.0+ bytes

In [13]:
part_time_employee_by_borough = pd.read_csv("./Final Data Files/population_by_part_time_employment.csv")

part_time_employee_by_borough.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 12 entries, 0 to 11
Data columns (total 6 columns):
 #   Column                                          Non-Null Count  Dtype
---  ------                                          --------------  -----
 0   borough_name                                    12 non-null     object
 1   borough_code                                    12 non-null     object
 2   % in employment working part-time - aged 16-19  4 non-null      float64
 3   % in employment working part-time - aged 20-24  9 non-null      float64
 4   % in employment working part-time - aged 25-49  11 non-null     float64
 5   % in employment working part-time - aged 50+    11 non-null     float64
dtypes: float64(4), object(2)
memory usage: 704.0+ bytes

In [14]:
qualification_by_borough = pd.read_csv("./Final Data Files/population_by_qualification.csv")

qualification_by_borough.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 12 entries, 0 to 11
Data columns (total 8 columns):
 #   Column                                          Non-Null Count  Dtype
---  ------                                          --------------  -----
 0   borough_name                                    12 non-null     object
 1   borough_code                                    12 non-null     object
 2   % with NVQ1 only - aged 16-64                   11 non-null     float64
 3   % with NVQ2 only - aged 16-64                   11 non-null     float64
 4   % with NVQ3 only - aged 16-64                   11 non-null     float64
 5   % with NVQ4+ - aged 16-64                       12 non-null     float64
 6   % with other qualifications (NVQ) - aged 16-64  11 non-null     float64
 7   % with no qualifications (NVQ) - aged 16-64     11 non-null     float64
dtypes: float64(6), object(2)
memory usage: 896.0+ bytes

In [15]:
earnings_mean_hourly_by_borough = pd.read_csv("./Final Data Files/earnings_mean_hourlypay.csv")

earnings_mean_hourly_by_borough.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 12 entries, 0 to 11
Data columns (total 9 columns):
 #   Column                             Non-Null Count  Dtype
---  ------                             --------------  -----
 0   borough_name                       12 non-null     object
 1   borough_code                       12 non-null     object
 2   Male Full Time Workers - number    11 non-null     float64
 3   Male Part Time Workers - number    9 non-null      float64
 4   Female Full Time Workers - number  12 non-null     float64
 5   Female Part Time Workers - number  11 non-null     float64
 6   Total - number                     12 non-null     float64
 7   Full Time Workers - number         12 non-null     float64
 8   Part Time Workers - number         11 non-null     float64
dtypes: float64(7), object(2)
memory usage: 992.0+ bytes

In [16]:
earnings_mean_annual_by_borough = pd.read_csv("./Final Data Files/earnings_mean_annualpay.csv")

earnings_mean_annual_by_borough.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 12 entries, 0 to 11
Data columns (total 9 columns):
 #   Column                             Non-Null Count  Dtype
---  ------                             --------------  -----
 0   borough_name                       12 non-null     object
 1   borough_code                       12 non-null     object
 2   Male Full Time Workers - number    9 non-null      float64
 3   Male Part Time Workers - number    6 non-null      float64
 4   Female Full Time Workers - number  12 non-null     int64
 5   Female Part Time Workers - number  10 non-null     float64
 6   Total - number                     11 non-null     float64
 7   Full Time Workers - number         11 non-null     float64
 8   Part Time Workers - number         11 non-null     float64
dtypes: float64(6), int64(1), object(2)
memory usage: 992.0+ bytes

In [17]:
earnings_mean_weekly_by_borough = pd.read_csv("./Final Data Files/earnings_mean_weeklypay.csv")

earnings_mean_weekly_by_borough.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 12 entries, 0 to 11
Data columns (total 9 columns):
 #   Column                             Non-Null Count  Dtype
---  ------                             --------------  -----
 0   borough_name                       12 non-null     object
 1   borough_code                       12 non-null     object
 2   Male Full Time Workers - number    11 non-null     float64
 3   Male Part Time Workers - number    9 non-null      float64
 4   Female Full Time Workers - number  12 non-null     float64
 5   Female Part Time Workers - number  11 non-null     float64
 6   Total - number                     12 non-null     float64
 7   Full Time Workers - number         12 non-null     float64
 8   Part Time Workers - number         11 non-null     float64
dtypes: float64(7), object(2)
memory usage: 992.0+ bytes

In [18]:
earnings_median_hourly_by_borough = pd.read_csv("./Final Data Files/earnings_median_hourlypay.csv")

earnings_median_hourly_by_borough.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 12 entries, 0 to 11
Data columns (total 9 columns):
 #   Column                             Non-Null Count  Dtype
---  ------                             --------------  -----
 0   borough_name                       12 non-null     object
 1   borough_code                       12 non-null     object
 2   Male Full Time Workers - number    10 non-null     float64
 3   Male Part Time Workers - number    8 non-null      float64
 4   Female Full Time Workers - number  12 non-null     float64
 5   Female Part Time Workers - number  11 non-null     float64
 6   Total - number                     11 non-null     float64
 7   Full Time Workers - number         11 non-null     float64
 8   Part Time Workers - number         11 non-null     float64
dtypes: float64(7), object(2)
memory usage: 992.0+ bytes

In [19]:
earnings_median_annual_by_borough = pd.read_csv("./Final Data Files/earnings_median_annualpay.csv")

earnings_median_annual_by_borough.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 12 entries, 0 to 11
Data columns (total 9 columns):
 #   Column                             Non-Null Count  Dtype
---  ------                             --------------  -----
 0   borough_name                       12 non-null     object
 1   borough_code                       12 non-null     object
 2   Male Full Time Workers - number    9 non-null      float64
 3   Male Part Time Workers - number    3 non-null      float64
 4   Female Full Time Workers - number  11 non-null     float64
 5   Female Part Time Workers - number  8 non-null      float64
 6   Total - number                     11 non-null     float64
 7   Full Time Workers - number         10 non-null     float64
 8   Part Time Workers - number         9 non-null      float64
dtypes: float64(7), object(2)
memory usage: 992.0+ bytes

In [20]:
earnings_median_weekly_by_borough = pd.read_csv("./Final Data Files/earnings_median_weeklypay.csv")

earnings_median_weekly_by_borough.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 12 entries, 0 to 11
Data columns (total 9 columns):
 #   Column                             Non-Null Count  Dtype
---  ------                             --------------  -----
 0   borough_name                       12 non-null     object
 1   borough_code                       12 non-null     object
 2   Male Full Time Workers - number    10 non-null     float64
 3   Male Part Time Workers - number    6 non-null      float64
 4   Female Full Time Workers - number  12 non-null     float64
 5   Female Part Time Workers - number  8 non-null      float64
 6   Total - number                     11 non-null     float64
 7   Full Time Workers - number         11 non-null     float64
 8   Part Time Workers - number         11 non-null     float64
dtypes: float64(7), object(2)
memory usage: 992.0+ bytes

In [22]:
# merge gender_by_borough and age_by_borough on code using inner join
demographics = gender_by_borough.merge(age_by_borough, how='inner', left_on='borough_code', right_on='borough_code')

In [23]:
# drop column borough_name_y from demographics
demographics = demographics.drop(['borough_name_y'], axis=1)

In [24]:
# merge demographics and employed_self_employed_by_borough on borough_code using inner join
demographics = demographics.merge(employed_self_employed_by_borough, how='inner', left_on='borough_code', right_on='borough_code')

In [25]:
#drop column borough_name_y from demographics
demographics = demographics.drop(['borough_name'], axis=1)

# rename column borough_name_x to borough_name
demographics = demographics.rename(columns={'borough_name_x' : 'borough_name'})

demographics

,borough_name,borough_code,% of all people aged 16+ who are female,% of all people aged 16+ who are male,% of all 16+ who are aged 16-19,% of all 16+ who are aged 20-24,% of all 16+ who are aged 25-34,% of all 16+ who are aged 35-49,% of all 16+ who are aged 50-64,% of all 16+ who are aged 65+,% in employment who are employees - aged 16+,% in employment who are self employed - aged 16+
0,Camden,E09000007,48.7,51.3,4.8,10.2,20.2,24.4,24.5,15.9,78.3,21.5
1,City of London,E09000001,46.4,53.6,NaN,NaN,45.4,NaN,23.4,31.1,73.0,27.0
2,Hackney,E09000012,50.5,49.5,6.5,8.4,33.7,26.6,17.6,7.1,82.6,16.8
3,Hammersmith and Fulham,E09000013,49.2,50.8,3.2,8.6,29.5,28.3,17.7,12.8,83.3,16.0
4,Islington,E09000019,50.0,50.0,4.7,9.3,28.6,27.6,16.9,12.9,83.2,16.7
5,Kensington and Chelsea,E09000020,49.7,50.3,7.4,6.9,13.0,30.7,24.5,17.5,69.4,27.4
6,Lambeth,E09000022,48.9,51.1,4.3,10.3,31.5,27.0,17.5,9.2,83.2,16.0
7,Newham,E09000025,46.1,53.9,6.9,8.8,30.8,30.7,13.6,9.1,79.8,19.9
8,Southwark,E09000028,50.2,49.8,5.5,8.9,26.4,29.5,20.1,9.5,79.8,20.0
9,Tower Hamlets,E09000030,47.7,52.3,3.1,14.4,35.4,30.2,9.5,7.5,83.9,15.6
10,Wandsworth,E09000032,54.2,45.8,3.6,3.7,35.6,28.3,16.3,12.5,79.7,19.4
11,Westminster,E09000033,49.0,51.0,3.6,8.2,23.3,30.1,19.3,15.5,77.5,22.3

In [26]:
# merge demographics and employment_rate_by_borough on borough_code using inner join
demographics = demographics.merge(employment_rate_by_borough, how='inner', left_on='borough_code', right_on='borough_code')

demographics

,borough_name_x,borough_code,% of all people aged 16+ who are female,% of all people aged 16+ who are male,% of all 16+ who are aged 16-19,% of all 16+ who are aged 20-24,% of all 16+ who are aged 25-34,% of all 16+ who are aged 35-49,% of all 16+ who are aged 50-64,% of all 16+ who are aged 65+,% in employment who are employees - aged 16+,% in employment who are self employed - aged 16+,borough_name_y,Employment rate - aged 16+
0,Camden,E09000007,48.7,51.3,4.8,10.2,20.2,24.4,24.5,15.9,78.3,21.5,Camden,61.6
1,City of London,E09000001,46.4,53.6,NaN,NaN,45.4,NaN,23.4,31.1,73.0,27.0,City of London,82.3
2,Hackney,E09000012,50.5,49.5,6.5,8.4,33.7,26.6,17.6,7.1,82.6,16.8,Hackney,67.8
3,Hammersmith and Fulham,E09000013,49.2,50.8,3.2,8.6,29.5,28.3,17.7,12.8,83.3,16.0,Hammersmith and Fulham,67.8
4,Islington,E09000019,50.0,50.0,4.7,9.3,28.6,27.6,16.9,12.9,83.2,16.7,Islington,70.0
5,Kensington and Chelsea,E09000020,49.7,50.3,7.4,6.9,13.0,30.7,24.5,17.5,69.4,27.4,Kensington and Chelsea,57.3
6,Lambeth,E09000022,48.9,51.1,4.3,10.3,31.5,27.0,17.5,9.2,83.2,16.0,Lambeth,72.3
7,Newham,E09000025,46.1,53.9,6.9,8.8,30.8,30.7,13.6,9.1,79.8,19.9,Newham,65.9
8,Southwark,E09000028,50.2,49.8,5.5,8.9,26.4,29.5,20.1,9.5,79.8,20.0,Southwark,71.5
9,Tower Hamlets,E09000030,47.7,52.3,3.1,14.4,35.4,30.2,9.5,7.5,83.9,15.6,Tower Hamlets,66.9
10,Wandsworth,E09000032,54.2,45.8,3.6,3.7,35.6,28.3,16.3,12.5,79.7,19.4,Wandsworth,73.5
11,Westminster,E09000033,49.0,51.0,3.6,8.2,23.3,30.1,19.3,15.5,77.5,22.3,Westminster,62.4

In [27]:
# drop column borough_name_y from demographics
demographics = demographics.drop(['borough_name_y'], axis=1)

In [28]:
# merge demographics and unemployment_rate_by_borough on borough_code using inner join
demographics = demographics.merge(unemployment_rate_by_borough, how='inner', left_on='borough_code', right_on='borough_code')

demographics

,borough_name_x,borough_code,% of all people aged 16+ who are female,% of all people aged 16+ who are male,% of all 16+ who are aged 16-19,% of all 16+ who are aged 20-24,% of all 16+ who are aged 25-34,% of all 16+ who are aged 35-49,% of all 16+ who are aged 50-64,% of all 16+ who are aged 65+,% in employment who are employees - aged 16+,% in employment who are self employed - aged 16+,Employment rate - aged 16+,borough_name,Unemployment rate - aged 16+
0,Camden,E09000007,48.7,51.3,4.8,10.2,20.2,24.4,24.5,15.9,78.3,21.5,61.6,Camden,5.6
1,City of London,E09000001,46.4,53.6,NaN,NaN,45.4,NaN,23.4,31.1,73.0,27.0,82.3,City of London,NaN
2,Hackney,E09000012,50.5,49.5,6.5,8.4,33.7,26.6,17.6,7.1,82.6,16.8,67.8,Hackney,4.4
3,Hammersmith and Fulham,E09000013,49.2,50.8,3.2,8.6,29.5,28.3,17.7,12.8,83.3,16.0,67.8,Hammersmith and Fulham,3.7
4,Islington,E09000019,50.0,50.0,4.7,9.3,28.6,27.6,16.9,12.9,83.2,16.7,70.0,Islington,4.2
5,Kensington and Chelsea,E09000020,49.7,50.3,7.4,6.9,13.0,30.7,24.5,17.5,69.4,27.4,57.3,Kensington and Chelsea,5.4
6,Lambeth,E09000022,48.9,51.1,4.3,10.3,31.5,27.0,17.5,9.2,83.2,16.0,72.3,Lambeth,5.9
7,Newham,E09000025,46.1,53.9,6.9,8.8,30.8,30.7,13.6,9.1,79.8,19.9,65.9,Newham,4.9
8,Southwark,E09000028,50.2,49.8,5.5,8.9,26.4,29.5,20.1,9.5,79.8,20.0,71.5,Southwark,4.1
9,Tower Hamlets,E09000030,47.7,52.3,3.1,14.4,35.4,30.2,9.5,7.5,83.9,15.6,66.9,Tower Hamlets,4.0
10,Wandsworth,E09000032,54.2,45.8,3.6,3.7,35.6,28.3,16.3,12.5,79.7,19.4,73.5,Wandsworth,4.4
11,Westminster,E09000033,49.0,51.0,3.6,8.2,23.3,30.1,19.3,15.5,77.5,22.3,62.4,Westminster,4.8

In [29]:
# drop borough_name column from demographics
demographics = demographics.drop(['borough_name'], axis=1)

# rename column borough_name_x to borough_name
demographics = demographics.rename(columns={'borough_name_x' : 'borough_name'})

In [30]:
# merge demographics and full_time_employee_by_borough on borough_code using inner join
demographics = demographics.merge(full_time_employee_by_borough, how='inner', left_on='borough_code', right_on='borough_code')

demographics

,borough_name_x,borough_code,% of all people aged 16+ who are female,% of all people aged 16+ who are male,% of all 16+ who are aged 16-19,% of all 16+ who are aged 20-24,% of all 16+ who are aged 25-34,% of all 16+ who are aged 35-49,% of all 16+ who are aged 50-64,% of all 16+ who are aged 65+,% in employment who are employees - aged 16+,% in employment who are self employed - aged 16+,Employment rate - aged 16+,Unemployment rate - aged 16+,borough_name_y,% in employment working full-time - aged 16-19,% in employment working full-time - aged 20-24,% in employment working full-time - aged 25-49,% in employment working full-time - aged 50+
0,Camden,E09000007,48.7,51.3,4.8,10.2,20.2,24.4,24.5,15.9,78.3,21.5,61.6,5.6,Camden,NaN,50.9,80.9,63.3
1,City of London,E09000001,46.4,53.6,NaN,NaN,45.4,NaN,23.4,31.1,73.0,27.0,82.3,NaN,City of London,NaN,NaN,100.0,63.8
2,Hackney,E09000012,50.5,49.5,6.5,8.4,33.7,26.6,17.6,7.1,82.6,16.8,67.8,4.4,Hackney,NaN,53.8,82.5,67.1
3,Hammersmith and Fulham,E09000013,49.2,50.8,3.2,8.6,29.5,28.3,17.7,12.8,83.3,16.0,67.8,3.7,Hammersmith and Fulham,NaN,95.0,89.9,72.4
4,Islington,E09000019,50.0,50.0,4.7,9.3,28.6,27.6,16.9,12.9,83.2,16.7,70.0,4.2,Islington,NaN,72.6,82.7,71.9
5,Kensington and Chelsea,E09000020,49.7,50.3,7.4,6.9,13.0,30.7,24.5,17.5,69.4,27.4,57.3,5.4,Kensington and Chelsea,NaN,50.9,81.3,73.4
6,Lambeth,E09000022,48.9,51.1,4.3,10.3,31.5,27.0,17.5,9.2,83.2,16.0,72.3,5.9,Lambeth,NaN,68.9,85.8,71.2
7,Newham,E09000025,46.1,53.9,6.9,8.8,30.8,30.7,13.6,9.1,79.8,19.9,65.9,4.9,Newham,NaN,70.7,84.5,73.0
8,Southwark,E09000028,50.2,49.8,5.5,8.9,26.4,29.5,20.1,9.5,79.8,20.0,71.5,4.1,Southwark,NaN,59.1,75.9,67.5
9,Tower Hamlets,E09000030,47.7,52.3,3.1,14.4,35.4,30.2,9.5,7.5,83.9,15.6,66.9,4.0,Tower Hamlets,NaN,90.9,87.2,74.5
10,Wandsworth,E09000032,54.2,45.8,3.6,3.7,35.6,28.3,16.3,12.5,79.7,19.4,73.5,4.4,Wandsworth,NaN,74.4,86.6,60.5
11,Westminster,E09000033,49.0,51.0,3.6,8.2,23.3,30.1,19.3,15.5,77.5,22.3,62.4,4.8,Westminster,NaN,100.0,89.5,62.9

In [31]:
# drop borough_name column from demographics
demographics = demographics.drop(['borough_name_y'], axis=1)

# rename column borough_name_x to borough_name
demographics = demographics.rename(columns={'borough_name_x' : 'borough_name'})

In [32]:
# merge demographics and part_time_employee_by_borough on borough_code using inner join
demographics = demographics.merge(part_time_employee_by_borough, how='inner', left_on='borough_code', right_on='borough_code')

demographics

,borough_name_x,borough_code,% of all people aged 16+ who are female,% of all people aged 16+ who are male,% of all 16+ who are aged 16-19,% of all 16+ who are aged 20-24,% of all 16+ who are aged 25-34,% of all 16+ who are aged 35-49,% of all 16+ who are aged 50-64,% of all 16+ who are aged 65+,% in employment who are employees - aged 16+,% in employment who are self employed - aged 16+,Employment rate - aged 16+,Unemployment rate - aged 16+,% in employment working full-time - aged 16-19,% in employment working full-time - aged 20-24,% in employment working full-time - aged 25-49,% in employment working full-time - aged 50+,borough_name_y,% in employment working part-time - aged 16-19,% in employment working part-time - aged 20-24,% in employment working part-time - aged 25-49,% in employment working part-time - aged 50+
0,Camden,E09000007,48.7,51.3,4.8,10.2,20.2,24.4,24.5,15.9,78.3,21.5,61.6,5.6,NaN,50.9,80.9,63.3,Camden,NaN,49.1,19.1,35.9
1,City of London,E09000001,46.4,53.6,NaN,NaN,45.4,NaN,23.4,31.1,73.0,27.0,82.3,NaN,NaN,NaN,100.0,63.8,City of London,NaN,NaN,NaN,NaN
2,Hackney,E09000012,50.5,49.5,6.5,8.4,33.7,26.6,17.6,7.1,82.6,16.8,67.8,4.4,NaN,53.8,82.5,67.1,Hackney,81.6,46.2,16.8,31.8
3,Hammersmith and Fulham,E09000013,49.2,50.8,3.2,8.6,29.5,28.3,17.7,12.8,83.3,16.0,67.8,3.7,NaN,95.0,89.9,72.4,Hammersmith and Fulham,NaN,NaN,10.1,26.4
4,Islington,E09000019,50.0,50.0,4.7,9.3,28.6,27.6,16.9,12.9,83.2,16.7,70.0,4.2,NaN,72.6,82.7,71.9,Islington,NaN,27.4,17.3,28.1
5,Kensington and Chelsea,E09000020,49.7,50.3,7.4,6.9,13.0,30.7,24.5,17.5,69.4,27.4,57.3,5.4,NaN,50.9,81.3,73.4,Kensington and Chelsea,NaN,49.1,18.7,26.6
6,Lambeth,E09000022,48.9,51.1,4.3,10.3,31.5,27.0,17.5,9.2,83.2,16.0,72.3,5.9,NaN,68.9,85.8,71.2,Lambeth,NaN,31.1,13.8,28.8
7,Newham,E09000025,46.1,53.9,6.9,8.8,30.8,30.7,13.6,9.1,79.8,19.9,65.9,4.9,NaN,70.7,84.5,73.0,Newham,69.9,29.3,15.5,27.0
8,Southwark,E09000028,50.2,49.8,5.5,8.9,26.4,29.5,20.1,9.5,79.8,20.0,71.5,4.1,NaN,59.1,75.9,67.5,Southwark,84.7,40.9,23.8,32.5
9,Tower Hamlets,E09000030,47.7,52.3,3.1,14.4,35.4,30.2,9.5,7.5,83.9,15.6,66.9,4.0,NaN,90.9,87.2,74.5,Tower Hamlets,NaN,9.1,12.8,25.5
10,Wandsworth,E09000032,54.2,45.8,3.6,3.7,35.6,28.3,16.3,12.5,79.7,19.4,73.5,4.4,NaN,74.4,86.6,60.5,Wandsworth,100.0,25.6,13.0,39.5
11,Westminster,E09000033,49.0,51.0,3.6,8.2,23.3,30.1,19.3,15.5,77.5,22.3,62.4,4.8,NaN,100.0,89.5,62.9,Westminster,NaN,NaN,9.9,37.1

In [33]:
# drop borough_name column from demographics
demographics = demographics.drop(['borough_name_y'], axis=1)

# rename column borough_name_x to borough_name
demographics = demographics.rename(columns={'borough_name_x' : 'borough_name'})

In [34]:
# demographics and qualification_by_borough on borough_code using inner join
demographics = demographics.merge(qualification_by_borough, how='inner', left_on='borough_code', right_on='borough_code')

demographics

,borough_name_x,borough_code,% of all people aged 16+ who are female,% of all people aged 16+ who are male,% of all 16+ who are aged 16-19,% of all 16+ who are aged 20-24,% of all 16+ who are aged 25-34,% of all 16+ who are aged 35-49,% of all 16+ who are aged 50-64,% of all 16+ who are aged 65+,% in employment who are employees - aged 16+,% in employment who are self employed - aged 16+,Employment rate - aged 16+,Unemployment rate - aged 16+,% in employment working full-time - aged 16-19,% in employment working full-time - aged 20-24,% in employment working full-time - aged 25-49,% in employment working full-time - aged 50+,% in employment working part-time - aged 16-19,% in employment working part-time - aged 20-24,% in employment working part-time - aged 25-49,% in employment working part-time - aged 50+,borough_name_y,% with NVQ1 only - aged 16-64,% with NVQ2 only - aged 16-64,% with NVQ3 only - aged 16-64,% with NVQ4+ - aged 16-64,% with other qualifications (NVQ) - aged 16-64,% with no qualifications (NVQ) - aged 16-64
0,Camden,E09000007,48.7,51.3,4.8,10.2,20.2,24.4,24.5,15.9,78.3,21.5,61.6,5.6,NaN,50.9,80.9,63.3,NaN,49.1,19.1,35.9,Camden,6.5,8.1,9.3,60.9,7.6,6.7
1,City of London,E09000001,46.4,53.6,NaN,NaN,45.4,NaN,23.4,31.1,73.0,27.0,82.3,NaN,NaN,NaN,100.0,63.8,NaN,NaN,NaN,NaN,City of London,NaN,NaN,NaN,100.0,NaN,NaN
2,Hackney,E09000012,50.5,49.5,6.5,8.4,33.7,26.6,17.6,7.1,82.6,16.8,67.8,4.4,NaN,53.8,82.5,67.1,81.6,46.2,16.8,31.8,Hackney,6.2,8.6,10.4,57.4,5.5,10.8
3,Hammersmith and Fulham,E09000013,49.2,50.8,3.2,8.6,29.5,28.3,17.7,12.8,83.3,16.0,67.8,3.7,NaN,95.0,89.9,72.4,NaN,NaN,10.1,26.4,Hammersmith and Fulham,2.8,5.8,10.2,70.0,5.7,4.7
4,Islington,E09000019,50.0,50.0,4.7,9.3,28.6,27.6,16.9,12.9,83.2,16.7,70.0,4.2,NaN,72.6,82.7,71.9,NaN,27.4,17.3,28.1,Islington,3.6,8.6,8.9,61.7,5.8,10.5
5,Kensington and Chelsea,E09000020,49.7,50.3,7.4,6.9,13.0,30.7,24.5,17.5,69.4,27.4,57.3,5.4,NaN,50.9,81.3,73.4,NaN,49.1,18.7,26.6,Kensington and Chelsea,4.2,6.3,13.7,65.5,4.9,4.7
6,Lambeth,E09000022,48.9,51.1,4.3,10.3,31.5,27.0,17.5,9.2,83.2,16.0,72.3,5.9,NaN,68.9,85.8,71.2,NaN,31.1,13.8,28.8,Lambeth,5.7,8.5,10.7,63.8,5.9,4.3
7,Newham,E09000025,46.1,53.9,6.9,8.8,30.8,30.7,13.6,9.1,79.8,19.9,65.9,4.9,NaN,70.7,84.5,73.0,69.9,29.3,15.5,27.0,Newham,8.1,11.1,11.3,44.0,14.8,10.1
8,Southwark,E09000028,50.2,49.8,5.5,8.9,26.4,29.5,20.1,9.5,79.8,20.0,71.5,4.1,NaN,59.1,75.9,67.5,84.7,40.9,23.8,32.5,Southwark,5.0,9.6,12.0,62.0,5.1,5.4
9,Tower Hamlets,E09000030,47.7,52.3,3.1,14.4,35.4,30.2,9.5,7.5,83.9,15.6,66.9,4.0,NaN,90.9,87.2,74.5,NaN,9.1,12.8,25.5,Tower Hamlets,2.2,9.0,9.7,60.5,8.3,9.7
10,Wandsworth,E09000032,54.2,45.8,3.6,3.7,35.6,28.3,16.3,12.5,79.7,19.4,73.5,4.4,NaN,74.4,86.6,60.5,100.0,25.6,13.0,39.5,Wandsworth,3.3,6.4,6.2,71.6,8.0,4.1
11,Westminster,E09000033,49.0,51.0,3.6,8.2,23.3,30.1,19.3,15.5,77.5,22.3,62.4,4.8,NaN,100.0,89.5,62.9,NaN,NaN,9.9,37.1,Westminster,4.2,5.7,11.5,65.5,6.9,5.8

In [35]:
# drop borough_name column from demographics
demographics = demographics.drop(['borough_name_y'], axis=1)

# rename column borough_name_x to borough_name
demographics = demographics.rename(columns={'borough_name_x' : 'borough_name'})

In [36]:
# merge demographics and earnings_mean_hourly_by_borough on borough_code using inner join
demographics = demographics.merge(earnings_mean_hourly_by_borough, how='inner', left_on='borough_code', right_on='borough_code')

demographics

,borough_name_x,borough_code,% of all people aged 16+ who are female,% of all people aged 16+ who are male,% of all 16+ who are aged 16-19,% of all 16+ who are aged 20-24,% of all 16+ who are aged 25-34,% of all 16+ who are aged 35-49,% of all 16+ who are aged 50-64,% of all 16+ who are aged 65+,% in employment who are employees - aged 16+,% in employment who are self employed - aged 16+,Employment rate - aged 16+,Unemployment rate - aged 16+,% in employment working full-time - aged 16-19,% in employment working full-time - aged 20-24,% in employment working full-time - aged 25-49,% in employment working full-time - aged 50+,% in employment working part-time - aged 16-19,% in employment working part-time - aged 20-24,% in employment working part-time - aged 25-49,% in employment working part-time - aged 50+,% with NVQ1 only - aged 16-64,% with NVQ2 only - aged 16-64,% with NVQ3 only - aged 16-64,% with NVQ4+ - aged 16-64,% with other qualifications (NVQ) - aged 16-64,% with no qualifications (NVQ) - aged 16-64,borough_name_y,Male Full Time Workers - number,Male Part Time Workers - number,Female Full Time Workers - number,Female Part Time Workers - number,Total - number,Full Time Workers - number,Part Time Workers - number
0,Camden,E09000007,48.7,51.3,4.8,10.2,20.2,24.4,24.5,15.9,78.3,21.5,61.6,5.6,NaN,50.9,80.9,63.3,NaN,49.1,19.1,35.9,6.5,8.1,9.3,60.9,7.6,6.7,Camden,29.99,16.26,24.06,16.75,26.26,27.43,16.56
1,City of London,E09000001,46.4,53.6,NaN,NaN,45.4,NaN,23.4,31.1,73.0,27.0,82.3,NaN,NaN,NaN,100.0,63.8,NaN,NaN,NaN,NaN,NaN,NaN,NaN,100.0,NaN,NaN,City of London,NaN,NaN,21.38,NaN,26.24,24.95,NaN
2,Hackney,E09000012,50.5,49.5,6.5,8.4,33.7,26.6,17.6,7.1,82.6,16.8,67.8,4.4,NaN,53.8,82.5,67.1,81.6,46.2,16.8,31.8,6.2,8.6,10.4,57.4,5.5,10.8,Hackney,22.92,14.04,20.29,13.96,20.65,21.74,13.99
3,Hammersmith and Fulham,E09000013,49.2,50.8,3.2,8.6,29.5,28.3,17.7,12.8,83.3,16.0,67.8,3.7,NaN,95.0,89.9,72.4,NaN,NaN,10.1,26.4,2.8,5.8,10.2,70.0,5.7,4.7,Hammersmith and Fulham,29.87,16.93,21.66,15.57,25.47,26.16,16.02
4,Islington,E09000019,50.0,50.0,4.7,9.3,28.6,27.6,16.9,12.9,83.2,16.7,70.0,4.2,NaN,72.6,82.7,71.9,NaN,27.4,17.3,28.1,3.6,8.6,8.9,61.7,5.8,10.5,Islington,27.58,19.11,24.50,16.28,25.25,26.11,17.37
5,Kensington and Chelsea,E09000020,49.7,50.3,7.4,6.9,13.0,30.7,24.5,17.5,69.4,27.4,57.3,5.4,NaN,50.9,81.3,73.4,NaN,49.1,18.7,26.6,4.2,6.3,13.7,65.5,4.9,4.7,Kensington and Chelsea,49.02,NaN,25.40,13.89,37.09,39.49,16.67
6,Lambeth,E09000022,48.9,51.1,4.3,10.3,31.5,27.0,17.5,9.2,83.2,16.0,72.3,5.9,NaN,68.9,85.8,71.2,NaN,31.1,13.8,28.8,5.7,8.5,10.7,63.8,5.9,4.3,Lambeth,23.56,16.22,19.89,13.98,21.19,21.94,14.82
7,Newham,E09000025,46.1,53.9,6.9,8.8,30.8,30.7,13.6,9.1,79.8,19.9,65.9,4.9,NaN,70.7,84.5,73.0,69.9,29.3,15.5,27.0,8.1,11.1,11.3,44.0,14.8,10.1,Newham,18.55,11.93,17.00,12.13,17.02,17.92,12.05
8,Southwark,E09000028,50.2,49.8,5.5,8.9,26.4,29.5,20.1,9.5,79.8,20.0,71.5,4.1,NaN,59.1,75.9,67.5,84.7,40.9,23.8,32.5,5.0,9.6,12.0,62.0,5.1,5.4,Southwark,24.35,14.51,21.11,14.31,21.99,22.85,14.36
9,Tower Hamlets,E09000030,47.7,52.3,3.1,14.4,35.4,30.2,9.5,7.5,83.9,15.6,66.9,4.0,NaN,90.9,87.2,74.5,NaN,9.1,12.8,25.5,2.2,9.0,9.7,60.5,8.3,9.7,Tower Hamlets,27.15,12.89,23.69,13.76,24.74,25.74,13.36
10,Wandsworth,E09000032,54.2,45.8,3.6,3.7,35.6,28.3,16.3,12.5,79.7,19.4,73.5,4.4,NaN,74.4,86.6,60.5,100.0,25.6,13.0,39.5,3.3,6.4,6.2,71.6,8.0,4.1,Wandsworth,28.30,15.75,24.05,17.24,25.54,26.22,16.83
11,Westminster,E09000033,49.0,51.0,3.6,8.2,23.3,30.1,19.3,15.5,77.5,22.3,62.4,4.8,NaN,100.0,89.5,62.9,NaN,NaN,9.9,37.1,4.2,5.7,11.5,65.5,6.9,5.8,Westminster,29.56,NaN,26.73,13.62,27.29,28.33,17.11

In [37]:
# drop borough_name column from demographics
demographics = demographics.drop(['borough_name_y'], axis=1)

# rename column borough_name_x to borough_name
demographics = demographics.rename(columns={'borough_name_x' : 'borough_name'})

In [38]:
# merge demographics and earnings_mean_annual_by_borough on borough_code using inner join
demographics = demographics.merge(earnings_mean_annual_by_borough, how='inner', left_on='borough_code', right_on='borough_code')

demographics

,borough_name_x,borough_code,% of all people aged 16+ who are female,% of all people aged 16+ who are male,% of all 16+ who are aged 16-19,% of all 16+ who are aged 20-24,% of all 16+ who are aged 25-34,% of all 16+ who are aged 35-49,% of all 16+ who are aged 50-64,% of all 16+ who are aged 65+,% in employment who are employees - aged 16+,% in employment who are self employed - aged 16+,Employment rate - aged 16+,Unemployment rate - aged 16+,% in employment working full-time - aged 16-19,% in employment working full-time - aged 20-24,% in employment working full-time - aged 25-49,% in employment working full-time - aged 50+,% in employment working part-time - aged 16-19,% in employment working part-time - aged 20-24,% in employment working part-time - aged 25-49,% in employment working part-time - aged 50+,% with NVQ1 only - aged 16-64,% with NVQ2 only - aged 16-64,% with NVQ3 only - aged 16-64,% with NVQ4+ - aged 16-64,% with other qualifications (NVQ) - aged 16-64,% with no qualifications (NVQ) - aged 16-64,Male Full Time Workers - number_x,Male Part Time Workers - number_x,Female Full Time Workers - number_x,Female Part Time Workers - number_x,Total - number_x,Full Time Workers - number_x,Part Time Workers - number_x,borough_name_y,Male Full Time Workers - number_y,Male Part Time Workers - number_y,Female Full Time Workers - number_y,Female Part Time Workers - number_y,Total - number_y,Full Time Workers - number_y,Part Time Workers - number_y
0,Camden,E09000007,48.7,51.3,4.8,10.2,20.2,24.4,24.5,15.9,78.3,21.5,61.6,5.6,NaN,50.9,80.9,63.3,NaN,49.1,19.1,35.9,6.5,8.1,9.3,60.9,7.6,6.7,29.99,16.26,24.06,16.75,26.26,27.43,16.56,Camden,78238.0,12817.0,53007,16649.0,55701.0,67456.0,14918.0
1,City of London,E09000001,46.4,53.6,NaN,NaN,45.4,NaN,23.4,31.1,73.0,27.0,82.3,NaN,NaN,NaN,100.0,63.8,NaN,NaN,NaN,NaN,NaN,NaN,NaN,100.0,NaN,NaN,NaN,NaN,21.38,NaN,26.24,24.95,NaN,City of London,NaN,NaN,44070,NaN,NaN,NaN,10686.0
2,Hackney,E09000012,50.5,49.5,6.5,8.4,33.7,26.6,17.6,7.1,82.6,16.8,67.8,4.4,NaN,53.8,82.5,67.1,81.6,46.2,16.8,31.8,6.2,8.6,10.4,57.4,5.5,10.8,22.92,14.04,20.29,13.96,20.65,21.74,13.99,Hackney,50253.0,NaN,40820,11979.0,36493.0,45929.0,12705.0
3,Hammersmith and Fulham,E09000013,49.2,50.8,3.2,8.6,29.5,28.3,17.7,12.8,83.3,16.0,67.8,3.7,NaN,95.0,89.9,72.4,NaN,NaN,10.1,26.4,2.8,5.8,10.2,70.0,5.7,4.7,29.87,16.93,21.66,15.57,25.47,26.16,16.02,Hammersmith and Fulham,69547.0,10739.0,45773,15470.0,51795.0,59058.0,13841.0
4,Islington,E09000019,50.0,50.0,4.7,9.3,28.6,27.6,16.9,12.9,83.2,16.7,70.0,4.2,NaN,72.6,82.7,71.9,NaN,27.4,17.3,28.1,3.6,8.6,8.9,61.7,5.8,10.5,27.58,19.11,24.50,16.28,25.25,26.11,17.37,Islington,63828.0,17918.0,52782,16621.0,51351.0,58688.0,17145.0
5,Kensington and Chelsea,E09000020,49.7,50.3,7.4,6.9,13.0,30.7,24.5,17.5,69.4,27.4,57.3,5.4,NaN,50.9,81.3,73.4,NaN,49.1,18.7,26.6,4.2,6.3,13.7,65.5,4.9,4.7,49.02,NaN,25.40,13.89,37.09,39.49,16.67,Kensington and Chelsea,NaN,NaN,52487,13720.0,92675.0,110010.0,16003.0
6,Lambeth,E09000022,48.9,51.1,4.3,10.3,31.5,27.0,17.5,9.2,83.2,16.0,72.3,5.9,NaN,68.9,85.8,71.2,NaN,31.1,13.8,28.8,5.7,8.5,10.7,63.8,5.9,4.3,23.56,16.22,19.89,13.98,21.19,21.94,14.82,Lambeth,52281.0,16934.0,38202,12706.0,39986.0,46035.0,14205.0
7,Newham,E09000025,46.1,53.9,6.9,8.8,30.8,30.7,13.6,9.1,79.8,19.9,65.9,4.9,NaN,70.7,84.5,73.0,69.9,29.3,15.5,27.0,8.1,11.1,11.3,44.0,14.8,10.1,18.55,11.93,17.00,12.13,17.02,17.92,12.05,Newham,38763.0,14718.0,31500,12356.0,30081.0,35776.0,13345.0
8,Southwark,E09000028,50.2,49.8,5.5,8.9,26.4,29.5,20.1,9.5,79.8,20.0,71.5,4.1,NaN,59.1,75.9,67.5,84.7,40.9,23.8,32.5,5.0,9.6,12.0,62.0,5.1,5.4,24.35,14.51,21.11,14.31,21.99,22.85,14.36,Southwark,54175.0,NaN,42149,13642.0,42639.0,48717.0,13851.0
9,Tower Hamlets,E09000030,47.7,52.3,3.1,14.4,35.4,30.2,9.5,7.5,83.9,15.6,66.9,4.0,NaN,90.9,87.2,74.5,NaN,9.1,12.8,25.5,2.2,9.0,9.7,60.5,8.3,9.7,27.15,12.89,23.69,13.76,24.74,25.74,13.36,Tower Hamlets,63639.0,NaN,50217,10785.0,50651.0,58151.0,12296.0
10,Wandsworth,E09000032,54.2,45.8,3.6,3.7,35.6,28.3,16.3,12.5,79.7,19.4,73.5,4.4,NaN,74.4,86.6,60.5,100.0,25.6,13.0,39.5,3.3,6.4,6.2,71.6,8.0,4.1,28.30,15.75,24.05,17.24,25.54,26.22,16.83,Wandsworth,72998.0,11374.0,51429,13982.0,55523.0,62371.0,13224.0
11,Westminster,E09000033,49.0,51.0,3.6,8.2,23.3,30.1,19.3,15.5,77.5,22.3,62.4,4.8,NaN,100.0,89.5,62.9,NaN,NaN,9.9,37.1,4.2,5.7,11.5,65.5,6.9,5.8,29.56,NaN,26.73,13.62,27.29,28.33,17.11,Westminster,NaN,NaN,72399,NaN,68934.0,80301.0,NaN

In [39]:
# drop borough_name column from demographics
demographics = demographics.drop(['borough_name_y'], axis=1)

# rename column borough_name_x to borough_name
demographics = demographics.rename(columns={'borough_name_x' : 'borough_name', 'Male Full Time Workers - number_x':'male_full_time_hourly_mean_pay',
                                            'Male Part Time Workers - number_x': 'male_part_time_hourly_mean_pay',
                                            'Female Full Time Workers - number_x': 'female_full_time_hourly_mean_pay',
                                            'Female Part Time Workers - number_x':'female_part_time_hourly_mean_pay',
                                            'Total - number_x': 'total_hourly_mean_pay', 'Full Time Workers - number_x': 'full_time_hourly_mean_pay', 'Part Time Workers - number_x':'part_time_hourly_mean_pay',
                                            'Male Full Time Workers - number_y':'male_full_time_annual_mean_pay', 'Male Part Time Workers - number_y': 'male_part_time_annual_mean_pay',
                                            'Female Full Time Workers - number_y': 'female_full_time_annual_mean_pay',
                                            'Female Part Time Workers - number_y' : 'female_part_time_annual_mean_pay',
                                            'Total - number_y': 'total_annual_mean_pay', 'Full Time Workers - number_y': 'full_time_annual_mean_pay', 'Part Time Workers - number_y':'part_time_annual_mean_pay'})

In [40]:
# merge demographics and earnings_mean_weekly_by_borough on borough_code using inner join
demographics = demographics.merge(earnings_mean_weekly_by_borough, how='inner', left_on='borough_code', right_on='borough_code')

demographics

,borough_name_x,borough_code,% of all people aged 16+ who are female,% of all people aged 16+ who are male,% of all 16+ who are aged 16-19,% of all 16+ who are aged 20-24,% of all 16+ who are aged 25-34,% of all 16+ who are aged 35-49,% of all 16+ who are aged 50-64,% of all 16+ who are aged 65+,% in employment who are employees - aged 16+,% in employment who are self employed - aged 16+,Employment rate - aged 16+,Unemployment rate - aged 16+,% in employment working full-time - aged 16-19,% in employment working full-time - aged 20-24,% in employment working full-time - aged 25-49,% in employment working full-time - aged 50+,% in employment working part-time - aged 16-19,% in employment working part-time - aged 20-24,% in employment working part-time - aged 25-49,% in employment working part-time - aged 50+,% with NVQ1 only - aged 16-64,% with NVQ2 only - aged 16-64,% with NVQ3 only - aged 16-64,% with NVQ4+ - aged 16-64,% with other qualifications (NVQ) - aged 16-64,% with no qualifications (NVQ) - aged 16-64,male_full_time_hourly_mean_pay,male_part_time_hourly_mean_pay,female_full_time_hourly_mean_pay,female_part_time_hourly_mean_pay,total_hourly_mean_pay,full_time_hourly_mean_pay,part_time_hourly_mean_pay,male_full_time_annual_mean_pay,male_part_time_annual_mean_pay,female_full_time_annual_mean_pay,female_part_time_annual_mean_pay,total_annual_mean_pay,full_time_annual_mean_pay,part_time_annual_mean_pay,borough_name_y,Male Full Time Workers - number,Male Part Time Workers - number,Female Full Time Workers - number,Female Part Time Workers - number,Total - number,Full Time Workers - number,Part Time Workers - number
0,Camden,E09000007,48.7,51.3,4.8,10.2,20.2,24.4,24.5,15.9,78.3,21.5,61.6,5.6,NaN,50.9,80.9,63.3,NaN,49.1,19.1,35.9,6.5,8.1,9.3,60.9,7.6,6.7,29.99,16.26,24.06,16.75,26.26,27.43,16.56,78238.0,12817.0,53007,16649.0,55701.0,67456.0,14918.0,Camden,1152.1,236.1,904.7,273.5,864.6,1043.8,257.8
1,City of London,E09000001,46.4,53.6,NaN,NaN,45.4,NaN,23.4,31.1,73.0,27.0,82.3,NaN,NaN,NaN,100.0,63.8,NaN,NaN,NaN,NaN,NaN,NaN,NaN,100.0,NaN,NaN,NaN,NaN,21.38,NaN,26.24,24.95,NaN,NaN,NaN,44070,NaN,NaN,NaN,10686.0,City of London,NaN,NaN,809.6,NaN,882.8,929.9,NaN
2,Hackney,E09000012,50.5,49.5,6.5,8.4,33.7,26.6,17.6,7.1,82.6,16.8,67.8,4.4,NaN,53.8,82.5,67.1,81.6,46.2,16.8,31.8,6.2,8.6,10.4,57.4,5.5,10.8,22.92,14.04,20.29,13.96,20.65,21.74,13.99,50253.0,NaN,40820,11979.0,36493.0,45929.0,12705.0,Hackney,886.4,242.1,768.9,242.2,675.9,832.9,242.2
3,Hammersmith and Fulham,E09000013,49.2,50.8,3.2,8.6,29.5,28.3,17.7,12.8,83.3,16.0,67.8,3.7,NaN,95.0,89.9,72.4,NaN,NaN,10.1,26.4,2.8,5.8,10.2,70.0,5.7,4.7,29.87,16.93,21.66,15.57,25.47,26.16,16.02,69547.0,10739.0,45773,15470.0,51795.0,59058.0,13841.0,Hammersmith and Fulham,1152.3,244.2,827.6,259.8,892.4,1004.9,254.2
4,Islington,E09000019,50.0,50.0,4.7,9.3,28.6,27.6,16.9,12.9,83.2,16.7,70.0,4.2,NaN,72.6,82.7,71.9,NaN,27.4,17.3,28.1,3.6,8.6,8.9,61.7,5.8,10.5,27.58,19.11,24.50,16.28,25.25,26.11,17.37,63828.0,17918.0,52782,16621.0,51351.0,58688.0,17145.0,Islington,1073.7,361.3,931.4,303.6,881.3,1004.8,325.6
5,Kensington and Chelsea,E09000020,49.7,50.3,7.4,6.9,13.0,30.7,24.5,17.5,69.4,27.4,57.3,5.4,NaN,50.9,81.3,73.4,NaN,49.1,18.7,26.6,4.2,6.3,13.7,65.5,4.9,4.7,49.02,NaN,25.40,13.89,37.09,39.49,16.67,NaN,NaN,52487,13720.0,92675.0,110010.0,16003.0,Kensington and Chelsea,1905.8,NaN,950.0,256.7,1276.2,1511.5,308.7
6,Lambeth,E09000022,48.9,51.1,4.3,10.3,31.5,27.0,17.5,9.2,83.2,16.0,72.3,5.9,NaN,68.9,85.8,71.2,NaN,31.1,13.8,28.8,5.7,8.5,10.7,63.8,5.9,4.3,23.56,16.22,19.89,13.98,21.19,21.94,14.82,52281.0,16934.0,38202,12706.0,39986.0,46035.0,14205.0,Lambeth,915.6,295.1,750.6,250.3,725.8,841.6,266.8
7,Newham,E09000025,46.1,53.9,6.9,8.8,30.8,30.7,13.6,9.1,79.8,19.9,65.9,4.9,NaN,70.7,84.5,73.0,69.9,29.3,15.5,27.0,8.1,11.1,11.3,44.0,14.8,10.1,18.55,11.93,17.00,12.13,17.02,17.92,12.05,38763.0,14718.0,31500,12356.0,30081.0,35776.0,13345.0,Newham,744.3,239.9,652.8,236.7,582.3,705.9,237.9
8,Southwark,E09000028,50.2,49.8,5.5,8.9,26.4,29.5,20.1,9.5,79.8,20.0,71.5,4.1,NaN,59.1,75.9,67.5,84.7,40.9,23.8,32.5,5.0,9.6,12.0,62.0,5.1,5.4,24.35,14.51,21.11,14.31,21.99,22.85,14.36,54175.0,NaN,42149,13642.0,42639.0,48717.0,13851.0,Southwark,950.2,250.2,791.5,254.0,753.3,874.8,253.1
9,Tower Hamlets,E09000030,47.7,52.3,3.1,14.4,35.4,30.2,9.5,7.5,83.9,15.6,66.9,4.0,NaN,90.9,87.2,74.5,NaN,9.1,12.8,25.5,2.2,9.0,9.7,60.5,8.3,9.7,27.15,12.89,23.69,13.76,24.74,25.74,13.36,63639.0,NaN,50217,10785.0,50651.0,58151.0,12296.0,Tower Hamlets,1039.9,241.2,878.9,214.7,850.3,973.2,225.7
10,Wandsworth,E09000032,54.2,45.8,3.6,3.7,35.6,28.3,16.3,12.5,79.7,19.4,73.5,4.4,NaN,74.4,86.6,60.5,100.0,25.6,13.0,39.5,3.3,6.4,6.2,71.6,8.0,4.1,28.30,15.75,24.05,17.24,25.54,26.22,16.83,72998.0,11374.0,51429,13982.0,55523.0,62371.0,13224.0,Wandsworth,1094.3,236.0,907.5,296.9,890.6,1001.7,278.2
11,Westminster,E09000033,49.0,51.0,3.6,8.2,23.3,30.1,19.3,15.5,77.5,22.3,62.4,4.8,NaN,100.0,89.5,62.9,NaN,NaN,9.9,37.1,4.2,5.7,11.5,65.5,6.9,5.8,29.56,NaN,26.73,13.62,27.29,28.33,17.11,NaN,NaN,72399,NaN,68934.0,80301.0,NaN,Westminster,1141.8,NaN,1013.5,252.1,952.2,1085.6,318.2

In [41]:
# drop borough_name column from demographics
demographics = demographics.drop(['borough_name_y'], axis=1)

# rename column borough_name_x to borough_name
demographics = demographics.rename(columns={'borough_name_x' : 'borough_name', 'Male Full Time Workers - number':'male_full_time_weekly_mean_pay',
                                            'Male Part Time Workers - number': 'male_part_time_weekly_mean_pay',
                                            'Female Full Time Workers - number': 'female_full_time_weekly_mean_pay',
                                            'Female Part Time Workers - number':'female_part_time_weekly_mean_pay',
                                            'Total - number': 'total_weekly_mean_pay', 'Full Time Workers - number': 'full_time_weekly_mean_pay', 'Part Time Workers - number':'part_time_weekly_mean_pay'})

In [42]:
# merge demographics and earnings_median_hourly_by_borough on borough_code using inner join
demographics = demographics.merge(earnings_median_hourly_by_borough, how='inner', left_on='borough_code', right_on='borough_code')

demographics

,borough_name_x,borough_code,% of all people aged 16+ who are female,% of all people aged 16+ who are male,% of all 16+ who are aged 16-19,% of all 16+ who are aged 20-24,% of all 16+ who are aged 25-34,% of all 16+ who are aged 35-49,% of all 16+ who are aged 50-64,% of all 16+ who are aged 65+,% in employment who are employees - aged 16+,% in employment who are self employed - aged 16+,Employment rate - aged 16+,Unemployment rate - aged 16+,% in employment working full-time - aged 16-19,% in employment working full-time - aged 20-24,% in employment working full-time - aged 25-49,% in employment working full-time - aged 50+,% in employment working part-time - aged 16-19,% in employment working part-time - aged 20-24,% in employment working part-time - aged 25-49,% in employment working part-time - aged 50+,% with NVQ1 only - aged 16-64,% with NVQ2 only - aged 16-64,% with NVQ3 only - aged 16-64,% with NVQ4+ - aged 16-64,% with other qualifications (NVQ) - aged 16-64,% with no qualifications (NVQ) - aged 16-64,male_full_time_hourly_mean_pay,male_part_time_hourly_mean_pay,female_full_time_hourly_mean_pay,female_part_time_hourly_mean_pay,total_hourly_mean_pay,full_time_hourly_mean_pay,part_time_hourly_mean_pay,male_full_time_annual_mean_pay,male_part_time_annual_mean_pay,female_full_time_annual_mean_pay,female_part_time_annual_mean_pay,total_annual_mean_pay,full_time_annual_mean_pay,part_time_annual_mean_pay,male_full_time_weekly_mean_pay,male_part_time_weekly_mean_pay,female_full_time_weekly_mean_pay,female_part_time_weekly_mean_pay,total_weekly_mean_pay,full_time_weekly_mean_pay,part_time_weekly_mean_pay,borough_name_y,Male Full Time Workers - number,Male Part Time Workers - number,Female Full Time Workers - number,Female Part Time Workers - number,Total - number,Full Time Workers - number,Part Time Workers - number
0,Camden,E09000007,48.7,51.3,4.8,10.2,20.2,24.4,24.5,15.9,78.3,21.5,61.6,5.6,NaN,50.9,80.9,63.3,NaN,49.1,19.1,35.9,6.5,8.1,9.3,60.9,7.6,6.7,29.99,16.26,24.06,16.75,26.26,27.43,16.56,78238.0,12817.0,53007,16649.0,55701.0,67456.0,14918.0,1152.1,236.1,904.7,273.5,864.6,1043.8,257.8,Camden,22.27,15.06,20.23,11.20,19.17,21.16,12.16
1,City of London,E09000001,46.4,53.6,NaN,NaN,45.4,NaN,23.4,31.1,73.0,27.0,82.3,NaN,NaN,NaN,100.0,63.8,NaN,NaN,NaN,NaN,NaN,NaN,NaN,100.0,NaN,NaN,NaN,NaN,21.38,NaN,26.24,24.95,NaN,NaN,NaN,44070,NaN,NaN,NaN,10686.0,NaN,NaN,809.6,NaN,882.8,929.9,NaN,City of London,NaN,NaN,19.97,NaN,NaN,NaN,NaN
2,Hackney,E09000012,50.5,49.5,6.5,8.4,33.7,26.6,17.6,7.1,82.6,16.8,67.8,4.4,NaN,53.8,82.5,67.1,81.6,46.2,16.8,31.8,6.2,8.6,10.4,57.4,5.5,10.8,22.92,14.04,20.29,13.96,20.65,21.74,13.99,50253.0,NaN,40820,11979.0,36493.0,45929.0,12705.0,886.4,242.1,768.9,242.2,675.9,832.9,242.2,Hackney,19.01,9.67,17.70,10.52,16.34,18.43,10.40
3,Hammersmith and Fulham,E09000013,49.2,50.8,3.2,8.6,29.5,28.3,17.7,12.8,83.3,16.0,67.8,3.7,NaN,95.0,89.9,72.4,NaN,NaN,10.1,26.4,2.8,5.8,10.2,70.0,5.7,4.7,29.87,16.93,21.66,15.57,25.47,26.16,16.02,69547.0,10739.0,45773,15470.0,51795.0,59058.0,13841.0,1152.3,244.2,827.6,259.8,892.4,1004.9,254.2,Hammersmith and Fulham,22.64,NaN,18.27,13.82,19.78,20.66,14.22
4,Islington,E09000019,50.0,50.0,4.7,9.3,28.6,27.6,16.9,12.9,83.2,16.7,70.0,4.2,NaN,72.6,82.7,71.9,NaN,27.4,17.3,28.1,3.6,8.6,8.9,61.7,5.8,10.5,27.58,19.11,24.50,16.28,25.25,26.11,17.37,63828.0,17918.0,52782,16621.0,51351.0,58688.0,17145.0,1073.7,361.3,931.4,303.6,881.3,1004.8,325.6,Islington,21.92,NaN,19.57,12.12,19.59,20.91,12.58
5,Kensington and Chelsea,E09000020,49.7,50.3,7.4,6.9,13.0,30.7,24.5,17.5,69.4,27.4,57.3,5.4,NaN,50.9,81.3,73.4,NaN,49.1,18.7,26.6,4.2,6.3,13.7,65.5,4.9,4.7,49.02,NaN,25.40,13.89,37.09,39.49,16.67,NaN,NaN,52487,13720.0,92675.0,110010.0,16003.0,1905.8,NaN,950.0,256.7,1276.2,1511.5,308.7,Kensington and Chelsea,NaN,NaN,22.32,11.01,21.13,23.19,11.95
6,Lambeth,E09000022,48.9,51.1,4.3,10.3,31.5,27.0,17.5,9.2,83.2,16.0,72.3,5.9,NaN,68.9,85.8,71.2,NaN,31.1,13.8,28.8,5.7,8.5,10.7,63.8,5.9,4.3,23.56,16.22,19.89,13.98,21.19,21.94,14.82,52281.0,16934.0,38202,12706.0,39986.0,46035.0,14205.0,915.6,295.1,750.6,250.3,725.8,841.6,266.8,Lambeth,19.17,10.42,18.40,10.38,17.47,18.84,10.43
7,Newham,E09000025,46.1,53.9,6.9,8.8,30.8,30.7,13.6,9.1,79.8,19.9,65.9,4.9,NaN,70.7,84.5,73.0,69.9,29.3,15.5,27.0,8.1,11.1,11.3,44.0,14.8,10.1,18.55,11.93,17.00,12.13,17.02,17.92,12.05,38763.0,14718.0,31500,12356.0,30081.0,35776.0,13345.0,744.3,239.9,652.8,236.7,582.3,705.9,237.9,Newham,16.31,9.41,15.08,10.07,13.89,15.83,9.65
8,Southwark,E09000028,50.2,49.8,5.5,8.9,26.4,29.5,20.1,9.5,79.8,20.0,71.5,4.1,NaN,59.1,75.9,67.5,84.7,40.9,23.8,32.5,5.0,9.6,12.0,62.0,5.1,5.4,24.35,14.51,21.11,14.31,21.99,22.85,14.36,54175.0,NaN,42149,13642.0,42639.0,48717.0,13851.0,950.2,250.2,791.5,254.0,753.3,874.8,253.1,Southwark,19.10,10.62,18.18,10.62,17.24,18.76,10.63
9,Tower Hamlets,E09000030,47.7,52.3,3.1,14.4,35.4,30.2,9.5,7.5,83.9,15.6,66.9,4.0,NaN,90.9,87.2,74.5,NaN,9.1,12.8,25.5,2.2,9.0,9.7,60.5,8.3,9.7,27.15,12.89,23.69,13.76,24.74,25.74,13.36,63639.0,NaN,50217,10785.0,50651.0,58151.0,12296.0,1039.9,241.2,878.9,214.7,850.3,973.2,225.7,Tower Hamlets,21.46,9.48,19.87,11.20,19.15,20.64,10.01
10,Wandsworth,E09000032,54.2,45.8,3.6,3.7,35.6,28.3,16.3,12.5,79.7,19.4,73.5,4.4,NaN,74.4,86.6,60.5,100.0,25.6,13.0,39.5,3.3,6.4,6.2,71.6,8.0,4.1,28.30,15.75,24.05,17.24,25.54,26.22,16.83,72998.0,11374.0,51429,13982.0,55523.0,62371.0,13224.0,1094.3,236.0,907.5,296.9,890.6,1001.7,278.2,Wandsworth,23.17,13.37,20.87,10.71,20.50,21.73,11.93
11,Westminster,E09000033,49.0,51.0,3.6,8.2,23.3,30.1,19.3,15.5,77.5,22.3,62.4,4.8,NaN,100.0,89.5,62.9,NaN,NaN,9.9,37.1,4.2,5.7,11.5,65.5,6.9,5.8,29.56,NaN,26.73,13.62,27.29,28.33,17.11,NaN,NaN,72399,NaN,68934.0,80301.0,NaN,1141.8,NaN,1013.5,252.1,952.2,1085.6,318.2,Westminster,22.90,9.95,19.12,10.69,19.14,21.03,10.51

In [43]:
# drop borough_name column from demographics
demographics = demographics.drop(['borough_name_y'], axis=1)

# rename column borough_name_x to borough_name
demographics = demographics.rename(columns={'borough_name_x' : 'borough_name'})

In [44]:
# merge demographics and earnings_median_annual_by_borough on borough_code using inner join
demographics = demographics.merge(earnings_median_annual_by_borough, how='inner', left_on='borough_code', right_on='borough_code')

demographics

,borough_name_x,borough_code,% of all people aged 16+ who are female,% of all people aged 16+ who are male,% of all 16+ who are aged 16-19,% of all 16+ who are aged 20-24,% of all 16+ who are aged 25-34,% of all 16+ who are aged 35-49,% of all 16+ who are aged 50-64,% of all 16+ who are aged 65+,% in employment who are employees - aged 16+,% in employment who are self employed - aged 16+,Employment rate - aged 16+,Unemployment rate - aged 16+,% in employment working full-time - aged 16-19,% in employment working full-time - aged 20-24,% in employment working full-time - aged 25-49,% in employment working full-time - aged 50+,% in employment working part-time - aged 16-19,% in employment working part-time - aged 20-24,% in employment working part-time - aged 25-49,% in employment working part-time - aged 50+,% with NVQ1 only - aged 16-64,% with NVQ2 only - aged 16-64,% with NVQ3 only - aged 16-64,% with NVQ4+ - aged 16-64,% with other qualifications (NVQ) - aged 16-64,% with no qualifications (NVQ) - aged 16-64,male_full_time_hourly_mean_pay,male_part_time_hourly_mean_pay,female_full_time_hourly_mean_pay,female_part_time_hourly_mean_pay,total_hourly_mean_pay,full_time_hourly_mean_pay,part_time_hourly_mean_pay,male_full_time_annual_mean_pay,male_part_time_annual_mean_pay,female_full_time_annual_mean_pay,female_part_time_annual_mean_pay,total_annual_mean_pay,full_time_annual_mean_pay,part_time_annual_mean_pay,male_full_time_weekly_mean_pay,male_part_time_weekly_mean_pay,female_full_time_weekly_mean_pay,female_part_time_weekly_mean_pay,total_weekly_mean_pay,full_time_weekly_mean_pay,part_time_weekly_mean_pay,Male Full Time Workers - number_x,Male Part Time Workers - number_x,Female Full Time Workers - number_x,Female Part Time Workers - number_x,Total - number_x,Full Time Workers - number_x,Part Time Workers - number_x,borough_name_y,Male Full Time Workers - number_y,Male Part Time Workers - number_y,Female Full Time Workers - number_y,Female Part Time Workers - number_y,Total - number_y,Full Time Workers - number_y,Part Time Workers - number_y
0,Camden,E09000007,48.7,51.3,4.8,10.2,20.2,24.4,24.5,15.9,78.3,21.5,61.6,5.6,NaN,50.9,80.9,63.3,NaN,49.1,19.1,35.9,6.5,8.1,9.3,60.9,7.6,6.7,29.99,16.26,24.06,16.75,26.26,27.43,16.56,78238.0,12817.0,53007,16649.0,55701.0,67456.0,14918.0,1152.1,236.1,904.7,273.5,864.6,1043.8,257.8,22.27,15.06,20.23,11.20,19.17,21.16,12.16,Camden,44963.0,NaN,39404.0,NaN,35247.0,42416.0,NaN
1,City of London,E09000001,46.4,53.6,NaN,NaN,45.4,NaN,23.4,31.1,73.0,27.0,82.3,NaN,NaN,NaN,100.0,63.8,NaN,NaN,NaN,NaN,NaN,NaN,NaN,100.0,NaN,NaN,NaN,NaN,21.38,NaN,26.24,24.95,NaN,NaN,NaN,44070,NaN,NaN,NaN,10686.0,NaN,NaN,809.6,NaN,882.8,929.9,NaN,NaN,NaN,19.97,NaN,NaN,NaN,NaN,City of London,NaN,NaN,39941.0,NaN,NaN,NaN,10047.0
2,Hackney,E09000012,50.5,49.5,6.5,8.4,33.7,26.6,17.6,7.1,82.6,16.8,67.8,4.4,NaN,53.8,82.5,67.1,81.6,46.2,16.8,31.8,6.2,8.6,10.4,57.4,5.5,10.8,22.92,14.04,20.29,13.96,20.65,21.74,13.99,50253.0,NaN,40820,11979.0,36493.0,45929.0,12705.0,886.4,242.1,768.9,242.2,675.9,832.9,242.2,19.01,9.67,17.70,10.52,16.34,18.43,10.40,Hackney,38413.0,8957.0,35318.0,9134.0,28790.0,35974.0,9004.0
3,Hammersmith and Fulham,E09000013,49.2,50.8,3.2,8.6,29.5,28.3,17.7,12.8,83.3,16.0,67.8,3.7,NaN,95.0,89.9,72.4,NaN,NaN,10.1,26.4,2.8,5.8,10.2,70.0,5.7,4.7,29.87,16.93,21.66,15.57,25.47,26.16,16.02,69547.0,10739.0,45773,15470.0,51795.0,59058.0,13841.0,1152.3,244.2,827.6,259.8,892.4,1004.9,254.2,22.64,NaN,18.27,13.82,19.78,20.66,14.22,Hammersmith and Fulham,44975.0,NaN,38735.0,NaN,38799.0,42104.0,NaN
4,Islington,E09000019,50.0,50.0,4.7,9.3,28.6,27.6,16.9,12.9,83.2,16.7,70.0,4.2,NaN,72.6,82.7,71.9,NaN,27.4,17.3,28.1,3.6,8.6,8.9,61.7,5.8,10.5,27.58,19.11,24.50,16.28,25.25,26.11,17.37,63828.0,17918.0,52782,16621.0,51351.0,58688.0,17145.0,1073.7,361.3,931.4,303.6,881.3,1004.8,325.6,21.92,NaN,19.57,12.12,19.59,20.91,12.58,Islington,44614.0,NaN,NaN,12054.0,37634.0,43715.0,13184.0
5,Kensington and Chelsea,E09000020,49.7,50.3,7.4,6.9,13.0,30.7,24.5,17.5,69.4,27.4,57.3,5.4,NaN,50.9,81.3,73.4,NaN,49.1,18.7,26.6,4.2,6.3,13.7,65.5,4.9,4.7,49.02,NaN,25.40,13.89,37.09,39.49,16.67,NaN,NaN,52487,13720.0,92675.0,110010.0,16003.0,1905.8,NaN,950.0,256.7,1276.2,1511.5,308.7,NaN,NaN,22.32,11.01,21.13,23.19,11.95,Kensington and Chelsea,NaN,NaN,41557.0,NaN,36277.0,NaN,NaN
6,Lambeth,E09000022,48.9,51.1,4.3,10.3,31.5,27.0,17.5,9.2,83.2,16.0,72.3,5.9,NaN,68.9,85.8,71.2,NaN,31.1,13.8,28.8,5.7,8.5,10.7,63.8,5.9,4.3,23.56,16.22,19.89,13.98,21.19,21.94,14.82,52281.0,16934.0,38202,12706.0,39986.0,46035.0,14205.0,915.6,295.1,750.6,250.3,725.8,841.6,266.8,19.17,10.42,18.40,10.38,17.47,18.84,10.43,Lambeth,40150.0,NaN,34554.0,9072.0,33084.0,36969.0,11253.0
7,Newham,E09000025,46.1,53.9,6.9,8.8,30.8,30.7,13.6,9.1,79.8,19.9,65.9,4.9,NaN,70.7,84.5,73.0,69.9,29.3,15.5,27.0,8.1,11.1,11.3,44.0,14.8,10.1,18.55,11.93,17.00,12.13,17.02,17.92,12.05,38763.0,14718.0,31500,12356.0,30081.0,35776.0,13345.0,744.3,239.9,652.8,236.7,582.3,705.9,237.9,16.31,9.41,15.08,10.07,13.89,15.83,9.65,Newham,34134.0,12123.0,27498.0,11193.0,26107.0,31807.0,11399.0
8,Southwark,E09000028,50.2,49.8,5.5,8.9,26.4,29.5,20.1,9.5,79.8,20.0,71.5,4.1,NaN,59.1,75.9,67.5,84.7,40.9,23.8,32.5,5.0,9.6,12.0,62.0,5.1,5.4,24.35,14.51,21.11,14.31,21.99,22.85,14.36,54175.0,NaN,42149,13642.0,42639.0,48717.0,13851.0,950.2,250.2,791.5,254.0,753.3,874.8,253.1,19.10,10.62,18.18,10.62,17.24,18.76,10.63,Southwark,42542.0,NaN,36555.0,10284.0,35056.0,39130.0,10586.0
9,Tower Hamlets,E09000030,47.7,52.3,3.1,14.4,35.4,30.2,9.5,7.5,83.9,15.6,66.9,4.0,NaN,90.9,87.2,74.5,NaN,9.1,12.8,25.5,2.2,9.0,9.7,60.5,8.3,9.7,27.15,12.89,23.69,13.76,24.74,25.74,13.36,63639.0,NaN,50217,10785.0,50651.0,58151.0,12296.0,1039.9,241.2,878.9,214.7,850.3,973.2,225.7,21.46,9.48,19.87,11.20,19.15,20.64,10.01,Tower Hamlets,45812.0,9776.0,39312.0,8890.0,38000.0,42608.0,9772.0
10,Wandsworth,E09000032,54.2,45.8,3.6,3.7,35.6,28.3,16.3,12.5,79.7,19.4,73.5,4.4,NaN,74.4,86.6,60.5,100.0,25.6,13.0,39.5,3.3,6.4,6.2,71.6,8.0,4.1,28.30,15.75,24.05,17.24,25.54,26.22,16.83,72998.0,11374.0,51429,13982.0,55523.0,62371.0,13224.0,1094.3,236.0,907.5,296.9,890.6,1001.7,278.2,23.17,13.37,20.87,10.71,20.50,21.73,11.93,Wandsworth,47145.0,NaN,41096.0,10812.0,39086.0,43449.0,10759.0
11,Westminster,E09000033,49.0,51.0,3.6,8.2,23.3,30.1,19.3,15.5,77.5,22.3,62.4,4.8,NaN,100.0,89.5,62.9,NaN,NaN,9.9,37.1,4.2,5.7,11.5,65.5,6.9,5.8,29.56,NaN,26.73,13.62,27.29,28.33,17.11,NaN,NaN,72399,NaN,68934.0,80301.0,NaN,1141.8,NaN,1013.5,252.1,952.2,1085.6,318.2,22.90,9.95,19.12,10.69,19.14,21.03,10.51,Westminster,NaN,NaN,40345.0,10979.0,37450.0,43990.0,10825.0

In [45]:
# drop borough_name column from demographics
demographics = demographics.drop(['borough_name_y'], axis=1)

# rename column borough_name_x to borough_name
demographics = demographics.rename(columns={'borough_name_x' : 'borough_name', 'Male Full Time Workers - number_x':'male_full_time_hourly_median_pay',
                                            'Male Part Time Workers - number_x': 'male_part_time_hourly_median_pay',
                                            'Female Full Time Workers - number_x': 'female_full_time_hourly_median_pay',
                                            'Female Part Time Workers - number_x':'female_part_time_hourly_median_pay',
                                            'Total - number_x': 'total_hourly_median_pay', 'Full Time Workers - number_x': 'full_time_hourly_median_pay', 'Part Time Workers - number_x':'part_time_hourly_median_pay',
                                            'Male Full Time Workers - number_y':'male_full_time_annual_median_pay', 'Male Part Time Workers - number_y': 'male_part_time_annual_median_pay',
                                            'Female Full Time Workers - number_y': 'female_full_time_annual_median_pay',
                                            'Female Part Time Workers - number_y' : 'female_part_time_annual_median_pay',
                                            'Total - number_y': 'total_annual_median_pay', 'Full Time Workers - number_y': 'full_time_annual_median_pay', 'Part Time Workers - number_y':'part_time_annual_median_pay'})

In [46]:
# merge demographics and earnings_median_weekly_by_borough on borough_code using inner join
demographics = demographics.merge(earnings_median_weekly_by_borough, how='inner', left_on='borough_code', right_on='borough_code')

demographics

,borough_name_x,borough_code,% of all people aged 16+ who are female,% of all people aged 16+ who are male,% of all 16+ who are aged 16-19,% of all 16+ who are aged 20-24,% of all 16+ who are aged 25-34,% of all 16+ who are aged 35-49,% of all 16+ who are aged 50-64,% of all 16+ who are aged 65+,% in employment who are employees - aged 16+,% in employment who are self employed - aged 16+,Employment rate - aged 16+,Unemployment rate - aged 16+,% in employment working full-time - aged 16-19,% in employment working full-time - aged 20-24,% in employment working full-time - aged 25-49,% in employment working full-time - aged 50+,% in employment working part-time - aged 16-19,% in employment working part-time - aged 20-24,% in employment working part-time - aged 25-49,% in employment working part-time - aged 50+,% with NVQ1 only - aged 16-64,% with NVQ2 only - aged 16-64,% with NVQ3 only - aged 16-64,% with NVQ4+ - aged 16-64,% with other qualifications (NVQ) - aged 16-64,% with no qualifications (NVQ) - aged 16-64,male_full_time_hourly_mean_pay,male_part_time_hourly_mean_pay,female_full_time_hourly_mean_pay,female_part_time_hourly_mean_pay,total_hourly_mean_pay,full_time_hourly_mean_pay,part_time_hourly_mean_pay,male_full_time_annual_mean_pay,male_part_time_annual_mean_pay,female_full_time_annual_mean_pay,female_part_time_annual_mean_pay,total_annual_mean_pay,full_time_annual_mean_pay,part_time_annual_mean_pay,male_full_time_weekly_mean_pay,male_part_time_weekly_mean_pay,female_full_time_weekly_mean_pay,female_part_time_weekly_mean_pay,total_weekly_mean_pay,full_time_weekly_mean_pay,part_time_weekly_mean_pay,male_full_time_hourly_median_pay,male_part_time_hourly_median_pay,female_full_time_hourly_median_pay,female_part_time_hourly_median_pay,total_hourly_median_pay,full_time_hourly_median_pay,part_time_hourly_median_pay,male_full_time_annual_median_pay,male_part_time_annual_median_pay,female_full_time_annual_median_pay,female_part_time_annual_median_pay,total_annual_median_pay,full_time_annual_median_pay,part_time_annual_median_pay,borough_name_y,Male Full Time Workers - number,Male Part Time Workers - number,Female Full Time Workers - number,Female Part Time Workers - number,Total - number,Full Time Workers - number,Part Time Workers - number
0,Camden,E09000007,48.7,51.3,4.8,10.2,20.2,24.4,24.5,15.9,78.3,21.5,61.6,5.6,NaN,50.9,80.9,63.3,NaN,49.1,19.1,35.9,6.5,8.1,9.3,60.9,7.6,6.7,29.99,16.26,24.06,16.75,26.26,27.43,16.56,78238.0,12817.0,53007,16649.0,55701.0,67456.0,14918.0,1152.1,236.1,904.7,273.5,864.6,1043.8,257.8,22.27,15.06,20.23,11.20,19.17,21.16,12.16,44963.0,NaN,39404.0,NaN,35247.0,42416.0,NaN,Camden,844.0,NaN,762.1,NaN,662.0,795.4,167.0
1,City of London,E09000001,46.4,53.6,NaN,NaN,45.4,NaN,23.4,31.1,73.0,27.0,82.3,NaN,NaN,NaN,100.0,63.8,NaN,NaN,NaN,NaN,NaN,NaN,NaN,100.0,NaN,NaN,NaN,NaN,21.38,NaN,26.24,24.95,NaN,NaN,NaN,44070,NaN,NaN,NaN,10686.0,NaN,NaN,809.6,NaN,882.8,929.9,NaN,NaN,NaN,19.97,NaN,NaN,NaN,NaN,NaN,NaN,39941.0,NaN,NaN,NaN,10047.0,City of London,NaN,NaN,741.3,NaN,NaN,NaN,NaN
2,Hackney,E09000012,50.5,49.5,6.5,8.4,33.7,26.6,17.6,7.1,82.6,16.8,67.8,4.4,NaN,53.8,82.5,67.1,81.6,46.2,16.8,31.8,6.2,8.6,10.4,57.4,5.5,10.8,22.92,14.04,20.29,13.96,20.65,21.74,13.99,50253.0,NaN,40820,11979.0,36493.0,45929.0,12705.0,886.4,242.1,768.9,242.2,675.9,832.9,242.2,19.01,9.67,17.70,10.52,16.34,18.43,10.40,38413.0,8957.0,35318.0,9134.0,28790.0,35974.0,9004.0,Hackney,736.3,174.6,674.4,173.8,574.9,709.2,174.2
3,Hammersmith and Fulham,E09000013,49.2,50.8,3.2,8.6,29.5,28.3,17.7,12.8,83.3,16.0,67.8,3.7,NaN,95.0,89.9,72.4,NaN,NaN,10.1,26.4,2.8,5.8,10.2,70.0,5.7,4.7,29.87,16.93,21.66,15.57,25.47,26.16,16.02,69547.0,10739.0,45773,15470.0,51795.0,59058.0,13841.0,1152.3,244.2,827.6,259.8,892.4,1004.9,254.2,22.64,NaN,18.27,13.82,19.78,20.66,14.22,44975.0,NaN,38735.0,NaN,38799.0,42104.0,NaN,Hammersmith and Fulham,849.9,228.8,718.5,NaN,728.0,795.3,208.3
4,Islington,E09000019,50.0,50.0,4.7,9.3,28.6,27.6,16.9,12.9,83.2,16.7,70.0,4.2,NaN,72.6,82.7,71.9,NaN,27.4,17.3,28.1,3.6,8.6,8.9,61.7,5.8,10.5,27.58,19.11,24.50,16.28,25.25,26.11,17.37,63828.0,17918.0,52782,16621.0,51351.0,58688.0,17145.0,1073.7,361.3,931.4,303.6,881.3,1004.8,325.6,21.92,NaN,19.57,12.12,19.59,20.91,12.58,44614.0,NaN,NaN,12054.0,37634.0,43715.0,13184.0,Islington,859.0,NaN,728.3,249.1,699.1,801.0,252.4
5,Kensington and Chelsea,E09000020,49.7,50.3,7.4,6.9,13.0,30.7,24.5,17.5,69.4,27.4,57.3,5.4,NaN,50.9,81.3,73.4,NaN,49.1,18.7,26.6,4.2,6.3,13.7,65.5,4.9,4.7,49.02,NaN,25.40,13.89,37.09,39.49,16.67,NaN,NaN,52487,13720.0,92675.0,110010.0,16003.0,1905.8,NaN,950.0,256.7,1276.2,1511.5,308.7,NaN,NaN,22.32,11.01,21.13,23.19,11.95,NaN,NaN,41557.0,NaN,36277.0,NaN,NaN,Kensington and Chelsea,NaN,NaN,818.0,NaN,763.7,901.3,219.2
6,Lambeth,E09000022,48.9,51.1,4.3,10.3,31.5,27.0,17.5,9.2,83.2,16.0,72.3,5.9,NaN,68.9,85.8,71.2,NaN,31.1,13.8,28.8,5.7,8.5,10.7,63.8,5.9,4.3,23.56,16.22,19.89,13.98,21.19,21.94,14.82,52281.0,16934.0,38202,12706.0,39986.0,46035.0,14205.0,915.6,295.1,750.6,250.3,725.8,841.6,266.8,19.17,10.42,18.40,10.38,17.47,18.84,10.43,40150.0,NaN,34554.0,9072.0,33084.0,36969.0,11253.0,Lambeth,746.8,221.6,689.9,200.1,634.8,714.4,206.5
7,Newham,E09000025,46.1,53.9,6.9,8.8,30.8,30.7,13.6,9.1,79.8,19.9,65.9,4.9,NaN,70.7,84.5,73.0,69.9,29.3,15.5,27.0,8.1,11.1,11.3,44.0,14.8,10.1,18.55,11.93,17.00,12.13,17.02,17.92,12.05,38763.0,14718.0,31500,12356.0,30081.0,35776.0,13345.0,744.3,239.9,652.8,236.7,582.3,705.9,237.9,16.31,9.41,15.08,10.07,13.89,15.83,9.65,34134.0,12123.0,27498.0,11193.0,26107.0,31807.0,11399.0,Newham,670.7,208.2,571.4,210.9,517.5,622.8,210.5
8,Southwark,E09000028,50.2,49.8,5.5,8.9,26.4,29.5,20.1,9.5,79.8,20.0,71.5,4.1,NaN,59.1,75.9,67.5,84.7,40.9,23.8,32.5,5.0,9.6,12.0,62.0,5.1,5.4,24.35,14.51,21.11,14.31,21.99,22.85,14.36,54175.0,NaN,42149,13642.0,42639.0,48717.0,13851.0,950.2,250.2,791.5,254.0,753.3,874.8,253.1,19.10,10.62,18.18,10.62,17.24,18.76,10.63,42542.0,NaN,36555.0,10284.0,35056.0,39130.0,10586.0,Southwark,737.1,215.4,695.4,195.5,628.0,709.1,198.4
9,Tower Hamlets,E09000030,47.7,52.3,3.1,14.4,35.4,30.2,9.5,7.5,83.9,15.6,66.9,4.0,NaN,90.9,87.2,74.5,NaN,9.1,12.8,25.5,2.2,9.0,9.7,60.5,8.3,9.7,27.15,12.89,23.69,13.76,24.74,25.74,13.36,63639.0,NaN,50217,10785.0,50651.0,58151.0,12296.0,1039.9,241.2,878.9,214.7,850.3,973.2,225.7,21.46,9.48,19.87,11.20,19.15,20.64,10.01,45812.0,9776.0,39312.0,8890.0,38000.0,42608.0,9772.0,Tower Hamlets,804.8,186.2,741.5,182.0,688.9,780.4,184.6
10,Wandsworth,E09000032,54.2,45.8,3.6,3.7,35.6,28.3,16.3,12.5,79.7,19.4,73.5,4.4,NaN,74.4,86.6,60.5,100.0,25.6,13.0,39.5,3.3,6.4,6.2,71.6,8.0,4.1,28.30,15.75,24.05,17.24,25.54,26.22,16.83,72998.0,11374.0,51429,13982.0,55523.0,62371.0,13224.0,1094.3,236.0,907.5,296.9,890.6,1001.7,278.2,23.17,13.37,20.87,10.71,20.50,21.73,11.93,47145.0,NaN,41096.0,10812.0,39086.0,43449.0,10759.0,Wandsworth,862.4,NaN,766.6,212.6,720.9,811.8,199.2
11,Westminster,E09000033,49.0,51.0,3.6,8.2,23.3,30.1,19.3,15.5,77.5,22.3,62.4,4.8,NaN,100.0,89.5,62.9,NaN,NaN,9.9,37.1,4.2,5.7,11.5,65.5,6.9,5.8,29.56,NaN,26.73,13.62,27.29,28.33,17.11,NaN,NaN,72399,NaN,68934.0,80301.0,NaN,1141.8,NaN,1013.5,252.1,952.2,1085.6,318.2,22.90,9.95,19.12,10.69,19.14,21.03,10.51,NaN,NaN,40345.0,10979.0,37450.0,43990.0,10825.0,Westminster,886.6,NaN,721.6,213.5,703.9,812.8,210.4

In [47]:
# drop borough_name column from demographics
demographics = demographics.drop(['borough_name_y'], axis=1)

# rename column borough_name_x to borough_name
demographics = demographics.rename(columns={'borough_name_x' : 'borough_name', 'Male Full Time Workers - number':'male_full_time_weekly_median_pay',
                                            'Male Part Time Workers - number': 'male_part_time_weekly_median_pay',
                                            'Female Full Time Workers - number': 'female_full_time_weekly_median_pay',
                                            'Female Part Time Workers - number':'female_part_time_weekly_median_pay',
                                            'Total - number': 'total_weekly_median_pay', 'Full Time Workers - number': 'full_time_weekly_median_pay', 'Part Time Workers - number':'part_time_weekly_median_pay'})

In [48]:
# read excel file
indices_of_deprivation_IMD = pd.read_excel("../Data/Demographics/File_11_-_IoD2019_Local_Authority_District_Summaries__upper-tier__.xlsx", sheet_name='IMD',header=0)

indices_of_deprivation_IMD

,Upper Tier Local Authority District code (2019),Upper Tier Local Authority District name (2019),IMD - Average rank,IMD - Rank of average rank,IMD - Average score,IMD - Rank of average score,IMD - Proportion of LSOAs in most deprived 10% nationally,IMD - Rank of proportion of LSOAs in most deprived 10% nationally,IMD 2019 - Extent,IMD 2019 - Rank of extent,IMD 2019 - Local concentration,IMD 2019 - Rank of local concentration
0,E06000001,Hartlepool,22581.98,21,35.037,9,0.3621,9,0.4973,13,32560.44,8
1,E06000002,Middlesbrough,23729.10,14,40.460,5,0.4884,1,0.5710,6,32726.13,3
2,E06000003,Redcar and Cleveland,20348.40,48,29.792,31,0.2386,23,0.3630,33,32545.62,9
3,E06000004,Stockton-on-Tees,17541.72,76,25.790,56,0.2083,32,0.3024,46,32301.09,18
4,E06000005,Darlington,18284.63,73,25.657,59,0.1846,37,0.2891,52,32173.97,24
...,...,...,...,...,...,...,...,...,...,...,...,...
146,E10000029,Suffolk,14990.69,99,18.460,101,0.0499,85,0.1107,106,29444.04,83
147,E10000030,Surrey,7935.96,147,10.087,145,0.0000,130,0.0082,143,21921.61,142
148,E10000031,Warwickshire,12848.10,119,15.640,121,0.0177,108,0.0664,119,27459.27,114
149,E10000032,West Sussex,12043.61,125,14.429,129,0.0099,115,0.0425,130,25770.38,130
150,E10000034,Worcestershire,14401.88,105,18.089,105,0.0495,86,0.1265,98,29616.64,81

In [49]:
# read excel file
indices_of_deprivation_income = pd.read_excel("../Data/Demographics/File_11_-_IoD2019_Local_Authority_District_Summaries__upper-tier__.xlsx", sheet_name='Income',header=0)


indices_of_deprivation_income

,Upper Tier Local Authority District code (2019),Upper Tier Local Authority District name (2019),Income - Average rank,Income - Rank of average rank,Income - Average score,Income - Rank of average score,Income - Proportion of LSOAs in most deprived 10% nationally,Income - Rank of proportion of LSOAs in most deprived 10% nationally,Income scale,Rank of Income Scale
0,E06000001,Hartlepool,23509.14,15,0.228,5,0.3793,7,21084,128
1,E06000002,Middlesbrough,23950.79,9,0.251,1,0.5000,1,34959,84
2,E06000003,Redcar and Cleveland,20604.49,43,0.186,26,0.2614,23,25142,119
3,E06000004,Stockton-on-Tees,18291.93,72,0.164,44,0.2167,30,31750,100
4,E06000005,Darlington,18361.47,67,0.153,56,0.1846,34,16208,140
...,...,...,...,...,...,...,...,...,...,...
146,E10000029,Suffolk,13963.78,114,0.101,115,0.0340,105,74758,18
147,E10000030,Surrey,8441.00,146,0.061,147,0.0000,136,71240,22
148,E10000031,Warwickshire,12714.08,126,0.091,126,0.0147,120,50127,50
149,E10000032,West Sussex,12195.21,128,0.084,128,0.0040,133,70274,23
150,E10000034,Worcestershire,13871.40,117,0.103,114,0.0440,101,58953,30

In [50]:
# read excel file
indices_of_deprivation_employment = pd.read_excel("../Data/Demographics/File_11_-_IoD2019_Local_Authority_District_Summaries__upper-tier__.xlsx", sheet_name='Employment',header=0)


indices_of_deprivation_employment

,Upper Tier Local Authority District code (2019),Upper Tier Local Authority District name (2019),Employment - Average rank,Employment - Rank of average rank,Employment - Average score,Employment - Rank of average score,Employment - Proportion of LSOAs in most deprived 10% nationally,Employment - Rank of proportion of LSOAs in most deprived 10% nationally,Employment scale,Rank of Employment Scale
0,E06000001,Hartlepool,24902.51,5,0.185,4,0.4310,5,9715.25,129
1,E06000002,Middlesbrough,25231.38,4,0.191,3,0.4884,2,15542.50,88
2,E06000003,Redcar and Cleveland,23809.65,13,0.165,8,0.3295,12,12291.00,111
3,E06000004,Stockton-on-Tees,20104.05,46,0.135,35,0.2083,30,15089.25,90
4,E06000005,Darlington,20134.54,45,0.128,38,0.1846,41,7637.50,138
...,...,...,...,...,...,...,...,...,...,...
146,E10000029,Suffolk,14182.96,105,0.083,103,0.0522,83,33636.25,19
147,E10000030,Surrey,7952.39,146,0.050,147,0.0000,133,33171.50,21
148,E10000031,Warwickshire,12895.06,121,0.074,120,0.0265,97,23313.00,44
149,E10000032,West Sussex,12412.64,124,0.070,125,0.0099,115,31973.50,22
150,E10000034,Worcestershire,14741.27,101,0.086,100,0.0495,84,27370.00,31

In [51]:
# read excel file
indices_of_deprivation_education = pd.read_excel("../Data/Demographics/File_11_-_IoD2019_Local_Authority_District_Summaries__upper-tier__.xlsx", sheet_name='Education',header=0)


indices_of_deprivation_education

,Upper Tier Local Authority District code (2019),Upper Tier Local Authority District name (2019),"Education, Skills and Training - Average rank","Education, Skills and Training - Rank of average rank","Education, Skills and Training - Average score","Education, Skills and Training - Rank of average score","Education, Skills and Training - Proportion of LSOAs in most deprived 10% nationally","Education, Skills and Training - Rank of proportion of LSOAs in most deprived 10% nationally"
0,E06000001,Hartlepool,19980.79,38,30.255,26,0.2069,24
1,E06000002,Middlesbrough,22111.75,17,38.850,5,0.3953,3
2,E06000003,Redcar and Cleveland,18997.48,50,27.768,39,0.1932,29
3,E06000004,Stockton-on-Tees,16899.44,71,24.786,59,0.1667,36
4,E06000005,Darlington,18401.65,56,27.402,42,0.2000,26
...,...,...,...,...,...,...,...,...
146,E10000029,Suffolk,18375.09,57,23.875,62,0.1088,60
147,E10000030,Surrey,9791.19,137,10.763,133,0.0099,113
148,E10000031,Warwickshire,13794.93,112,17.166,104,0.0472,95
149,E10000032,West Sussex,15226.22,94,18.052,95,0.0376,100
150,E10000034,Worcestershire,14859.32,100,19.278,83,0.0879,70

In [52]:
# read excel file
indices_of_deprivation_health = pd.read_excel("../Data/Demographics/File_11_-_IoD2019_Local_Authority_District_Summaries__upper-tier__.xlsx", sheet_name='Health',header=0)

indices_of_deprivation_health

,Upper Tier Local Authority District code (2019),Upper Tier Local Authority District name (2019),Health Deprivation and Disability - Average rank,Health Deprivation and Disability - Rank of average rank,Health Deprivation and Disability - Average score,Health Deprivation and Disability - Rank of average score,Health Deprivation and Disability - Proportion of LSOAs in most deprived 10% nationally,Health Deprivation and Disability - Rank of proportion of LSOAs in most deprived 10% nationally
0,E06000001,Hartlepool,25806.04,17,0.869,12,0.3621,13
1,E06000002,Middlesbrough,27603.83,6,1.194,5,0.5698,4
2,E06000003,Redcar and Cleveland,25339.55,22,0.790,23,0.3523,15
3,E06000004,Stockton-on-Tees,23468.75,34,0.684,27,0.2833,24
4,E06000005,Darlington,22510.99,42,0.532,40,0.2462,27
...,...,...,...,...,...,...,...,...
146,E10000029,Suffolk,13392.64,101,-0.250,100,0.0317,85
147,E10000030,Surrey,6771.76,139,-0.890,139,0.0000,116
148,E10000031,Warwickshire,13456.93,100,-0.249,99,0.0088,102
149,E10000032,West Sussex,11842.41,114,-0.425,118,0.0139,97
150,E10000034,Worcestershire,13602.85,97,-0.226,97,0.0330,84

In [53]:
# read excel file
indices_of_deprivation_crime = pd.read_excel("../Data/Demographics/File_11_-_IoD2019_Local_Authority_District_Summaries__upper-tier__.xlsx", sheet_name='Crime',header=0)


indices_of_deprivation_crime

,Upper Tier Local Authority District code (2019),Upper Tier Local Authority District name (2019),Crime - Average rank,Crime - Rank of average rank,Crime - Average score,Crime - Rank of average score,Crime - Proportion of LSOAs in most deprived 10% nationally,Crime - Rank of proportion of LSOAs in most deprived 10% nationally
0,E06000001,Hartlepool,22855.72,23,0.566,21,0.3276,12
1,E06000002,Middlesbrough,23671.36,17,0.701,13,0.4535,3
2,E06000003,Redcar and Cleveland,18035.47,75,0.138,75,0.1364,45
3,E06000004,Stockton-on-Tees,14933.36,100,-0.111,98,0.1000,64
4,E06000005,Darlington,22802.29,26,0.558,22,0.2923,16
...,...,...,...,...,...,...,...,...
146,E10000029,Suffolk,13218.57,118,-0.263,118,0.0476,89
147,E10000030,Surrey,12620.00,121,-0.301,121,0.0014,137
148,E10000031,Warwickshire,14876.76,101,-0.115,99,0.0413,97
149,E10000032,West Sussex,10924.44,128,-0.438,128,0.0119,124
150,E10000034,Worcestershire,14728.06,105,-0.129,101,0.0440,93

In [54]:
# read excel file
indices_of_deprivation_barriers = pd.read_excel("../Data/Demographics/File_11_-_IoD2019_Local_Authority_District_Summaries__upper-tier__.xlsx", sheet_name='Barriers',header=0)


indices_of_deprivation_barriers

,Upper Tier Local Authority District code (2019),Upper Tier Local Authority District name (2019),Barriers to Housing and Services - Average rank,Barriers to Housing and Services - Rank of average rank,Barriers to Housing and Services - Average score,Barriers to Housing and Services - Rank of average score,Barriers to Housing and Services - Proportion of LSOAs in most deprived 10% nationally,Barriers to Housing and Services - Rank of proportion of LSOAs in most deprived 10% nationally
0,E06000001,Hartlepool,9407.74,131,14.242,130,0.0000,117
1,E06000002,Middlesbrough,9341.76,133,14.183,131,0.0000,117
2,E06000003,Redcar and Cleveland,9611.85,130,14.139,133,0.0000,117
3,E06000004,Stockton-on-Tees,11053.82,119,15.870,119,0.0167,95
4,E06000005,Darlington,7041.46,146,11.942,146,0.0308,81
...,...,...,...,...,...,...,...,...
146,E10000029,Suffolk,18656.12,52,24.769,40,0.1610,28
147,E10000030,Surrey,17905.89,59,22.824,58,0.0762,57
148,E10000031,Warwickshire,16125.75,80,21.448,74,0.0796,55
149,E10000032,West Sussex,17745.01,62,22.714,61,0.0871,53
150,E10000034,Worcestershire,18954.15,50,24.492,45,0.1731,24

In [55]:
# read excel file
indices_of_deprivation_living = pd.read_excel("../Data/Demographics/File_11_-_IoD2019_Local_Authority_District_Summaries__upper-tier__.xlsx", sheet_name='Living',header=0)

indices_of_deprivation_living

,Upper Tier Local Authority District code (2019),Upper Tier Local Authority District name (2019),Living Environment - Average rank,Living Environment - Rank of average rank,Living Environment - Average score,Living Environment - Rank of average score,Living Environment - Proportion of LSOAs in most deprived 10% nationally,Living Environment - Rank of proportion of LSOAs in most deprived 10% nationally
0,E06000001,Hartlepool,5359.48,144,6.943,144,0.0000,132
1,E06000002,Middlesbrough,10453.74,131,12.929,130,0.0000,132
2,E06000003,Redcar and Cleveland,5891.43,143,7.793,143,0.0114,118
3,E06000004,Stockton-on-Tees,4538.17,147,6.007,146,0.0000,132
4,E06000005,Darlington,7148.04,140,8.800,141,0.0000,132
...,...,...,...,...,...,...,...,...
146,E10000029,Suffolk,15683.35,86,20.785,80,0.0998,49
147,E10000030,Surrey,12750.45,115,14.975,118,0.0071,128
148,E10000031,Warwickshire,15863.76,84,19.600,87,0.0383,86
149,E10000032,West Sussex,13982.33,100,17.945,97,0.0653,63
150,E10000034,Worcestershire,15338.20,90,20.228,82,0.1016,45

In [56]:
# read excel file
indices_of_deprivation_IDACI = pd.read_excel("../Data/Demographics/File_11_-_IoD2019_Local_Authority_District_Summaries__upper-tier__.xlsx", sheet_name='IDACI',header=0)


indices_of_deprivation_IDACI

,Upper Tier Local Authority District code (2019),Upper Tier Local Authority District name (2019),IDACI - Average rank,IDACI - Rank of average rank,IDACI - Average score,IDACI - Rank of average score,IDACI - Proportion of LSOAs in most deprived 10% nationally,IDACI - Rank of proportion of LSOAs in most deprived 10% nationally
0,E06000001,Hartlepool,23480.37,20,0.283,8,0.4310,3
1,E06000002,Middlesbrough,25026.00,7,0.327,1,0.4767,1
2,E06000003,Redcar and Cleveland,21868.78,36,0.256,18,0.2955,13
3,E06000004,Stockton-on-Tees,19164.60,67,0.209,48,0.1917,30
4,E06000005,Darlington,19072.53,69,0.203,55,0.2154,25
...,...,...,...,...,...,...,...,...
146,E10000029,Suffolk,14846.58,106,0.135,110,0.0499,99
147,E10000030,Surrey,9562.72,145,0.083,145,0.0042,136
148,E10000031,Warwickshire,13601.99,123,0.122,123,0.0295,114
149,E10000032,West Sussex,12763.01,127,0.110,131,0.0079,133
150,E10000034,Worcestershire,14910.46,105,0.142,105,0.0632,91

In [57]:
# read excel file
indices_of_deprivation_IDAOPI = pd.read_excel("../Data/Demographics/File_11_-_IoD2019_Local_Authority_District_Summaries__upper-tier__.xlsx", sheet_name='IDAOPI',header=0)

indices_of_deprivation_IDAOPI

,Upper Tier Local Authority District code (2019),Upper Tier Local Authority District name (2019),IDAOPI - Average rank,IDAOPI - Rank of average rank,IDAOPI - Average score,IDAOPI - Rank of average score,IDAOPI - Proportion of LSOAs in most deprived 10% nationally,IDAOPI - Rank of proportion of LSOAs in most deprived 10% nationally
0,E06000001,Hartlepool,21237.10,29,0.228,26,0.2931,15
1,E06000002,Middlesbrough,20061.41,37,0.233,22,0.3837,11
2,E06000003,Redcar and Cleveland,16716.82,71,0.168,64,0.1477,47
3,E06000004,Stockton-on-Tees,15589.56,85,0.160,74,0.1417,50
4,E06000005,Darlington,15702.96,84,0.152,80,0.0769,68
...,...,...,...,...,...,...,...,...
146,E10000029,Suffolk,11635.91,121,0.104,123,0.0159,117
147,E10000030,Surrey,7509.17,148,0.073,148,0.0028,137
148,E10000031,Warwickshire,11509.27,123,0.104,122,0.0147,120
149,E10000032,West Sussex,10412.54,133,0.095,132,0.0020,138
150,E10000034,Worcestershire,11605.84,122,0.107,119,0.0220,105

In [58]:
houses_by_borough

,date,E09000001,E09000002,E09000003,E09000004,E09000005,E09000006,E09000007,E09000008,E09000009,E09000010,E09000011,E09000012,E09000013,E09000014,E09000015,E09000016,E09000017,E09000018,E09000019,E09000020,E09000021,E09000022,E09000023,E09000024,E09000025,E09000026,E09000027,E09000028,E09000029,E09000030,E09000031,E09000032,E09000033
0,2019-01-01,865636.1043,297180.8891,528638.9614,338707.8220,479105.7131,440623.5669,867808.2909,365096.0603,483335.7786,395616.1766,385702.9130,527573.4620,722045.0931,545523.9026,453365.4908,367018.9841,413405.0796,397052.1735,635328.0826,1285330.700,482032.3621,501860.8511,402342.9102,512341.0444,358029.4577,420809.5166,655055.8372,500163.8442,374144.6399,434143.1947,435182.1059,587609.0333,9.594083e+05
1,2019-02-01,894519.9090,293838.6476,523678.5865,339186.1492,478494.2101,439716.3247,864013.6218,364405.5423,476647.5977,397254.1728,391920.6904,532412.0593,716796.3589,544944.9653,454375.2032,364615.1018,413658.0973,390471.1003,627072.2867,1259857.800,475365.0536,495661.1662,398589.1843,520035.4982,363433.3843,411354.6502,656018.0265,489116.8776,374347.7252,427633.6537,436448.9917,579893.0364,9.178679e+05
2,2019-03-01,853451.0753,294064.7625,516531.2233,336679.6447,475429.6451,435996.2994,808859.9893,367440.2781,467017.2121,393925.7137,385654.5896,554701.4709,716606.4475,536737.0619,445148.1895,359738.3791,409663.0356,393244.8678,628267.9748,1218616.659,474572.3893,497632.2203,401465.4803,505346.6629,366829.9779,405219.3902,646355.5212,489970.8262,371933.8862,429001.1543,429354.7439,572644.5224,9.561110e+05
3,2019-04-01,738796.7242,295498.2169,512343.3437,339330.1231,486252.7780,431643.3640,820812.0189,363627.4384,461457.9551,393880.4735,381586.2410,570455.9330,713757.5911,529601.1438,446824.9526,358876.9430,404953.3298,394788.3680,620328.3023,1264888.871,474631.1003,499235.7682,400734.3199,501459.2863,366957.2935,402053.0455,639470.4059,486307.6607,368212.2656,433631.5913,432173.9751,578173.4928,9.931152e+05
4,2019-05-01,719217.5584,295092.0921,503911.1858,336980.5882,481803.4178,428092.8974,838678.6340,364097.3147,465752.3855,388590.8834,380293.0935,560534.0617,716331.1173,541876.8241,443287.9049,361268.8570,401052.9345,396766.6707,626491.8343,1233812.291,472574.2150,495444.6891,403909.8747,487640.9573,368549.5513,401902.1726,636736.7909,497044.0698,369566.0377,428669.7130,424654.5603,579367.9833,1.021533e+06
5,2019-06-01,761525.8718,293889.3093,512694.0604,339323.7005,474820.9106,430001.8857,871957.4503,363420.0875,474844.3044,390707.6753,388251.5205,546343.6011,713137.3310,540625.7211,447719.3861,365336.0161,395982.4275,399686.7903,625315.3220,1291763.476,484675.6874,503721.1835,405009.2090,498683.4153,359952.9523,408513.5851,652859.3286,494784.2522,371680.1027,428704.9816,421957.5805,574832.6167,9.951076e+05
6,2019-07-01,756407.0179,297426.4427,514667.7638,338346.4036,473849.0416,434256.6273,890288.4056,365874.7819,475591.7986,388053.4705,397827.8924,555778.5255,725253.0946,550392.6408,446095.2640,367679.0664,398547.4882,397246.2003,629281.0539,1275437.229,502894.7646,510045.0835,410983.0527,504701.5314,359105.5388,414967.5533,657618.6192,499662.8220,373534.2105,431289.7426,418743.4550,585174.1556,9.485067e+05
7,2019-08-01,813769.5901,299421.2615,528576.6123,337522.5984,488784.3601,442189.4650,863170.6139,364540.2452,474627.2689,393032.6376,396857.8503,567269.4703,729659.3915,544193.7543,450373.4248,367502.2747,397385.2302,401911.2435,643334.6721,1248525.496,508405.2112,519955.5995,416884.6214,517489.4996,361920.3425,421318.6299,657973.7414,496717.5530,368908.3512,441364.1416,427415.7542,592250.9490,9.059511e+05
8,2019-09-01,810454.6440,304778.0465,526669.7755,333339.9516,501532.5994,441057.5009,838169.6070,365225.8121,473161.8767,386806.0139,403729.7053,573269.6528,735537.6071,553639.8410,453155.2371,366447.1575,403944.6276,406930.3564,655061.2160,1230181.192,504866.8934,520403.1266,420341.2689,515391.0386,368687.2520,414268.4761,648146.8900,507466.4349,372899.0408,447628.8328,432270.2879,605559.3130,9.226868e+05
9,2019-10-01,826227.0620,304579.0648,525678.4213,332919.6691,494770.2634,439178.3963,804713.1225,364412.8327,477369.1395,392720.5377,401558.9893,566979.1630,719932.4000,554122.7305,453783.3980,367101.7811,403300.2883,413132.2719,645211.9178,1190436.646,488211.3570,515947.1945,421257.5062,509006.4346,369971.9093,411874.3367,643768.8467,513615.3866,369917.0379,452039.7471,434920.7924,600642.1217,9.277349e+05
10,2019-11-01,772324.8186,304514.9851,530343.0902,333170.1454,435980.5494,436680.2513,833740.3180,368137.2954,472582.5270,392572.6259,406344.6302,555036.3252,704862.3604,554981.0604,450924.3205,365246.4908,407117.0860,409668.3430,627326.4898,1171530.405,490722.9949,516850.5649,413106.3748,497752.9310,363377.9050,411038.1829,648043.9992,509102.6987,375328.5973,450983.8035,437274.3331,601392.6295,9.504634e+05
11,2019-12-01,757730.1653,299771.2428,522552.0582,338347.0579,425957.8076,438397.3308,814591.1638,371862.8595,469056.7913,398928.1678,399620.5048,548845.6801,714044.3288,556925.0535,447112.5388,364994.8361,404318.7080,411967.6971,640978.9678,1226692.524,488979.2669,521027.9588,413585.4381,495924.6865,361100.0994,420295.0345,651268.8396,508491.8377,373450.0314,454358.3530,439622.6180,604416.4883,9.734979e+05

In [59]:
# merge demographics and IMD on borough_code using inner join
demographics = demographics.merge(indices_of_deprivation_IMD, how='inner', left_on='borough_code', right_on='Upper Tier Local Authority District code (2019)')

demographics

,borough_name,borough_code,% of all people aged 16+ who are female,% of all people aged 16+ who are male,% of all 16+ who are aged 16-19,% of all 16+ who are aged 20-24,% of all 16+ who are aged 25-34,% of all 16+ who are aged 35-49,% of all 16+ who are aged 50-64,% of all 16+ who are aged 65+,% in employment who are employees - aged 16+,% in employment who are self employed - aged 16+,Employment rate - aged 16+,Unemployment rate - aged 16+,% in employment working full-time - aged 16-19,% in employment working full-time - aged 20-24,% in employment working full-time - aged 25-49,% in employment working full-time - aged 50+,% in employment working part-time - aged 16-19,% in employment working part-time - aged 20-24,% in employment working part-time - aged 25-49,% in employment working part-time - aged 50+,% with NVQ1 only - aged 16-64,% with NVQ2 only - aged 16-64,% with NVQ3 only - aged 16-64,% with NVQ4+ - aged 16-64,% with other qualifications (NVQ) - aged 16-64,% with no qualifications (NVQ) - aged 16-64,male_full_time_hourly_mean_pay,male_part_time_hourly_mean_pay,female_full_time_hourly_mean_pay,female_part_time_hourly_mean_pay,total_hourly_mean_pay,full_time_hourly_mean_pay,part_time_hourly_mean_pay,male_full_time_annual_mean_pay,male_part_time_annual_mean_pay,female_full_time_annual_mean_pay,female_part_time_annual_mean_pay,total_annual_mean_pay,full_time_annual_mean_pay,part_time_annual_mean_pay,male_full_time_weekly_mean_pay,male_part_time_weekly_mean_pay,female_full_time_weekly_mean_pay,female_part_time_weekly_mean_pay,total_weekly_mean_pay,full_time_weekly_mean_pay,part_time_weekly_mean_pay,male_full_time_hourly_median_pay,male_part_time_hourly_median_pay,female_full_time_hourly_median_pay,female_part_time_hourly_median_pay,total_hourly_median_pay,full_time_hourly_median_pay,part_time_hourly_median_pay,male_full_time_annual_median_pay,male_part_time_annual_median_pay,female_full_time_annual_median_pay,female_part_time_annual_median_pay,total_annual_median_pay,full_time_annual_median_pay,part_time_annual_median_pay,male_full_time_weekly_median_pay,male_part_time_weekly_median_pay,female_full_time_weekly_median_pay,female_part_time_weekly_median_pay,total_weekly_median_pay,full_time_weekly_median_pay,part_time_weekly_median_pay,Upper Tier Local Authority District code (2019),Upper Tier Local Authority District name (2019),IMD - Average rank,IMD - Rank of average rank,IMD - Average score,IMD - Rank of average score,IMD - Proportion of LSOAs in most deprived 10% nationally,IMD - Rank of proportion of LSOAs in most deprived 10% nationally,IMD 2019 - Extent,IMD 2019 - Rank of extent,IMD 2019 - Local concentration,IMD 2019 - Rank of local concentration
0,Camden,E09000007,48.7,51.3,4.8,10.2,20.2,24.4,24.5,15.9,78.3,21.5,61.6,5.6,NaN,50.9,80.9,63.3,NaN,49.1,19.1,35.9,6.5,8.1,9.3,60.9,7.6,6.7,29.99,16.26,24.06,16.75,26.26,27.43,16.56,78238.0,12817.0,53007,16649.0,55701.0,67456.0,14918.0,1152.1,236.1,904.7,273.5,864.6,1043.8,257.8,22.27,15.06,20.23,11.20,19.17,21.16,12.16,44963.0,NaN,39404.0,NaN,35247.0,42416.0,NaN,844.0,NaN,762.1,NaN,662.0,795.4,167.0,E09000007,Camden,16763.28,85,20.131,90,0.0000,130,0.1379,94,27872.90,110
1,City of London,E09000001,46.4,53.6,NaN,NaN,45.4,NaN,23.4,31.1,73.0,27.0,82.3,NaN,NaN,NaN,100.0,63.8,NaN,NaN,NaN,NaN,NaN,NaN,NaN,100.0,NaN,NaN,NaN,NaN,21.38,NaN,26.24,24.95,NaN,NaN,NaN,44070,NaN,NaN,NaN,10686.0,NaN,NaN,809.6,NaN,882.8,929.9,NaN,NaN,NaN,19.97,NaN,NaN,NaN,NaN,NaN,NaN,39941.0,NaN,NaN,NaN,10047.0,NaN,NaN,741.3,NaN,NaN,NaN,NaN,E09000001,City of London,12420.52,121,14.720,126,0.0000,130,0.0322,135,24167.00,140
2,Hackney,E09000012,50.5,49.5,6.5,8.4,33.7,26.6,17.6,7.1,82.6,16.8,67.8,4.4,NaN,53.8,82.5,67.1,81.6,46.2,16.8,31.8,6.2,8.6,10.4,57.4,5.5,10.8,22.92,14.04,20.29,13.96,20.65,21.74,13.99,50253.0,NaN,40820,11979.0,36493.0,45929.0,12705.0,886.4,242.1,768.9,242.2,675.9,832.9,242.2,19.01,9.67,17.70,10.52,16.34,18.43,10.40,38413.0,8957.0,35318.0,9134.0,28790.0,35974.0,9004.0,736.3,174.6,674.4,173.8,574.9,709.2,174.2,E09000012,Hackney,25312.57,7,32.526,18,0.1111,56,0.4319,22,30187.74,73
3,Hammersmith and Fulham,E09000013,49.2,50.8,3.2,8.6,29.5,28.3,17.7,12.8,83.3,16.0,67.8,3.7,NaN,95.0,89.9,72.4,NaN,NaN,10.1,26.4,2.8,5.8,10.2,70.0,5.7,4.7,29.87,16.93,21.66,15.57,25.47,26.16,16.02,69547.0,10739.0,45773,15470.0,51795.0,59058.0,13841.0,1152.3,244.2,827.6,259.8,892.4,1004.9,254.2,22.64,NaN,18.27,13.82,19.78,20.66,14.22,44975.0,NaN,38735.0,NaN,38799.0,42104.0,NaN,849.9,228.8,718.5,NaN,728.0,795.3,208.3,E09000013,Hammersmith and Fulham,18643.47,68,22.270,78,0.0088,116,0.1644,82,28576.65,105
4,Islington,E09000019,50.0,50.0,4.7,9.3,28.6,27.6,16.9,12.9,83.2,16.7,70.0,4.2,NaN,72.6,82.7,71.9,NaN,27.4,17.3,28.1,3.6,8.6,8.9,61.7,5.8,10.5,27.58,19.11,24.50,16.28,25.25,26.11,17.37,63828.0,17918.0,52782,16621.0,51351.0,58688.0,17145.0,1073.7,361.3,931.4,303.6,881.3,1004.8,325.6,21.92,NaN,19.57,12.12,19.59,20.91,12.58,44614.0,NaN,NaN,12054.0,37634.0,43715.0,13184.0,859.0,NaN,728.3,249.1,699.1,801.0,252.4,E09000019,Islington,22490.24,24,27.535,41,0.0488,87,0.2705,58,29301.65,87
5,Kensington and Chelsea,E09000020,49.7,50.3,7.4,6.9,13.0,30.7,24.5,17.5,69.4,27.4,57.3,5.4,NaN,50.9,81.3,73.4,NaN,49.1,18.7,26.6,4.2,6.3,13.7,65.5,4.9,4.7,49.02,NaN,25.40,13.89,37.09,39.49,16.67,NaN,NaN,52487,13720.0,92675.0,110010.0,16003.0,1905.8,NaN,950.0,256.7,1276.2,1511.5,308.7,NaN,NaN,22.32,11.01,21.13,23.19,11.95,NaN,NaN,41557.0,NaN,36277.0,NaN,NaN,NaN,NaN,818.0,NaN,763.7,901.3,219.2,E09000020,Kensington and Chelsea,17177.54,80,21.526,81,0.0874,65,0.1985,73,30007.35,76
6,Lambeth,E09000022,48.9,51.1,4.3,10.3,31.5,27.0,17.5,9.2,83.2,16.0,72.3,5.9,NaN,68.9,85.8,71.2,NaN,31.1,13.8,28.8,5.7,8.5,10.7,63.8,5.9,4.3,23.56,16.22,19.89,13.98,21.19,21.94,14.82,52281.0,16934.0,38202,12706.0,39986.0,46035.0,14205.0,915.6,295.1,750.6,250.3,725.8,841.6,266.8,19.17,10.42,18.40,10.38,17.47,18.84,10.43,40150.0,NaN,34554.0,9072.0,33084.0,36969.0,11253.0,746.8,221.6,689.9,200.1,634.8,714.4,206.5,E09000022,Lambeth,21351.38,34,25.422,62,0.0000,130,0.1949,74,28390.91,106
7,Newham,E09000025,46.1,53.9,6.9,8.8,30.8,30.7,13.6,9.1,79.8,19.9,65.9,4.9,NaN,70.7,84.5,73.0,69.9,29.3,15.5,27.0,8.1,11.1,11.3,44.0,14.8,10.1,18.55,11.93,17.00,12.13,17.02,17.92,12.05,38763.0,14718.0,31500,12356.0,30081.0,35776.0,13345.0,744.3,239.9,652.8,236.7,582.3,705.9,237.9,16.31,9.41,15.08,10.07,13.89,15.83,9.65,34134.0,12123.0,27498.0,11193.0,26107.0,31807.0,11399.0,670.7,208.2,571.4,210.9,517.5,622.8,210.5,E09000025,Newham,24138.70,11,29.577,34,0.0244,102,0.2884,53,28987.07,96
8,Southwark,E09000028,50.2,49.8,5.5,8.9,26.4,29.5,20.1,9.5,79.8,20.0,71.5,4.1,NaN,59.1,75.9,67.5,84.7,40.9,23.8,32.5,5.0,9.6,12.0,62.0,5.1,5.4,24.35,14.51,21.11,14.31,21.99,22.85,14.36,54175.0,NaN,42149,13642.0,42639.0,48717.0,13851.0,950.2,250.2,791.5,254.0,753.3,874.8,253.1,19.10,10.62,18.18,10.62,17.24,18.76,10.63,42542.0,NaN,36555.0,10284.0,35056.0,39130.0,10586.0,737.1,215.4,695.4,195.5,628.0,709.1,198.4,E09000028,Southwark,21247.36,35,25.811,55,0.0301,97,0.2305,67,28758.95,102
9,Tower Hamlets,E09000030,47.7,52.3,3.1,14.4,35.4,30.2,9.5,7.5,83.9,15.6,66.9,4.0,NaN,90.9,87.2,74.5,NaN,9.1,12.8,25.5,2.2,9.0,9.7,60.5,8.3,9.7,27.15,12.89,23.69,13.76,24.74,25.74,13.36,63639.0,NaN,50217,10785.0,50651.0,58151.0,12296.0,1039.9,241.2,878.9,214.7,850.3,973.2,225.7,21.46,9.48,19.87,11.20,19.15,20.64,10.01,45812.0,9776.0,39312.0,8890.0,38000.0,42608.0,9772.0,804.8,186.2,741.5,182.0,688.9,780.4,184.6,E09000030,Tower Hamlets,22507.05,23,27.913,39,0.0139,111,0.3057,44,29011.42,94
10,Wandsworth,E09000032,54.2,45.8,3.6,3.7,35.6,28.3,16.3,12.5,79.7,19.4,73.5,4.4,NaN,74.4,86.6,60.5,100.0,25.6,13.0,39.5,3.3,6.4,6.2,71.6,8.0,4.1,28.30,15.75,24.05,17.24,25.54,26.22,16.83,72998.0,11374.0,51429,13982.0,55523.0,62371.0,13224.0,1094.3,236.0,907.5,296.9,890.6,1001.7,278.2,23.17,13.37,20.87,10.71,20.50,21.73,11.93,47145.0,NaN,41096.0,10812.0,39086.0,43449.0,10759.0,862.4,NaN,766.6,212.6,720.9,811.8,199.2,E09000032,Wandsworth,14312.18,108,16.611,113,0.0000,130,0.0495,125,25999.84,128
11,Westminster,E09000033,49.0,51.0,3.6,8.2,23.3,30.1,19.3,15.5,77.5,22.3,62.4,4.8,NaN,100.0,89.5,62.9,NaN,NaN,9.9,37.1,4.2,5.7,11.5,65.5,6.9,5.8,29.56,NaN,26.73,13.62,27.29,28.33,17.11,NaN,NaN,72399,NaN,68934.0,80301.0,NaN,1141.8,NaN,1013.5,252.1,952.2,1085.6,318.2,22.90,9.95,19.12,10.69,19.14,21.03,10.51,NaN,NaN,40345.0,10979.0,37450.0,43990.0,10825.0,886.6,NaN,721.6,213.5,703.9,812.8,210.4,E09000033,Westminster,16573.82,87,20.339,88,0.0234,103,0.1587,85,29203.12,92

In [60]:
# drop pper Tier Local Authority District code (2019)	Upper Tier Local Authority District name (2019)
demographics = demographics.drop(['Upper Tier Local Authority District code (2019)', 'Upper Tier Local Authority District name (2019)'], axis=1)

In [61]:
# merge demographics and income on borough_code using inner join
demographics = demographics.merge(indices_of_deprivation_income, how='inner', left_on='borough_code', right_on='Upper Tier Local Authority District code (2019)')

# drop Upper Tier Local Authority District code (2019)	Upper Tier Local Authority District name (2019)
demographics = demographics.drop(['Upper Tier Local Authority District code (2019)', 'Upper Tier Local Authority District name (2019)'], axis=1)

demographics

,borough_name,borough_code,% of all people aged 16+ who are female,% of all people aged 16+ who are male,% of all 16+ who are aged 16-19,% of all 16+ who are aged 20-24,% of all 16+ who are aged 25-34,% of all 16+ who are aged 35-49,% of all 16+ who are aged 50-64,% of all 16+ who are aged 65+,% in employment who are employees - aged 16+,% in employment who are self employed - aged 16+,Employment rate - aged 16+,Unemployment rate - aged 16+,% in employment working full-time - aged 16-19,% in employment working full-time - aged 20-24,% in employment working full-time - aged 25-49,% in employment working full-time - aged 50+,% in employment working part-time - aged 16-19,% in employment working part-time - aged 20-24,% in employment working part-time - aged 25-49,% in employment working part-time - aged 50+,% with NVQ1 only - aged 16-64,% with NVQ2 only - aged 16-64,% with NVQ3 only - aged 16-64,% with NVQ4+ - aged 16-64,% with other qualifications (NVQ) - aged 16-64,% with no qualifications (NVQ) - aged 16-64,male_full_time_hourly_mean_pay,male_part_time_hourly_mean_pay,female_full_time_hourly_mean_pay,female_part_time_hourly_mean_pay,total_hourly_mean_pay,full_time_hourly_mean_pay,part_time_hourly_mean_pay,male_full_time_annual_mean_pay,male_part_time_annual_mean_pay,female_full_time_annual_mean_pay,female_part_time_annual_mean_pay,total_annual_mean_pay,full_time_annual_mean_pay,part_time_annual_mean_pay,male_full_time_weekly_mean_pay,male_part_time_weekly_mean_pay,female_full_time_weekly_mean_pay,female_part_time_weekly_mean_pay,total_weekly_mean_pay,full_time_weekly_mean_pay,part_time_weekly_mean_pay,male_full_time_hourly_median_pay,male_part_time_hourly_median_pay,female_full_time_hourly_median_pay,female_part_time_hourly_median_pay,total_hourly_median_pay,full_time_hourly_median_pay,part_time_hourly_median_pay,male_full_time_annual_median_pay,male_part_time_annual_median_pay,female_full_time_annual_median_pay,female_part_time_annual_median_pay,total_annual_median_pay,full_time_annual_median_pay,part_time_annual_median_pay,male_full_time_weekly_median_pay,male_part_time_weekly_median_pay,female_full_time_weekly_median_pay,female_part_time_weekly_median_pay,total_weekly_median_pay,full_time_weekly_median_pay,part_time_weekly_median_pay,IMD - Average rank,IMD - Rank of average rank,IMD - Average score,IMD - Rank of average score,IMD - Proportion of LSOAs in most deprived 10% nationally,IMD - Rank of proportion of LSOAs in most deprived 10% nationally,IMD 2019 - Extent,IMD 2019 - Rank of extent,IMD 2019 - Local concentration,IMD 2019 - Rank of local concentration,Income - Average rank,Income - Rank of average rank,Income - Average score,Income - Rank of average score,Income - Proportion of LSOAs in most deprived 10% nationally,Income - Rank of proportion of LSOAs in most deprived 10% nationally,Income scale,Rank of Income Scale
0,Camden,E09000007,48.7,51.3,4.8,10.2,20.2,24.4,24.5,15.9,78.3,21.5,61.6,5.6,NaN,50.9,80.9,63.3,NaN,49.1,19.1,35.9,6.5,8.1,9.3,60.9,7.6,6.7,29.99,16.26,24.06,16.75,26.26,27.43,16.56,78238.0,12817.0,53007,16649.0,55701.0,67456.0,14918.0,1152.1,236.1,904.7,273.5,864.6,1043.8,257.8,22.27,15.06,20.23,11.20,19.17,21.16,12.16,44963.0,NaN,39404.0,NaN,35247.0,42416.0,NaN,844.0,NaN,762.1,NaN,662.0,795.4,167.0,16763.28,85,20.131,90,0.0000,130,0.1379,94,27872.90,110,18655.58,63,0.141,69,0.0827,71,34330,89
1,City of London,E09000001,46.4,53.6,NaN,NaN,45.4,NaN,23.4,31.1,73.0,27.0,82.3,NaN,NaN,NaN,100.0,63.8,NaN,NaN,NaN,NaN,NaN,NaN,NaN,100.0,NaN,NaN,NaN,NaN,21.38,NaN,26.24,24.95,NaN,NaN,NaN,44070,NaN,NaN,NaN,10686.0,NaN,NaN,809.6,NaN,882.8,929.9,NaN,NaN,NaN,19.97,NaN,NaN,NaN,NaN,NaN,NaN,39941.0,NaN,NaN,NaN,10047.0,NaN,NaN,741.3,NaN,NaN,NaN,NaN,12420.52,121,14.720,126,0.0000,130,0.0322,135,24167.00,140,8079.96,147,0.065,144,0.0000,136,431,150
2,Hackney,E09000012,50.5,49.5,6.5,8.4,33.7,26.6,17.6,7.1,82.6,16.8,67.8,4.4,NaN,53.8,82.5,67.1,81.6,46.2,16.8,31.8,6.2,8.6,10.4,57.4,5.5,10.8,22.92,14.04,20.29,13.96,20.65,21.74,13.99,50253.0,NaN,40820,11979.0,36493.0,45929.0,12705.0,886.4,242.1,768.9,242.2,675.9,832.9,242.2,19.01,9.67,17.70,10.52,16.34,18.43,10.40,38413.0,8957.0,35318.0,9134.0,28790.0,35974.0,9004.0,736.3,174.6,674.4,173.8,574.9,709.2,174.2,25312.57,7,32.526,18,0.1111,56,0.4319,22,30187.74,73,24634.73,5,0.196,17,0.1944,33,52473,43
3,Hammersmith and Fulham,E09000013,49.2,50.8,3.2,8.6,29.5,28.3,17.7,12.8,83.3,16.0,67.8,3.7,NaN,95.0,89.9,72.4,NaN,NaN,10.1,26.4,2.8,5.8,10.2,70.0,5.7,4.7,29.87,16.93,21.66,15.57,25.47,26.16,16.02,69547.0,10739.0,45773,15470.0,51795.0,59058.0,13841.0,1152.3,244.2,827.6,259.8,892.4,1004.9,254.2,22.64,NaN,18.27,13.82,19.78,20.66,14.22,44975.0,NaN,38735.0,NaN,38799.0,42104.0,NaN,849.9,228.8,718.5,NaN,728.0,795.3,208.3,18643.47,68,22.270,78,0.0088,116,0.1644,82,28576.65,105,19094.27,58,0.142,68,0.0708,78,25704,117
4,Islington,E09000019,50.0,50.0,4.7,9.3,28.6,27.6,16.9,12.9,83.2,16.7,70.0,4.2,NaN,72.6,82.7,71.9,NaN,27.4,17.3,28.1,3.6,8.6,8.9,61.7,5.8,10.5,27.58,19.11,24.50,16.28,25.25,26.11,17.37,63828.0,17918.0,52782,16621.0,51351.0,58688.0,17145.0,1073.7,361.3,931.4,303.6,881.3,1004.8,325.6,21.92,NaN,19.57,12.12,19.59,20.91,12.58,44614.0,NaN,NaN,12054.0,37634.0,43715.0,13184.0,859.0,NaN,728.3,249.1,699.1,801.0,252.4,22490.24,24,27.535,41,0.0488,87,0.2705,58,29301.65,87,23301.63,16,0.179,30,0.1057,60,40551,72
5,Kensington and Chelsea,E09000020,49.7,50.3,7.4,6.9,13.0,30.7,24.5,17.5,69.4,27.4,57.3,5.4,NaN,50.9,81.3,73.4,NaN,49.1,18.7,26.6,4.2,6.3,13.7,65.5,4.9,4.7,49.02,NaN,25.40,13.89,37.09,39.49,16.67,NaN,NaN,52487,13720.0,92675.0,110010.0,16003.0,1905.8,NaN,950.0,256.7,1276.2,1511.5,308.7,NaN,NaN,22.32,11.01,21.13,23.19,11.95,NaN,NaN,41557.0,NaN,36277.0,NaN,NaN,NaN,NaN,818.0,NaN,763.7,901.3,219.2,17177.54,80,21.526,81,0.0874,65,0.1985,73,30007.35,76,13962.46,115,0.117,90,0.1650,40,18502,136
6,Lambeth,E09000022,48.9,51.1,4.3,10.3,31.5,27.0,17.5,9.2,83.2,16.0,72.3,5.9,NaN,68.9,85.8,71.2,NaN,31.1,13.8,28.8,5.7,8.5,10.7,63.8,5.9,4.3,23.56,16.22,19.89,13.98,21.19,21.94,14.82,52281.0,16934.0,38202,12706.0,39986.0,46035.0,14205.0,915.6,295.1,750.6,250.3,725.8,841.6,266.8,19.17,10.42,18.40,10.38,17.47,18.84,10.43,40150.0,NaN,34554.0,9072.0,33084.0,36969.0,11253.0,746.8,221.6,689.9,200.1,634.8,714.4,206.5,21351.38,34,25.422,62,0.0000,130,0.1949,74,28390.91,106,20983.21,38,0.153,57,0.0449,100,48928,55
7,Newham,E09000025,46.1,53.9,6.9,8.8,30.8,30.7,13.6,9.1,79.8,19.9,65.9,4.9,NaN,70.7,84.5,73.0,69.9,29.3,15.5,27.0,8.1,11.1,11.3,44.0,14.8,10.1,18.55,11.93,17.00,12.13,17.02,17.92,12.05,38763.0,14718.0,31500,12356.0,30081.0,35776.0,13345.0,744.3,239.9,652.8,236.7,582.3,705.9,237.9,16.31,9.41,15.08,10.07,13.89,15.83,9.65,34134.0,12123.0,27498.0,11193.0,26107.0,31807.0,11399.0,670.7,208.2,571.4,210.9,517.5,622.8,210.5,24138.70,11,29.577,34,0.0244,102,0.2884,53,28987.07,96,23167.95,18,0.169,38,0.0427,102,56769,32
8,Southwark,E09000028,50.2,49.8,5.5,8.9,26.4,29.5,20.1,9.5,79.8,20.0,71.5,4.1,NaN,59.1,75.9,67.5,84.7,40.9,23.8,32.5,5.0,9.6,12.0,62.0,5.1,5.4,24.35,14.51,21.11,14.31,21.99,22.85,14.36,54175.0,NaN,42149,13642.0,42639.0,48717.0,13851.0,950.2,250.2,791.5,254.0,753.3,874.8,253.1,19.10,10.62,18.18,10.62,17.24,18.76,10.63,42542.0,NaN,36555.0,10284.0,35056.0,39130.0,10586.0,737.1,215.4,695.4,195.5,628.0,709.1,198.4,21247.36,35,25.811,55,0.0301,97,0.2305,67,28758.95,102,21355.01,34,0.162,45,0.0783,74,49900,52
9,Tower Hamlets,E09000030,47.7,52.3,3.1,14.4,35.4,30.2,9.5,7.5,83.9,15.6,66.9,4.0,NaN,90.9,87.2,74.5,NaN,9.1,12.8,25.5,2.2,9.0,9.7,60.5,8.3,9.7,27.15,12.89,23.69,13.76,24.74,25.74,13.36,63639.0,NaN,50217,10785.0,50651.0,58151.0,12296.0,1039.9,241.2,878.9,214.7,850.3,973.2,225.7,21.46,9.48,19.87,11.20,19.15,20.64,10.01,45812.0,9776.0,39312.0,8890.0,38000.0,42608.0,9772.0,804.8,186.2,741.5,182.0,688.9,780.4,184.6,22507.05,23,27.913,39,0.0139,111,0.3057,44,29011.42,94,23902.93,10,0.192,21,0.1528,45,56191,34
10,Wandsworth,E09000032,54.2,45.8,3.6,3.7,35.6,28.3,16.3,12.5,79.7,19.4,73.5,4.4,NaN,74.4,86.6,60.5,100.0,25.6,13.0,39.5,3.3,6.4,6.2,71.6,8.0,4.1,28.30,15.75,24.05,17.24,25.54,26.22,16.83,72998.0,11374.0,51429,13982.0,55523.0,62371.0,13224.0,1094.3,236.0,907.5,296.9,890.6,1001.7,278.2,23.17,13.37,20.87,10.71,20.50,21.73,11.93,47145.0,NaN,41096.0,10812.0,39086.0,43449.0,10759.0,862.4,NaN,766.6,212.6,720.9,811.8,199.2,14312.18,108,16.611,113,0.0000,130,0.0495,125,25999.84,128,15134.72,102,0.107,109,0.0168,117,33856,91
11,Westminster,E09000033,49.0,51.0,3.6,8.2,23.3,30.1,19.3,15.5,77.5,22.3,62.4,4.8,NaN,100.0,89.5,62.9,NaN,NaN,9.9,37.1,4.2,5.7,11.5,65.5,6.9,5.8,29.56,NaN,26.73,13.62,27.29,28.33,17.11,NaN,NaN,72399,NaN,68934.0,80301.0,NaN,1141.8,NaN,1013.5,252.1,952.2,1085.6,318.2,22.90,9.95,19.12,10.69,19.14,21.03,10.51,NaN,NaN,40345.0,10979.0,37450.0,43990.0,10825.0,886.6,NaN,721.6,213.5,703.9,812.8,210.4,16573.82,87,20.339,88,0.0234,103,0.1587,85,29203.12,92,16667.53,85,0.135,75,0.1094,57,32018,99

In [62]:
# merge demographics and employment on borough_code using inner join
demographics = demographics.merge(indices_of_deprivation_employment, how='inner', left_on='borough_code', right_on='Upper Tier Local Authority District code (2019)')

# drop Upper Tier Local Authority District code (2019)	Upper Tier Local Authority District name (2019)
demographics = demographics.drop(['Upper Tier Local Authority District code (2019)', 'Upper Tier Local Authority District name (2019)'], axis=1)

demographics

,borough_name,borough_code,% of all people aged 16+ who are female,% of all people aged 16+ who are male,% of all 16+ who are aged 16-19,% of all 16+ who are aged 20-24,% of all 16+ who are aged 25-34,% of all 16+ who are aged 35-49,% of all 16+ who are aged 50-64,% of all 16+ who are aged 65+,% in employment who are employees - aged 16+,% in employment who are self employed - aged 16+,Employment rate - aged 16+,Unemployment rate - aged 16+,% in employment working full-time - aged 16-19,% in employment working full-time - aged 20-24,% in employment working full-time - aged 25-49,% in employment working full-time - aged 50+,% in employment working part-time - aged 16-19,% in employment working part-time - aged 20-24,% in employment working part-time - aged 25-49,% in employment working part-time - aged 50+,% with NVQ1 only - aged 16-64,% with NVQ2 only - aged 16-64,% with NVQ3 only - aged 16-64,% with NVQ4+ - aged 16-64,% with other qualifications (NVQ) - aged 16-64,% with no qualifications (NVQ) - aged 16-64,male_full_time_hourly_mean_pay,male_part_time_hourly_mean_pay,female_full_time_hourly_mean_pay,female_part_time_hourly_mean_pay,total_hourly_mean_pay,full_time_hourly_mean_pay,part_time_hourly_mean_pay,male_full_time_annual_mean_pay,male_part_time_annual_mean_pay,female_full_time_annual_mean_pay,female_part_time_annual_mean_pay,total_annual_mean_pay,full_time_annual_mean_pay,part_time_annual_mean_pay,male_full_time_weekly_mean_pay,male_part_time_weekly_mean_pay,female_full_time_weekly_mean_pay,female_part_time_weekly_mean_pay,total_weekly_mean_pay,full_time_weekly_mean_pay,part_time_weekly_mean_pay,male_full_time_hourly_median_pay,male_part_time_hourly_median_pay,female_full_time_hourly_median_pay,female_part_time_hourly_median_pay,total_hourly_median_pay,full_time_hourly_median_pay,part_time_hourly_median_pay,male_full_time_annual_median_pay,male_part_time_annual_median_pay,female_full_time_annual_median_pay,female_part_time_annual_median_pay,total_annual_median_pay,full_time_annual_median_pay,part_time_annual_median_pay,male_full_time_weekly_median_pay,male_part_time_weekly_median_pay,female_full_time_weekly_median_pay,female_part_time_weekly_median_pay,total_weekly_median_pay,full_time_weekly_median_pay,part_time_weekly_median_pay,IMD - Average rank,IMD - Rank of average rank,IMD - Average score,IMD - Rank of average score,IMD - Proportion of LSOAs in most deprived 10% nationally,IMD - Rank of proportion of LSOAs in most deprived 10% nationally,IMD 2019 - Extent,IMD 2019 - Rank of extent,IMD 2019 - Local concentration,IMD 2019 - Rank of local concentration,Income - Average rank,Income - Rank of average rank,Income - Average score,Income - Rank of average score,Income - Proportion of LSOAs in most deprived 10% nationally,Income - Rank of proportion of LSOAs in most deprived 10% nationally,Income scale,Rank of Income Scale,Employment - Average rank,Employment - Rank of average rank,Employment - Average score,Employment - Rank of average score,Employment - Proportion of LSOAs in most deprived 10% nationally,Employment - Rank of proportion of LSOAs in most deprived 10% nationally,Employment scale,Rank of Employment Scale
0,Camden,E09000007,48.7,51.3,4.8,10.2,20.2,24.4,24.5,15.9,78.3,21.5,61.6,5.6,NaN,50.9,80.9,63.3,NaN,49.1,19.1,35.9,6.5,8.1,9.3,60.9,7.6,6.7,29.99,16.26,24.06,16.75,26.26,27.43,16.56,78238.0,12817.0,53007,16649.0,55701.0,67456.0,14918.0,1152.1,236.1,904.7,273.5,864.6,1043.8,257.8,22.27,15.06,20.23,11.20,19.17,21.16,12.16,44963.0,NaN,39404.0,NaN,35247.0,42416.0,NaN,844.0,NaN,762.1,NaN,662.0,795.4,167.0,16763.28,85,20.131,90,0.0000,130,0.1379,94,27872.90,110,18655.58,63,0.141,69,0.0827,71,34330,89,15925.88,89,0.091,91,0.0075,121,14945.50,92
1,City of London,E09000001,46.4,53.6,NaN,NaN,45.4,NaN,23.4,31.1,73.0,27.0,82.3,NaN,NaN,NaN,100.0,63.8,NaN,NaN,NaN,NaN,NaN,NaN,NaN,100.0,NaN,NaN,NaN,NaN,21.38,NaN,26.24,24.95,NaN,NaN,NaN,44070,NaN,NaN,NaN,10686.0,NaN,NaN,809.6,NaN,882.8,929.9,NaN,NaN,NaN,19.97,NaN,NaN,NaN,NaN,NaN,NaN,39941.0,NaN,NaN,NaN,10047.0,NaN,NaN,741.3,NaN,NaN,NaN,NaN,12420.52,121,14.720,126,0.0000,130,0.0322,135,24167.00,140,8079.96,147,0.065,144,0.0000,136,431,150,8325.25,145,0.052,145,0.0000,133,218.50,150
2,Hackney,E09000012,50.5,49.5,6.5,8.4,33.7,26.6,17.6,7.1,82.6,16.8,67.8,4.4,NaN,53.8,82.5,67.1,81.6,46.2,16.8,31.8,6.2,8.6,10.4,57.4,5.5,10.8,22.92,14.04,20.29,13.96,20.65,21.74,13.99,50253.0,NaN,40820,11979.0,36493.0,45929.0,12705.0,886.4,242.1,768.9,242.2,675.9,832.9,242.2,19.01,9.67,17.70,10.52,16.34,18.43,10.40,38413.0,8957.0,35318.0,9134.0,28790.0,35974.0,9004.0,736.3,174.6,674.4,173.8,574.9,709.2,174.2,25312.57,7,32.526,18,0.1111,56,0.4319,22,30187.74,73,24634.73,5,0.196,17,0.1944,33,52473,43,20677.29,40,0.114,52,0.0347,91,21033.50,55
3,Hammersmith and Fulham,E09000013,49.2,50.8,3.2,8.6,29.5,28.3,17.7,12.8,83.3,16.0,67.8,3.7,NaN,95.0,89.9,72.4,NaN,NaN,10.1,26.4,2.8,5.8,10.2,70.0,5.7,4.7,29.87,16.93,21.66,15.57,25.47,26.16,16.02,69547.0,10739.0,45773,15470.0,51795.0,59058.0,13841.0,1152.3,244.2,827.6,259.8,892.4,1004.9,254.2,22.64,NaN,18.27,13.82,19.78,20.66,14.22,44975.0,NaN,38735.0,NaN,38799.0,42104.0,NaN,849.9,228.8,718.5,NaN,728.0,795.3,208.3,18643.47,68,22.270,78,0.0088,116,0.1644,82,28576.65,105,19094.27,58,0.142,68,0.0708,78,25704,117,16749.60,81,0.094,82,0.0177,106,11701.75,116
4,Islington,E09000019,50.0,50.0,4.7,9.3,28.6,27.6,16.9,12.9,83.2,16.7,70.0,4.2,NaN,72.6,82.7,71.9,NaN,27.4,17.3,28.1,3.6,8.6,8.9,61.7,5.8,10.5,27.58,19.11,24.50,16.28,25.25,26.11,17.37,63828.0,17918.0,52782,16621.0,51351.0,58688.0,17145.0,1073.7,361.3,931.4,303.6,881.3,1004.8,325.6,21.92,NaN,19.57,12.12,19.59,20.91,12.58,44614.0,NaN,NaN,12054.0,37634.0,43715.0,13184.0,859.0,NaN,728.3,249.1,699.1,801.0,252.4,22490.24,24,27.535,41,0.0488,87,0.2705,58,29301.65,87,23301.63,16,0.179,30,0.1057,60,40551,72,20245.78,43,0.111,56,0.0732,72,18240.50,73
5,Kensington and Chelsea,E09000020,49.7,50.3,7.4,6.9,13.0,30.7,24.5,17.5,69.4,27.4,57.3,5.4,NaN,50.9,81.3,73.4,NaN,49.1,18.7,26.6,4.2,6.3,13.7,65.5,4.9,4.7,49.02,NaN,25.40,13.89,37.09,39.49,16.67,NaN,NaN,52487,13720.0,92675.0,110010.0,16003.0,1905.8,NaN,950.0,256.7,1276.2,1511.5,308.7,NaN,NaN,22.32,11.01,21.13,23.19,11.95,NaN,NaN,41557.0,NaN,36277.0,NaN,NaN,NaN,NaN,818.0,NaN,763.7,901.3,219.2,17177.54,80,21.526,81,0.0874,65,0.1985,73,30007.35,76,13962.46,115,0.117,90,0.1650,40,18502,136,12503.41,123,0.080,109,0.1068,57,8196.50,136
6,Lambeth,E09000022,48.9,51.1,4.3,10.3,31.5,27.0,17.5,9.2,83.2,16.0,72.3,5.9,NaN,68.9,85.8,71.2,NaN,31.1,13.8,28.8,5.7,8.5,10.7,63.8,5.9,4.3,23.56,16.22,19.89,13.98,21.19,21.94,14.82,52281.0,16934.0,38202,12706.0,39986.0,46035.0,14205.0,915.6,295.1,750.6,250.3,725.8,841.6,266.8,19.17,10.42,18.40,10.38,17.47,18.84,10.43,40150.0,NaN,34554.0,9072.0,33084.0,36969.0,11253.0,746.8,221.6,689.9,200.1,634.8,714.4,206.5,21351.38,34,25.422,62,0.0000,130,0.1949,74,28390.91,106,20983.21,38,0.153,57,0.0449,100,48928,55,17311.65,74,0.093,84,0.0112,111,21179.00,54
7,Newham,E09000025,46.1,53.9,6.9,8.8,30.8,30.7,13.6,9.1,79.8,19.9,65.9,4.9,NaN,70.7,84.5,73.0,69.9,29.3,15.5,27.0,8.1,11.1,11.3,44.0,14.8,10.1,18.55,11.93,17.00,12.13,17.02,17.92,12.05,38763.0,14718.0,31500,12356.0,30081.0,35776.0,13345.0,744.3,239.9,652.8,236.7,582.3,705.9,237.9,16.31,9.41,15.08,10.07,13.89,15.83,9.65,34134.0,12123.0,27498.0,11193.0,26107.0,31807.0,11399.0,670.7,208.2,571.4,210.9,517.5,622.8,210.5,24138.70,11,29.577,34,0.0244,102,0.2884,53,28987.07,96,23167.95,18,0.169,38,0.0427,102,56769,32,17778.79,67,0.093,85,0.0122,110,20831.75,59
8,Southwark,E09000028,50.2,49.8,5.5,8.9,26.4,29.5,20.1,9.5,79.8,20.0,71.5,4.1,NaN,59.1,75.9,67.5,84.7,40.9,23.8,32.5,5.0,9.6,12.0,62.0,5.1,5.4,24.35,14.51,21.11,14.31,21.99,22.85,14.36,54175.0,NaN,42149,13642.0,42639.0,48717.0,13851.0,950.2,250.2,791.5,254.0,753.3,874.8,253.1,19.10,10.62,18.18,10.62,17.24,18.76,10.63,42542.0,NaN,36555.0,10284.0,35056.0,39130.0,10586.0,737.1,215.4,695.4,195.5,628.0,709.1,198.4,21247.36,35,25.811,55,0.0301,97,0.2305,67,28758.95,102,21355.01,34,0.162,45,0.0783,74,49900,52,17890.86,66,0.097,78,0.0060,129,20959.50,57
9,Tower Hamlets,E09000030,47.7,52.3,3.1,14.4,35.4,30.2,9.5,7.5,83.9,15.6,66.9,4.0,NaN,90.9,87.2,74.5,NaN,9.1,12.8,25.5,2.2,9.0,9.7,60.5,8.3,9.7,27.15,12.89,23.69,13.76,24.74,25.74,13.36,63639.0,NaN,50217,10785.0,50651.0,58151.0,12296.0,1039.9,241.2,878.9,214.7,850.3,973.2,225.7,21.46,9.48,19.87,11.20,19.15,20.64,10.01,45812.0,9776.0,39312.0,8890.0,38000.0,42608.0,9772.0,804.8,186.2,741.5,182.0,688.9,780.4,184.6,22507.05,23,27.913,39,0.0139,111,0.3057,44,29011.42,94,23902.93,10,0.192,21,0.1528,45,56191,34,18064.19,64,0.100,73,0.0069,124,20889.50,58
10,Wandsworth,E09000032,54.2,45.8,3.6,3.7,35.6,28.3,16.3,12.5,79.7,19.4,73.5,4.4,NaN,74.4,86.6,60.5,100.0,25.6,13.0,39.5,3.3,6.4,6.2,71.6,8.0,4.1,28.30,15.75,24.05,17.24,25.54,26.22,16.83,72998.0,11374.0,51429,13982.0,55523.0,62371.0,13224.0,1094.3,236.0,907.5,296.9,890.6,1001.7,278.2,23.17,13.37,20.87,10.71,20.50,21.73,11.93,47145.0,NaN,41096.0,10812.0,39086.0,43449.0,10759.0,862.4,NaN,766.6,212.6,720.9,811.8,199.2,14312.18,108,16.611,113,0.0000,130,0.0495,125,25999.84,128,15134.72,102,0.107,109,0.0168,117,33856,91,11027.84,131,0.064,133,0.0000,133,14180.00,98
11,Westminster,E09000033,49.0,51.0,3.6,8.2,23.3,30.1,19.3,15.5,77.5,22.3,62.4,4.8,NaN,100.0,89.5,62.9,NaN,NaN,9.9,37.1,4.2,5.7,11.5,65.5,6.9,5.8,29.56,NaN,26.73,13.62,27.29,28.33,17.11,NaN,NaN,72399,NaN,68934.0,80301.0,NaN,1141.8,NaN,1013.5,252.1,952.2,1085.6,318.2,22.90,9.95,19.12,10.69,19.14,21.03,10.51,NaN,NaN,40345.0,10979.0,37450.0,43990.0,10825.0,886.6,NaN,721.6,213.5,703.9,812.8,210.4,16573.82,87,20.339,88,0.0234,103,0.1587,85,29203.12,92,16667.53,85,0.135,75,0.1094,57,32018,99,14096.20,107,0.088,99,0.1016,60,14187.50,97

In [63]:
# merge demographics and education on borough_code using inner join
demographics = demographics.merge(indices_of_deprivation_education, how='inner', left_on='borough_code', right_on='Upper Tier Local Authority District code (2019)')

# drop Upper Tier Local Authority District code (2019)	Upper Tier Local Authority District name (2019)
demographics = demographics.drop(['Upper Tier Local Authority District code (2019)', 'Upper Tier Local Authority District name (2019)'], axis=1)

demographics

,borough_name,borough_code,% of all people aged 16+ who are female,% of all people aged 16+ who are male,% of all 16+ who are aged 16-19,% of all 16+ who are aged 20-24,% of all 16+ who are aged 25-34,% of all 16+ who are aged 35-49,% of all 16+ who are aged 50-64,% of all 16+ who are aged 65+,% in employment who are employees - aged 16+,% in employment who are self employed - aged 16+,Employment rate - aged 16+,Unemployment rate - aged 16+,% in employment working full-time - aged 16-19,% in employment working full-time - aged 20-24,% in employment working full-time - aged 25-49,% in employment working full-time - aged 50+,% in employment working part-time - aged 16-19,% in employment working part-time - aged 20-24,% in employment working part-time - aged 25-49,% in employment working part-time - aged 50+,% with NVQ1 only - aged 16-64,% with NVQ2 only - aged 16-64,% with NVQ3 only - aged 16-64,% with NVQ4+ - aged 16-64,% with other qualifications (NVQ) - aged 16-64,% with no qualifications (NVQ) - aged 16-64,male_full_time_hourly_mean_pay,male_part_time_hourly_mean_pay,female_full_time_hourly_mean_pay,female_part_time_hourly_mean_pay,total_hourly_mean_pay,full_time_hourly_mean_pay,part_time_hourly_mean_pay,male_full_time_annual_mean_pay,male_part_time_annual_mean_pay,female_full_time_annual_mean_pay,female_part_time_annual_mean_pay,total_annual_mean_pay,full_time_annual_mean_pay,part_time_annual_mean_pay,male_full_time_weekly_mean_pay,male_part_time_weekly_mean_pay,female_full_time_weekly_mean_pay,female_part_time_weekly_mean_pay,total_weekly_mean_pay,full_time_weekly_mean_pay,part_time_weekly_mean_pay,male_full_time_hourly_median_pay,male_part_time_hourly_median_pay,female_full_time_hourly_median_pay,female_part_time_hourly_median_pay,total_hourly_median_pay,full_time_hourly_median_pay,part_time_hourly_median_pay,male_full_time_annual_median_pay,male_part_time_annual_median_pay,female_full_time_annual_median_pay,female_part_time_annual_median_pay,total_annual_median_pay,full_time_annual_median_pay,part_time_annual_median_pay,male_full_time_weekly_median_pay,male_part_time_weekly_median_pay,female_full_time_weekly_median_pay,female_part_time_weekly_median_pay,total_weekly_median_pay,full_time_weekly_median_pay,part_time_weekly_median_pay,IMD - Average rank,IMD - Rank of average rank,IMD - Average score,IMD - Rank of average score,IMD - Proportion of LSOAs in most deprived 10% nationally,IMD - Rank of proportion of LSOAs in most deprived 10% nationally,IMD 2019 - Extent,IMD 2019 - Rank of extent,IMD 2019 - Local concentration,IMD 2019 - Rank of local concentration,Income - Average rank,Income - Rank of average rank,Income - Average score,Income - Rank of average score,Income - Proportion of LSOAs in most deprived 10% nationally,Income - Rank of proportion of LSOAs in most deprived 10% nationally,Income scale,Rank of Income Scale,Employment - Average rank,Employment - Rank of average rank,Employment - Average score,Employment - Rank of average score,Employment - Proportion of LSOAs in most deprived 10% nationally,Employment - Rank of proportion of LSOAs in most deprived 10% nationally,Employment scale,Rank of Employment Scale,"Education, Skills and Training - Average rank","Education, Skills and Training - Rank of average rank","Education, Skills and Training - Average score","Education, Skills and Training - Rank of average score","Education, Skills and Training - Proportion of LSOAs in most deprived 10% nationally","Education, Skills and Training - Rank of proportion of LSOAs in most deprived 10% nationally"
0,Camden,E09000007,48.7,51.3,4.8,10.2,20.2,24.4,24.5,15.9,78.3,21.5,61.6,5.6,NaN,50.9,80.9,63.3,NaN,49.1,19.1,35.9,6.5,8.1,9.3,60.9,7.6,6.7,29.99,16.26,24.06,16.75,26.26,27.43,16.56,78238.0,12817.0,53007,16649.0,55701.0,67456.0,14918.0,1152.1,236.1,904.7,273.5,864.6,1043.8,257.8,22.27,15.06,20.23,11.20,19.17,21.16,12.16,44963.0,NaN,39404.0,NaN,35247.0,42416.0,NaN,844.0,NaN,762.1,NaN,662.0,795.4,167.0,16763.28,85,20.131,90,0.0000,130,0.1379,94,27872.90,110,18655.58,63,0.141,69,0.0827,71,34330,89,15925.88,89,0.091,91,0.0075,121,14945.50,92,10337.67,135,10.523,136,0.0000,120
1,City of London,E09000001,46.4,53.6,NaN,NaN,45.4,NaN,23.4,31.1,73.0,27.0,82.3,NaN,NaN,NaN,100.0,63.8,NaN,NaN,NaN,NaN,NaN,NaN,NaN,100.0,NaN,NaN,NaN,NaN,21.38,NaN,26.24,24.95,NaN,NaN,NaN,44070,NaN,NaN,NaN,10686.0,NaN,NaN,809.6,NaN,882.8,929.9,NaN,NaN,NaN,19.97,NaN,NaN,NaN,NaN,NaN,NaN,39941.0,NaN,NaN,NaN,10047.0,NaN,NaN,741.3,NaN,NaN,NaN,NaN,12420.52,121,14.720,126,0.0000,130,0.0322,135,24167.00,140,8079.96,147,0.065,144,0.0000,136,431,150,8325.25,145,0.052,145,0.0000,133,218.50,150,5270.42,150,5.457,149,0.0000,120
2,Hackney,E09000012,50.5,49.5,6.5,8.4,33.7,26.6,17.6,7.1,82.6,16.8,67.8,4.4,NaN,53.8,82.5,67.1,81.6,46.2,16.8,31.8,6.2,8.6,10.4,57.4,5.5,10.8,22.92,14.04,20.29,13.96,20.65,21.74,13.99,50253.0,NaN,40820,11979.0,36493.0,45929.0,12705.0,886.4,242.1,768.9,242.2,675.9,832.9,242.2,19.01,9.67,17.70,10.52,16.34,18.43,10.40,38413.0,8957.0,35318.0,9134.0,28790.0,35974.0,9004.0,736.3,174.6,674.4,173.8,574.9,709.2,174.2,25312.57,7,32.526,18,0.1111,56,0.4319,22,30187.74,73,24634.73,5,0.196,17,0.1944,33,52473,43,20677.29,40,0.114,52,0.0347,91,21033.50,55,13748.71,113,14.972,120,0.0069,115
3,Hammersmith and Fulham,E09000013,49.2,50.8,3.2,8.6,29.5,28.3,17.7,12.8,83.3,16.0,67.8,3.7,NaN,95.0,89.9,72.4,NaN,NaN,10.1,26.4,2.8,5.8,10.2,70.0,5.7,4.7,29.87,16.93,21.66,15.57,25.47,26.16,16.02,69547.0,10739.0,45773,15470.0,51795.0,59058.0,13841.0,1152.3,244.2,827.6,259.8,892.4,1004.9,254.2,22.64,NaN,18.27,13.82,19.78,20.66,14.22,44975.0,NaN,38735.0,NaN,38799.0,42104.0,NaN,849.9,228.8,718.5,NaN,728.0,795.3,208.3,18643.47,68,22.270,78,0.0088,116,0.1644,82,28576.65,105,19094.27,58,0.142,68,0.0708,78,25704,117,16749.60,81,0.094,82,0.0177,106,11701.75,116,8311.52,143,8.141,142,0.0000,120
4,Islington,E09000019,50.0,50.0,4.7,9.3,28.6,27.6,16.9,12.9,83.2,16.7,70.0,4.2,NaN,72.6,82.7,71.9,NaN,27.4,17.3,28.1,3.6,8.6,8.9,61.7,5.8,10.5,27.58,19.11,24.50,16.28,25.25,26.11,17.37,63828.0,17918.0,52782,16621.0,51351.0,58688.0,17145.0,1073.7,361.3,931.4,303.6,881.3,1004.8,325.6,21.92,NaN,19.57,12.12,19.59,20.91,12.58,44614.0,NaN,NaN,12054.0,37634.0,43715.0,13184.0,859.0,NaN,728.3,249.1,699.1,801.0,252.4,22490.24,24,27.535,41,0.0488,87,0.2705,58,29301.65,87,23301.63,16,0.179,30,0.1057,60,40551,72,20245.78,43,0.111,56,0.0732,72,18240.50,73,12332.79,125,12.483,128,0.0000,120
5,Kensington and Chelsea,E09000020,49.7,50.3,7.4,6.9,13.0,30.7,24.5,17.5,69.4,27.4,57.3,5.4,NaN,50.9,81.3,73.4,NaN,49.1,18.7,26.6,4.2,6.3,13.7,65.5,4.9,4.7,49.02,NaN,25.40,13.89,37.09,39.49,16.67,NaN,NaN,52487,13720.0,92675.0,110010.0,16003.0,1905.8,NaN,950.0,256.7,1276.2,1511.5,308.7,NaN,NaN,22.32,11.01,21.13,23.19,11.95,NaN,NaN,41557.0,NaN,36277.0,NaN,NaN,NaN,NaN,818.0,NaN,763.7,901.3,219.2,17177.54,80,21.526,81,0.0874,65,0.1985,73,30007.35,76,13962.46,115,0.117,90,0.1650,40,18502,136,12503.41,123,0.080,109,0.1068,57,8196.50,136,5295.13,149,5.192,150,0.0000,120
6,Lambeth,E09000022,48.9,51.1,4.3,10.3,31.5,27.0,17.5,9.2,83.2,16.0,72.3,5.9,NaN,68.9,85.8,71.2,NaN,31.1,13.8,28.8,5.7,8.5,10.7,63.8,5.9,4.3,23.56,16.22,19.89,13.98,21.19,21.94,14.82,52281.0,16934.0,38202,12706.0,39986.0,46035.0,14205.0,915.6,295.1,750.6,250.3,725.8,841.6,266.8,19.17,10.42,18.40,10.38,17.47,18.84,10.43,40150.0,NaN,34554.0,9072.0,33084.0,36969.0,11253.0,746.8,221.6,689.9,200.1,634.8,714.4,206.5,21351.38,34,25.422,62,0.0000,130,0.1949,74,28390.91,106,20983.21,38,0.153,57,0.0449,100,48928,55,17311.65,74,0.093,84,0.0112,111,21179.00,54,10677.91,133,10.493,137,0.0000,120
7,Newham,E09000025,46.1,53.9,6.9,8.8,30.8,30.7,13.6,9.1,79.8,19.9,65.9,4.9,NaN,70.7,84.5,73.0,69.9,29.3,15.5,27.0,8.1,11.1,11.3,44.0,14.8,10.1,18.55,11.93,17.00,12.13,17.02,17.92,12.05,38763.0,14718.0,31500,12356.0,30081.0,35776.0,13345.0,744.3,239.9,652.8,236.7,582.3,705.9,237.9,16.31,9.41,15.08,10.07,13.89,15.83,9.65,34134.0,12123.0,27498.0,11193.0,26107.0,31807.0,11399.0,670.7,208.2,571.4,210.9,517.5,622.8,210.5,24138.70,11,29.577,34,0.0244,102,0.2884,53,28987.07,96,23167.95,18,0.169,38,0.0427,102,56769,32,17778.79,67,0.093,85,0.0122,110,20831.75,59,17121.36,68,17.775,99,0.0000,120
8,Southwark,E09000028,50.2,49.8,5.5,8.9,26.4,29.5,20.1,9.5,79.8,20.0,71.5,4.1,NaN,59.1,75.9,67.5,84.7,40.9,23.8,32.5,5.0,9.6,12.0,62.0,5.1,5.4,24.35,14.51,21.11,14.31,21.99,22.85,14.36,54175.0,NaN,42149,13642.0,42639.0,48717.0,13851.0,950.2,250.2,791.5,254.0,753.3,874.8,253.1,19.10,10.62,18.18,10.62,17.24,18.76,10.63,42542.0,NaN,36555.0,10284.0,35056.0,39130.0,10586.0,737.1,215.4,695.4,195.5,628.0,709.1,198.4,21247.36,35,25.811,55,0.0301,97,0.2305,67,28758.95,102,21355.01,34,0.162,45,0.0783,74,49900,52,17890.86,66,0.097,78,0.0060,129,20959.50,57,11263.58,131,11.086,132,0.0000,120
9,Tower Hamlets,E09000030,47.7,52.3,3.1,14.4,35.4,30.2,9.5,7.5,83.9,15.6,66.9,4.0,NaN,90.9,87.2,74.5,NaN,9.1,12.8,25.5,2.2,9.0,9.7,60.5,8.3,9.7,27.15,12.89,23.69,13.76,24.74,25.74,13.36,63639.0,NaN,50217,10785.0,50651.0,58151.0,12296.0,1039.9,241.2,878.9,214.7,850.3,973.2,225.7,21.46,9.48,19.87,11.20,19.15,20.64,10.01,45812.0,9776.0,39312.0,8890.0,38000.0,42608.0,9772.0,804.8,186.2,741.5,182.0,688.9,780.4,184.6,22507.05,23,27.913,39,0.0139,111,0.3057,44,29011.42,94,23902.93,10,0.192,21,0.1528,45,56191,34,18064.19,64,0.100,73,0.0069,124,20889.50,58,15428.02,92,16.934,110,0.0069,115
10,Wandsworth,E09000032,54.2,45.8,3.6,3.7,35.6,28.3,16.3,12.5,79.7,19.4,73.5,4.4,NaN,74.4,86.6,60.5,100.0,25.6,13.0,39.5,3.3,6.4,6.2,71.6,8.0,4.1,28.30,15.75,24.05,17.24,25.54,26.22,16.83,72998.0,11374.0,51429,13982.0,55523.0,62371.0,13224.0,1094.3,236.0,907.5,296.9,890.6,1001.7,278.2,23.17,13.37,20.87,10.71,20.50,21.73,11.93,47145.0,NaN,41096.0,10812.0,39086.0,43449.0,10759.0,862.4,NaN,766.6,212.6,720.9,811.8,199.2,14312.18,108,16.611,113,0.0000,130,0.0495,125,25999.84,128,15134.72,102,0.107,109,0.0168,117,33856,91,11027.84,131,0.064,133,0.0000,133,14180.00,98,6838.04,147,6.649,147,0.0000,120
11,Westminster,E09000033,49.0,51.0,3.6,8.2,23.3,30.1,19.3,15.5,77.5,22.3,62.4,4.8,NaN,100.0,89.5,62.9,NaN,NaN,9.9,37.1,4.2,5.7,11.5,65.5,6.9,5.8,29.56,NaN,26.73,13.62,27.29,28.33,17.11,NaN,NaN,72399,NaN,68934.0,80301.0,NaN,1141.8,NaN,1013.5,252.1,952.2,1085.6,318.2,22.90,9.95,19.12,10.69,19.14,21.03,10.51,NaN,NaN,40345.0,10979.0,37450.0,43990.0,10825.0,886.6,NaN,721.6,213.5,703.9,812.8,210.4,16573.82,87,20.339,88,0.0234,103,0.1587,85,29203.12,92,16667.53,85,0.135,75,0.1094,57,32018,99,14096.20,107,0.088,99,0.1016,60,14187.50,97,8630.05,140,8.535,141,0.0000,120

In [64]:
# merge demographics and health on borough_code using inner join
demographics = demographics.merge(indices_of_deprivation_health, how='inner', left_on='borough_code', right_on='Upper Tier Local Authority District code (2019)')

# drop Upper Tier Local Authority District code (2019)	Upper Tier Local Authority District name (2019)
demographics = demographics.drop(['Upper Tier Local Authority District code (2019)', 'Upper Tier Local Authority District name (2019)'], axis=1)

demographics

,borough_name,borough_code,% of all people aged 16+ who are female,% of all people aged 16+ who are male,% of all 16+ who are aged 16-19,% of all 16+ who are aged 20-24,% of all 16+ who are aged 25-34,% of all 16+ who are aged 35-49,% of all 16+ who are aged 50-64,% of all 16+ who are aged 65+,% in employment who are employees - aged 16+,% in employment who are self employed - aged 16+,Employment rate - aged 16+,Unemployment rate - aged 16+,% in employment working full-time - aged 16-19,% in employment working full-time - aged 20-24,% in employment working full-time - aged 25-49,% in employment working full-time - aged 50+,% in employment working part-time - aged 16-19,% in employment working part-time - aged 20-24,% in employment working part-time - aged 25-49,% in employment working part-time - aged 50+,% with NVQ1 only - aged 16-64,% with NVQ2 only - aged 16-64,% with NVQ3 only - aged 16-64,% with NVQ4+ - aged 16-64,% with other qualifications (NVQ) - aged 16-64,% with no qualifications (NVQ) - aged 16-64,male_full_time_hourly_mean_pay,male_part_time_hourly_mean_pay,female_full_time_hourly_mean_pay,female_part_time_hourly_mean_pay,total_hourly_mean_pay,full_time_hourly_mean_pay,part_time_hourly_mean_pay,male_full_time_annual_mean_pay,male_part_time_annual_mean_pay,female_full_time_annual_mean_pay,female_part_time_annual_mean_pay,total_annual_mean_pay,full_time_annual_mean_pay,part_time_annual_mean_pay,male_full_time_weekly_mean_pay,male_part_time_weekly_mean_pay,female_full_time_weekly_mean_pay,female_part_time_weekly_mean_pay,total_weekly_mean_pay,full_time_weekly_mean_pay,part_time_weekly_mean_pay,male_full_time_hourly_median_pay,male_part_time_hourly_median_pay,female_full_time_hourly_median_pay,female_part_time_hourly_median_pay,total_hourly_median_pay,full_time_hourly_median_pay,part_time_hourly_median_pay,male_full_time_annual_median_pay,male_part_time_annual_median_pay,female_full_time_annual_median_pay,female_part_time_annual_median_pay,total_annual_median_pay,full_time_annual_median_pay,part_time_annual_median_pay,male_full_time_weekly_median_pay,male_part_time_weekly_median_pay,female_full_time_weekly_median_pay,female_part_time_weekly_median_pay,total_weekly_median_pay,full_time_weekly_median_pay,part_time_weekly_median_pay,IMD - Average rank,IMD - Rank of average rank,IMD - Average score,IMD - Rank of average score,IMD - Proportion of LSOAs in most deprived 10% nationally,IMD - Rank of proportion of LSOAs in most deprived 10% nationally,IMD 2019 - Extent,IMD 2019 - Rank of extent,IMD 2019 - Local concentration,IMD 2019 - Rank of local concentration,Income - Average rank,Income - Rank of average rank,Income - Average score,Income - Rank of average score,Income - Proportion of LSOAs in most deprived 10% nationally,Income - Rank of proportion of LSOAs in most deprived 10% nationally,Income scale,Rank of Income Scale,Employment - Average rank,Employment - Rank of average rank,Employment - Average score,Employment - Rank of average score,Employment - Proportion of LSOAs in most deprived 10% nationally,Employment - Rank of proportion of LSOAs in most deprived 10% nationally,Employment scale,Rank of Employment Scale,"Education, Skills and Training - Average rank","Education, Skills and Training - Rank of average rank","Education, Skills and Training - Average score","Education, Skills and Training - Rank of average score","Education, Skills and Training - Proportion of LSOAs in most deprived 10% nationally","Education, Skills and Training - Rank of proportion of LSOAs in most deprived 10% nationally",Health Deprivation and Disability - Average rank,Health Deprivation and Disability - Rank of average rank,Health Deprivation and Disability - Average score,Health Deprivation and Disability - Rank of average score,Health Deprivation and Disability - Proportion of LSOAs in most deprived 10% nationally,Health Deprivation and Disability - Rank of proportion of LSOAs in most deprived 10% nationally
0,Camden,E09000007,48.7,51.3,4.8,10.2,20.2,24.4,24.5,15.9,78.3,21.5,61.6,5.6,NaN,50.9,80.9,63.3,NaN,49.1,19.1,35.9,6.5,8.1,9.3,60.9,7.6,6.7,29.99,16.26,24.06,16.75,26.26,27.43,16.56,78238.0,12817.0,53007,16649.0,55701.0,67456.0,14918.0,1152.1,236.1,904.7,273.5,864.6,1043.8,257.8,22.27,15.06,20.23,11.20,19.17,21.16,12.16,44963.0,NaN,39404.0,NaN,35247.0,42416.0,NaN,844.0,NaN,762.1,NaN,662.0,795.4,167.0,16763.28,85,20.131,90,0.0000,130,0.1379,94,27872.90,110,18655.58,63,0.141,69,0.0827,71,34330,89,15925.88,89,0.091,91,0.0075,121,14945.50,92,10337.67,135,10.523,136,0.0000,120,10894.25,119,-0.556,123,0.0000,116
1,City of London,E09000001,46.4,53.6,NaN,NaN,45.4,NaN,23.4,31.1,73.0,27.0,82.3,NaN,NaN,NaN,100.0,63.8,NaN,NaN,NaN,NaN,NaN,NaN,NaN,100.0,NaN,NaN,NaN,NaN,21.38,NaN,26.24,24.95,NaN,NaN,NaN,44070,NaN,NaN,NaN,10686.0,NaN,NaN,809.6,NaN,882.8,929.9,NaN,NaN,NaN,19.97,NaN,NaN,NaN,NaN,NaN,NaN,39941.0,NaN,NaN,NaN,10047.0,NaN,NaN,741.3,NaN,NaN,NaN,NaN,12420.52,121,14.720,126,0.0000,130,0.0322,135,24167.00,140,8079.96,147,0.065,144,0.0000,136,431,150,8325.25,145,0.052,145,0.0000,133,218.50,150,5270.42,150,5.457,149,0.0000,120,8758.28,132,-0.686,131,0.0000,116
2,Hackney,E09000012,50.5,49.5,6.5,8.4,33.7,26.6,17.6,7.1,82.6,16.8,67.8,4.4,NaN,53.8,82.5,67.1,81.6,46.2,16.8,31.8,6.2,8.6,10.4,57.4,5.5,10.8,22.92,14.04,20.29,13.96,20.65,21.74,13.99,50253.0,NaN,40820,11979.0,36493.0,45929.0,12705.0,886.4,242.1,768.9,242.2,675.9,832.9,242.2,19.01,9.67,17.70,10.52,16.34,18.43,10.40,38413.0,8957.0,35318.0,9134.0,28790.0,35974.0,9004.0,736.3,174.6,674.4,173.8,574.9,709.2,174.2,25312.57,7,32.526,18,0.1111,56,0.4319,22,30187.74,73,24634.73,5,0.196,17,0.1944,33,52473,43,20677.29,40,0.114,52,0.0347,91,21033.50,55,13748.71,113,14.972,120,0.0069,115,21637.86,46,0.371,50,0.0208,91
3,Hammersmith and Fulham,E09000013,49.2,50.8,3.2,8.6,29.5,28.3,17.7,12.8,83.3,16.0,67.8,3.7,NaN,95.0,89.9,72.4,NaN,NaN,10.1,26.4,2.8,5.8,10.2,70.0,5.7,4.7,29.87,16.93,21.66,15.57,25.47,26.16,16.02,69547.0,10739.0,45773,15470.0,51795.0,59058.0,13841.0,1152.3,244.2,827.6,259.8,892.4,1004.9,254.2,22.64,NaN,18.27,13.82,19.78,20.66,14.22,44975.0,NaN,38735.0,NaN,38799.0,42104.0,NaN,849.9,228.8,718.5,NaN,728.0,795.3,208.3,18643.47,68,22.270,78,0.0088,116,0.1644,82,28576.65,105,19094.27,58,0.142,68,0.0708,78,25704,117,16749.60,81,0.094,82,0.0177,106,11701.75,116,8311.52,143,8.141,142,0.0000,120,16097.84,84,-0.050,86,0.0088,102
4,Islington,E09000019,50.0,50.0,4.7,9.3,28.6,27.6,16.9,12.9,83.2,16.7,70.0,4.2,NaN,72.6,82.7,71.9,NaN,27.4,17.3,28.1,3.6,8.6,8.9,61.7,5.8,10.5,27.58,19.11,24.50,16.28,25.25,26.11,17.37,63828.0,17918.0,52782,16621.0,51351.0,58688.0,17145.0,1073.7,361.3,931.4,303.6,881.3,1004.8,325.6,21.92,NaN,19.57,12.12,19.59,20.91,12.58,44614.0,NaN,NaN,12054.0,37634.0,43715.0,13184.0,859.0,NaN,728.3,249.1,699.1,801.0,252.4,22490.24,24,27.535,41,0.0488,87,0.2705,58,29301.65,87,23301.63,16,0.179,30,0.1057,60,40551,72,20245.78,43,0.111,56,0.0732,72,18240.50,73,12332.79,125,12.483,128,0.0000,120,20276.46,52,0.274,58,0.0081,106
5,Kensington and Chelsea,E09000020,49.7,50.3,7.4,6.9,13.0,30.7,24.5,17.5,69.4,27.4,57.3,5.4,NaN,50.9,81.3,73.4,NaN,49.1,18.7,26.6,4.2,6.3,13.7,65.5,4.9,4.7,49.02,NaN,25.40,13.89,37.09,39.49,16.67,NaN,NaN,52487,13720.0,92675.0,110010.0,16003.0,1905.8,NaN,950.0,256.7,1276.2,1511.5,308.7,NaN,NaN,22.32,11.01,21.13,23.19,11.95,NaN,NaN,41557.0,NaN,36277.0,NaN,NaN,NaN,NaN,818.0,NaN,763.7,901.3,219.2,17177.54,80,21.526,81,0.0874,65,0.1985,73,30007.35,76,13962.46,115,0.117,90,0.1650,40,18502,136,12503.41,123,0.080,109,0.1068,57,8196.50,136,5295.13,149,5.192,150,0.0000,120,6985.20,137,-1.243,148,0.0000,116
6,Lambeth,E09000022,48.9,51.1,4.3,10.3,31.5,27.0,17.5,9.2,83.2,16.0,72.3,5.9,NaN,68.9,85.8,71.2,NaN,31.1,13.8,28.8,5.7,8.5,10.7,63.8,5.9,4.3,23.56,16.22,19.89,13.98,21.19,21.94,14.82,52281.0,16934.0,38202,12706.0,39986.0,46035.0,14205.0,915.6,295.1,750.6,250.3,725.8,841.6,266.8,19.17,10.42,18.40,10.38,17.47,18.84,10.43,40150.0,NaN,34554.0,9072.0,33084.0,36969.0,11253.0,746.8,221.6,689.9,200.1,634.8,714.4,206.5,21351.38,34,25.422,62,0.0000,130,0.1949,74,28390.91,106,20983.21,38,0.153,57,0.0449,100,48928,55,17311.65,74,0.093,84,0.0112,111,21179.00,54,10677.91,133,10.493,137,0.0000,120,18598.80,64,0.148,68,0.0225,90
7,Newham,E09000025,46.1,53.9,6.9,8.8,30.8,30.7,13.6,9.1,79.8,19.9,65.9,4.9,NaN,70.7,84.5,73.0,69.9,29.3,15.5,27.0,8.1,11.1,11.3,44.0,14.8,10.1,18.55,11.93,17.00,12.13,17.02,17.92,12.05,38763.0,14718.0,31500,12356.0,30081.0,35776.0,13345.0,744.3,239.9,652.8,236.7,582.3,705.9,237.9,16.31,9.41,15.08,10.07,13.89,15.83,9.65,34134.0,12123.0,27498.0,11193.0,26107.0,31807.0,11399.0,670.7,208.2,571.4,210.9,517.5,622.8,210.5,24138.70,11,29.577,34,0.0244,102,0.2884,53,28987.07,96,23167.95,18,0.169,38,0.0427,102,56769,32,17778.79,67,0.093,85,0.0122,110,20831.75,59,17121.36,68,17.775,99,0.0000,120,16231.92,83,-0.030,83,0.0061,111
8,Southwark,E09000028,50.2,49.8,5.5,8.9,26.4,29.5,20.1,9.5,79.8,20.0,71.5,4.1,NaN,59.1,75.9,67.5,84.7,40.9,23.8,32.5,5.0,9.6,12.0,62.0,5.1,5.4,24.35,14.51,21.11,14.31,21.99,22.85,14.36,54175.0,NaN,42149,13642.0,42639.0,48717.0,13851.0,950.2,250.2,791.5,254.0,753.3,874.8,253.1,19.10,10.62,18.18,10.62,17.24,18.76,10.63,42542.0,NaN,36555.0,10284.0,35056.0,39130.0,10586.0,737.1,215.4,695.4,195.5,628.0,709.1,198.4,21247.36,35,25.811,55,0.0301,97,0.2305,67,28758.95,102,21355.01,34,0.162,45,0.0783,74,49900,52,17890.86,66,0.097,78,0.0060,129,20959.50,57,11263.58,131,11.086,132,0.0000,120,18240.14,69,0.112,70,0.0120,99
9,Tower Hamlets,E09000030,47.7,52.3,3.1,14.4,35.4,30.2,9.5,7.5,83.9,15.6,66.9,4.0,NaN,90.9,87.2,74.5,NaN,9.1,12.8,25.5,2.2,9.0,9.7,60.5,8.3,9.7,27.15,12.89,23.69,13.76,24.74,25.74,13.36,63639.0,NaN,50217,10785.0,50651.0,58151.0,12296.0,1039.9,241.2,878.9,214.7,850.3,973.2,225.7,21.46,9.48,19.87,11.20,19.15,20.64,10.01,45812.0,9776.0,39312.0,8890.0,38000.0,42608.0,9772.0,804.8,186.2,741.5,182.0,688.9,780.4,184.6,22507.05,23,27.913,39,0.0139,111,0.3057,44,29011.42,94,23902.93,10,0.192,21,0.1528,45,56191,34,18064.19,64,0.100,73,0.0069,124,20889.50,58,15428.02,92,16.934,110,0.0069,115,19333.30,62,0.195,64,0.0139,96
10,Wandsworth,E09000032,54.2,45.8,3.6,3.7,35.6,28.3,16.3,12.5,79.7,19.4,73.5,4.4,NaN,74.4,86.6,60.5,100.0,25.6,13.0,39.5,3.3,6.4,6.2,71.6,8.0,4.1,28.30,15.75,24.05,17.24,25.54,26.22,16.83,72998.0,11374.0,51429,13982.0,55523.0,62371.0,13224.0,1094.3,236.0,907.5,296.9,890.6,1001.7,278.2,23.17,13.37,20.87,10.71,20.50,21.73,11.93,47145.0,NaN,41096.0,10812.0,39086.0,43449.0,10759.0,862.4,NaN,766.6,212.6,720.9,811.8,199.2,14312.18,108,16.611,113,0.0000,130,0.0495,125,25999.84,128,15134.72,102,0.107,109,0.0168,117,33856,91,11027.84,131,0.064,133,0.0000,133,14180.00,98,6838.04,147,6.649,147,0.0000,120,11755.78,115,-0.388,114,0.0000,116
11,Westminster,E09000033,49.0,51.0,3.6,8.2,23.3,30.1,19.3,15.5,77.5,22.3,62.4,4.8,NaN,100.0,89.5,62.9,NaN,NaN,9.9,37.1,4.2,5.7,11.5,65.5,6.9,5.8,29.56,NaN,26.73,13.62,27.29,28.33,17.11,NaN,NaN,72399,NaN,68934.0,80301.0,NaN,1141.8,NaN,1013.5,252.1,952.2,1085.6,318.2,22.90,9.95,19.12,10.69,19.14,21.03,10.51,NaN,NaN,40345.0,10979.0,37450.0,43990.0,10825.0,886.6,NaN,721.6,213.5,703.9,812.8,210.4,16573.82,87,20.339,88,0.0234,103,0.1587,85,29203.12,92,16667.53,85,0.135,75,0.1094,57,32018,99,14096.20,107,0.088,99,0.1016,60,14187.50,97,8630.05,140,8.535,141,0.0000,120,9103.58,130,-0.855,137,0.0078,107

In [65]:
# merge demographics and crime on borough_code using inner join
demographics = demographics.merge(indices_of_deprivation_crime, how='inner', left_on='borough_code', right_on='Upper Tier Local Authority District code (2019)')

# drop Upper Tier Local Authority District code (2019)	Upper Tier Local Authority District name (2019)
demographics = demographics.drop(['Upper Tier Local Authority District code (2019)', 'Upper Tier Local Authority District name (2019)'], axis=1)

demographics

,borough_name,borough_code,% of all people aged 16+ who are female,% of all people aged 16+ who are male,% of all 16+ who are aged 16-19,% of all 16+ who are aged 20-24,% of all 16+ who are aged 25-34,% of all 16+ who are aged 35-49,% of all 16+ who are aged 50-64,% of all 16+ who are aged 65+,% in employment who are employees - aged 16+,% in employment who are self employed - aged 16+,Employment rate - aged 16+,Unemployment rate - aged 16+,% in employment working full-time - aged 16-19,% in employment working full-time - aged 20-24,% in employment working full-time - aged 25-49,% in employment working full-time - aged 50+,% in employment working part-time - aged 16-19,% in employment working part-time - aged 20-24,% in employment working part-time - aged 25-49,% in employment working part-time - aged 50+,% with NVQ1 only - aged 16-64,% with NVQ2 only - aged 16-64,% with NVQ3 only - aged 16-64,% with NVQ4+ - aged 16-64,% with other qualifications (NVQ) - aged 16-64,% with no qualifications (NVQ) - aged 16-64,male_full_time_hourly_mean_pay,male_part_time_hourly_mean_pay,female_full_time_hourly_mean_pay,female_part_time_hourly_mean_pay,total_hourly_mean_pay,full_time_hourly_mean_pay,part_time_hourly_mean_pay,male_full_time_annual_mean_pay,male_part_time_annual_mean_pay,female_full_time_annual_mean_pay,female_part_time_annual_mean_pay,total_annual_mean_pay,full_time_annual_mean_pay,part_time_annual_mean_pay,male_full_time_weekly_mean_pay,male_part_time_weekly_mean_pay,female_full_time_weekly_mean_pay,female_part_time_weekly_mean_pay,total_weekly_mean_pay,full_time_weekly_mean_pay,part_time_weekly_mean_pay,male_full_time_hourly_median_pay,male_part_time_hourly_median_pay,female_full_time_hourly_median_pay,female_part_time_hourly_median_pay,total_hourly_median_pay,full_time_hourly_median_pay,part_time_hourly_median_pay,male_full_time_annual_median_pay,male_part_time_annual_median_pay,female_full_time_annual_median_pay,female_part_time_annual_median_pay,total_annual_median_pay,full_time_annual_median_pay,part_time_annual_median_pay,male_full_time_weekly_median_pay,male_part_time_weekly_median_pay,female_full_time_weekly_median_pay,female_part_time_weekly_median_pay,total_weekly_median_pay,full_time_weekly_median_pay,part_time_weekly_median_pay,IMD - Average rank,IMD - Rank of average rank,IMD - Average score,IMD - Rank of average score,IMD - Proportion of LSOAs in most deprived 10% nationally,IMD - Rank of proportion of LSOAs in most deprived 10% nationally,IMD 2019 - Extent,IMD 2019 - Rank of extent,IMD 2019 - Local concentration,IMD 2019 - Rank of local concentration,Income - Average rank,Income - Rank of average rank,Income - Average score,Income - Rank of average score,Income - Proportion of LSOAs in most deprived 10% nationally,Income - Rank of proportion of LSOAs in most deprived 10% nationally,Income scale,Rank of Income Scale,Employment - Average rank,Employment - Rank of average rank,Employment - Average score,Employment - Rank of average score,Employment - Proportion of LSOAs in most deprived 10% nationally,Employment - Rank of proportion of LSOAs in most deprived 10% nationally,Employment scale,Rank of Employment Scale,"Education, Skills and Training - Average rank","Education, Skills and Training - Rank of average rank","Education, Skills and Training - Average score","Education, Skills and Training - Rank of average score","Education, Skills and Training - Proportion of LSOAs in most deprived 10% nationally","Education, Skills and Training - Rank of proportion of LSOAs in most deprived 10% nationally",Health Deprivation and Disability - Average rank,Health Deprivation and Disability - Rank of average rank,Health Deprivation and Disability - Average score,Health Deprivation and Disability - Rank of average score,Health Deprivation and Disability - Proportion of LSOAs in most deprived 10% nationally,Health Deprivation and Disability - Rank of proportion of LSOAs in most deprived 10% nationally,Crime - Average rank,Crime - Rank of average rank,Crime - Average score,Crime - Rank of average score,Crime - Proportion of LSOAs in most deprived 10% nationally,Crime - Rank of proportion of LSOAs in most deprived 10% nationally
0,Camden,E09000007,48.7,51.3,4.8,10.2,20.2,24.4,24.5,15.9,78.3,21.5,61.6,5.6,NaN,50.9,80.9,63.3,NaN,49.1,19.1,35.9,6.5,8.1,9.3,60.9,7.6,6.7,29.99,16.26,24.06,16.75,26.26,27.43,16.56,78238.0,12817.0,53007,16649.0,55701.0,67456.0,14918.0,1152.1,236.1,904.7,273.5,864.6,1043.8,257.8,22.27,15.06,20.23,11.20,19.17,21.16,12.16,44963.0,NaN,39404.0,NaN,35247.0,42416.0,NaN,844.0,NaN,762.1,NaN,662.0,795.4,167.0,16763.28,85,20.131,90,0.0000,130,0.1379,94,27872.90,110,18655.58,63,0.141,69,0.0827,71,34330,89,15925.88,89,0.091,91,0.0075,121,14945.50,92,10337.67,135,10.523,136,0.0000,120,10894.25,119,-0.556,123,0.0000,116,20400.70,57,0.325,57,0.1128,55
1,City of London,E09000001,46.4,53.6,NaN,NaN,45.4,NaN,23.4,31.1,73.0,27.0,82.3,NaN,NaN,NaN,100.0,63.8,NaN,NaN,NaN,NaN,NaN,NaN,NaN,100.0,NaN,NaN,NaN,NaN,21.38,NaN,26.24,24.95,NaN,NaN,NaN,44070,NaN,NaN,NaN,10686.0,NaN,NaN,809.6,NaN,882.8,929.9,NaN,NaN,NaN,19.97,NaN,NaN,NaN,NaN,NaN,NaN,39941.0,NaN,NaN,NaN,10047.0,NaN,NaN,741.3,NaN,NaN,NaN,NaN,12420.52,121,14.720,126,0.0000,130,0.0322,135,24167.00,140,8079.96,147,0.065,144,0.0000,136,431,150,8325.25,145,0.052,145,0.0000,133,218.50,150,5270.42,150,5.457,149,0.0000,120,8758.28,132,-0.686,131,0.0000,116,1234.77,151,-1.656,151,0.0000,138
2,Hackney,E09000012,50.5,49.5,6.5,8.4,33.7,26.6,17.6,7.1,82.6,16.8,67.8,4.4,NaN,53.8,82.5,67.1,81.6,46.2,16.8,31.8,6.2,8.6,10.4,57.4,5.5,10.8,22.92,14.04,20.29,13.96,20.65,21.74,13.99,50253.0,NaN,40820,11979.0,36493.0,45929.0,12705.0,886.4,242.1,768.9,242.2,675.9,832.9,242.2,19.01,9.67,17.70,10.52,16.34,18.43,10.40,38413.0,8957.0,35318.0,9134.0,28790.0,35974.0,9004.0,736.3,174.6,674.4,173.8,574.9,709.2,174.2,25312.57,7,32.526,18,0.1111,56,0.4319,22,30187.74,73,24634.73,5,0.196,17,0.1944,33,52473,43,20677.29,40,0.114,52,0.0347,91,21033.50,55,13748.71,113,14.972,120,0.0069,115,21637.86,46,0.371,50,0.0208,91,24250.45,13,0.621,17,0.2292,25
3,Hammersmith and Fulham,E09000013,49.2,50.8,3.2,8.6,29.5,28.3,17.7,12.8,83.3,16.0,67.8,3.7,NaN,95.0,89.9,72.4,NaN,NaN,10.1,26.4,2.8,5.8,10.2,70.0,5.7,4.7,29.87,16.93,21.66,15.57,25.47,26.16,16.02,69547.0,10739.0,45773,15470.0,51795.0,59058.0,13841.0,1152.3,244.2,827.6,259.8,892.4,1004.9,254.2,22.64,NaN,18.27,13.82,19.78,20.66,14.22,44975.0,NaN,38735.0,NaN,38799.0,42104.0,NaN,849.9,228.8,718.5,NaN,728.0,795.3,208.3,18643.47,68,22.270,78,0.0088,116,0.1644,82,28576.65,105,19094.27,58,0.142,68,0.0708,78,25704,117,16749.60,81,0.094,82,0.0177,106,11701.75,116,8311.52,143,8.141,142,0.0000,120,16097.84,84,-0.050,86,0.0088,102,21048.91,48,0.340,52,0.0619,80
4,Islington,E09000019,50.0,50.0,4.7,9.3,28.6,27.6,16.9,12.9,83.2,16.7,70.0,4.2,NaN,72.6,82.7,71.9,NaN,27.4,17.3,28.1,3.6,8.6,8.9,61.7,5.8,10.5,27.58,19.11,24.50,16.28,25.25,26.11,17.37,63828.0,17918.0,52782,16621.0,51351.0,58688.0,17145.0,1073.7,361.3,931.4,303.6,881.3,1004.8,325.6,21.92,NaN,19.57,12.12,19.59,20.91,12.58,44614.0,NaN,NaN,12054.0,37634.0,43715.0,13184.0,859.0,NaN,728.3,249.1,699.1,801.0,252.4,22490.24,24,27.535,41,0.0488,87,0.2705,58,29301.65,87,23301.63,16,0.179,30,0.1057,60,40551,72,20245.78,43,0.111,56,0.0732,72,18240.50,73,12332.79,125,12.483,128,0.0000,120,20276.46,52,0.274,58,0.0081,106,24433.60,11,0.607,18,0.1545,38
5,Kensington and Chelsea,E09000020,49.7,50.3,7.4,6.9,13.0,30.7,24.5,17.5,69.4,27.4,57.3,5.4,NaN,50.9,81.3,73.4,NaN,49.1,18.7,26.6,4.2,6.3,13.7,65.5,4.9,4.7,49.02,NaN,25.40,13.89,37.09,39.49,16.67,NaN,NaN,52487,13720.0,92675.0,110010.0,16003.0,1905.8,NaN,950.0,256.7,1276.2,1511.5,308.7,NaN,NaN,22.32,11.01,21.13,23.19,11.95,NaN,NaN,41557.0,NaN,36277.0,NaN,NaN,NaN,NaN,818.0,NaN,763.7,901.3,219.2,17177.54,80,21.526,81,0.0874,65,0.1985,73,30007.35,76,13962.46,115,0.117,90,0.1650,40,18502,136,12503.41,123,0.080,109,0.1068,57,8196.50,136,5295.13,149,5.192,150,0.0000,120,6985.20,137,-1.243,148,0.0000,116,20751.84,52,0.331,56,0.0971,66
6,Lambeth,E09000022,48.9,51.1,4.3,10.3,31.5,27.0,17.5,9.2,83.2,16.0,72.3,5.9,NaN,68.9,85.8,71.2,NaN,31.1,13.8,28.8,5.7,8.5,10.7,63.8,5.9,4.3,23.56,16.22,19.89,13.98,21.19,21.94,14.82,52281.0,16934.0,38202,12706.0,39986.0,46035.0,14205.0,915.6,295.1,750.6,250.3,725.8,841.6,266.8,19.17,10.42,18.40,10.38,17.47,18.84,10.43,40150.0,NaN,34554.0,9072.0,33084.0,36969.0,11253.0,746.8,221.6,689.9,200.1,634.8,714.4,206.5,21351.38,34,25.422,62,0.0000,130,0.1949,74,28390.91,106,20983.21,38,0.153,57,0.0449,100,48928,55,17311.65,74,0.093,84,0.0112,111,21179.00,54,10677.91,133,10.493,137,0.0000,120,18598.80,64,0.148,68,0.0225,90,23226.80,22,0.532,25,0.1348,46
7,Newham,E09000025,46.1,53.9,6.9,8.8,30.8,30.7,13.6,9.1,79.8,19.9,65.9,4.9,NaN,70.7,84.5,73.0,69.9,29.3,15.5,27.0,8.1,11.1,11.3,44.0,14.8,10.1,18.55,11.93,17.00,12.13,17.02,17.92,12.05,38763.0,14718.0,31500,12356.0,30081.0,35776.0,13345.0,744.3,239.9,652.8,236.7,582.3,705.9,237.9,16.31,9.41,15.08,10.07,13.89,15.83,9.65,34134.0,12123.0,27498.0,11193.0,26107.0,31807.0,11399.0,670.7,208.2,571.4,210.9,517.5,622.8,210.5,24138.70,11,29.577,34,0.0244,102,0.2884,53,28987.07,96,23167.95,18,0.169,38,0.0427,102,56769,32,17778.79,67,0.093,85,0.0122,110,20831.75,59,17121.36,68,17.775,99,0.0000,120,16231.92,83,-0.030,83,0.0061,111,22834.54,25,0.497,31,0.1098,59
8,Southwark,E09000028,50.2,49.8,5.5,8.9,26.4,29.5,20.1,9.5,79.8,20.0,71.5,4.1,NaN,59.1,75.9,67.5,84.7,40.9,23.8,32.5,5.0,9.6,12.0,62.0,5.1,5.4,24.35,14.51,21.11,14.31,21.99,22.85,14.36,54175.0,NaN,42149,13642.0,42639.0,48717.0,13851.0,950.2,250.2,791.5,254.0,753.3,874.8,253.1,19.10,10.62,18.18,10.62,17.24,18.76,10.63,42542.0,NaN,36555.0,10284.0,35056.0,39130.0,10586.0,737.1,215.4,695.4,195.5,628.0,709.1,198.4,21247.36,35,25.811,55,0.0301,97,0.2305,67,28758.95,102,21355.01,34,0.162,45,0.0783,74,49900,52,17890.86,66,0.097,78,0.0060,129,20959.50,57,11263.58,131,11.086,132,0.0000,120,18240.14,69,0.112,70,0.0120,99,22487.67,33,0.475,35,0.1506,41
9,Tower Hamlets,E09000030,47.7,52.3,3.1,14.4,35.4,30.2,9.5,7.5,83.9,15.6,66.9,4.0,NaN,90.9,87.2,74.5,NaN,9.1,12.8,25.5,2.2,9.0,9.7,60.5,8.3,9.7,27.15,12.89,23.69,13.76,24.74,25.74,13.36,63639.0,NaN,50217,10785.0,50651.0,58151.0,12296.0,1039.9,241.2,878.9,214.7,850.3,973.2,225.7,21.46,9.48,19.87,11.20,19.15,20.64,10.01,45812.0,9776.0,39312.0,8890.0,38000.0,42608.0,9772.0,804.8,186.2,741.5,182.0,688.9,780.4,184.6,22507.05,23,27.913,39,0.0139,111,0.3057,44,29011.42,94,23902.93,10,0.192,21,0.1528,45,56191,34,18064.19,64,0.100,73,0.0069,124,20889.50,58,15428.02,92,16.934,110,0.0069,115,19333.30,62,0.195,64,0.0139,96,22835.70,24,0.509,29,0.2153,30
10,Wandsworth,E09000032,54.2,45.8,3.6,3.7,35.6,28.3,16.3,12.5,79.7,19.4,73.5,4.4,NaN,74.4,86.6,60.5,100.0,25.6,13.0,39.5,3.3,6.4,6.2,71.6,8.0,4.1,28.30,15.75,24.05,17.24,25.54,26.22,16.83,72998.0,11374.0,51429,13982.0,55523.0,62371.0,13224.0,1094.3,236.0,907.5,296.9,890.6,1001.7,278.2,23.17,13.37,20.87,10.71,20.50,21.73,11.93,47145.0,NaN,41096.0,10812.0,39086.0,43449.0,10759.0,862.4,NaN,766.6,212.6,720.9,811.8,199.2,14312.18,108,16.611,113,0.0000,130,0.0495,125,25999.84,128,15134.72,102,0.107,109,0.0168,117,33856,91,11027.84,131,0.064,133,0.0000,133,14180.00,98,6838.04,147,6.649,147,0.0000,120,11755.78,115,-0.388,114,0.0000,116,17975.90,76,0.118,77,0.0335,107
11,Westminster,E09000033,49.0,51.0,3.6,8.2,23.3,30.1,19.3,15.5,77.5,22.3,62.4,4.8,NaN,100.0,89.5,62.9,NaN,NaN,9.9,37.1,4.2,5.7,11.5,65.5,6.9,5.8,29.56,NaN,26.73,13.62,27.29,28.33,17.11,NaN,NaN,72399,NaN,68934.0,80301.0,NaN,1141.8,NaN,1013.5,252.1,952.2,1085.6,318.2,22.90,9.95,19.12,10.69,19.14,21.03,10.51,NaN,NaN,40345.0,10979.0,37450.0,43990.0,10825.0,886.6,NaN,721.6,213.5,703.9,812.8,210.4,16573.82,87,20.339,88,0.0234,103,0.1587,85,29203.12,92,16667.53,85,0.135,75,0.1094,57,32018,99,14096.20,107,0.088,99,0.1016,60,14187.50,97,8630.05,140,8.535,141,0.0000,120,9103.58,130,-0.855,137,0.0078,107,17774.94,79,0.105,79,0.0703,74

In [66]:
# merge demographics and barriers on borough_code using inner join
demographics = demographics.merge(indices_of_deprivation_barriers, how='inner', left_on='borough_code', right_on='Upper Tier Local Authority District code (2019)')

# drop Upper Tier Local Authority District code (2019)	Upper Tier Local Authority District name (2019)
demographics = demographics.drop(['Upper Tier Local Authority District code (2019)', 'Upper Tier Local Authority District name (2019)'], axis=1)

demographics

,borough_name,borough_code,% of all people aged 16+ who are female,% of all people aged 16+ who are male,% of all 16+ who are aged 16-19,% of all 16+ who are aged 20-24,% of all 16+ who are aged 25-34,% of all 16+ who are aged 35-49,% of all 16+ who are aged 50-64,% of all 16+ who are aged 65+,% in employment who are employees - aged 16+,% in employment who are self employed - aged 16+,Employment rate - aged 16+,Unemployment rate - aged 16+,% in employment working full-time - aged 16-19,% in employment working full-time - aged 20-24,% in employment working full-time - aged 25-49,% in employment working full-time - aged 50+,% in employment working part-time - aged 16-19,% in employment working part-time - aged 20-24,% in employment working part-time - aged 25-49,% in employment working part-time - aged 50+,% with NVQ1 only - aged 16-64,% with NVQ2 only - aged 16-64,% with NVQ3 only - aged 16-64,% with NVQ4+ - aged 16-64,% with other qualifications (NVQ) - aged 16-64,% with no qualifications (NVQ) - aged 16-64,male_full_time_hourly_mean_pay,male_part_time_hourly_mean_pay,female_full_time_hourly_mean_pay,female_part_time_hourly_mean_pay,total_hourly_mean_pay,full_time_hourly_mean_pay,part_time_hourly_mean_pay,male_full_time_annual_mean_pay,male_part_time_annual_mean_pay,female_full_time_annual_mean_pay,female_part_time_annual_mean_pay,total_annual_mean_pay,full_time_annual_mean_pay,part_time_annual_mean_pay,male_full_time_weekly_mean_pay,male_part_time_weekly_mean_pay,female_full_time_weekly_mean_pay,female_part_time_weekly_mean_pay,total_weekly_mean_pay,full_time_weekly_mean_pay,part_time_weekly_mean_pay,male_full_time_hourly_median_pay,male_part_time_hourly_median_pay,female_full_time_hourly_median_pay,female_part_time_hourly_median_pay,total_hourly_median_pay,full_time_hourly_median_pay,part_time_hourly_median_pay,male_full_time_annual_median_pay,male_part_time_annual_median_pay,female_full_time_annual_median_pay,female_part_time_annual_median_pay,total_annual_median_pay,full_time_annual_median_pay,part_time_annual_median_pay,male_full_time_weekly_median_pay,male_part_time_weekly_median_pay,female_full_time_weekly_median_pay,female_part_time_weekly_median_pay,total_weekly_median_pay,full_time_weekly_median_pay,part_time_weekly_median_pay,IMD - Average rank,IMD - Rank of average rank,IMD - Average score,IMD - Rank of average score,IMD - Proportion of LSOAs in most deprived 10% nationally,IMD - Rank of proportion of LSOAs in most deprived 10% nationally,IMD 2019 - Extent,IMD 2019 - Rank of extent,IMD 2019 - Local concentration,IMD 2019 - Rank of local concentration,Income - Average rank,Income - Rank of average rank,Income - Average score,Income - Rank of average score,Income - Proportion of LSOAs in most deprived 10% nationally,Income - Rank of proportion of LSOAs in most deprived 10% nationally,Income scale,Rank of Income Scale,Employment - Average rank,Employment - Rank of average rank,Employment - Average score,Employment - Rank of average score,Employment - Proportion of LSOAs in most deprived 10% nationally,Employment - Rank of proportion of LSOAs in most deprived 10% nationally,Employment scale,Rank of Employment Scale,"Education, Skills and Training - Average rank","Education, Skills and Training - Rank of average rank","Education, Skills and Training - Average score","Education, Skills and Training - Rank of average score","Education, Skills and Training - Proportion of LSOAs in most deprived 10% nationally","Education, Skills and Training - Rank of proportion of LSOAs in most deprived 10% nationally",Health Deprivation and Disability - Average rank,Health Deprivation and Disability - Rank of average rank,Health Deprivation and Disability - Average score,Health Deprivation and Disability - Rank of average score,Health Deprivation and Disability - Proportion of LSOAs in most deprived 10% nationally,Health Deprivation and Disability - Rank of proportion of LSOAs in most deprived 10% nationally,Crime - Average rank,Crime - Rank of average rank,Crime - Average score,Crime - Rank of average score,Crime - Proportion of LSOAs in most deprived 10% nationally,Crime - Rank of proportion of LSOAs in most deprived 10% nationally,Barriers to Housing and Services - Average rank,Barriers to Housing and Services - Rank of average rank,Barriers to Housing and Services - Average score,Barriers to Housing and Services - Rank of average score,Barriers to Housing and Services - Proportion of LSOAs in most deprived 10% nationally,Barriers to Housing and Services - Rank of proportion of LSOAs in most deprived 10% nationally
0,Camden,E09000007,48.7,51.3,4.8,10.2,20.2,24.4,24.5,15.9,78.3,21.5,61.6,5.6,NaN,50.9,80.9,63.3,NaN,49.1,19.1,35.9,6.5,8.1,9.3,60.9,7.6,6.7,29.99,16.26,24.06,16.75,26.26,27.43,16.56,78238.0,12817.0,53007,16649.0,55701.0,67456.0,14918.0,1152.1,236.1,904.7,273.5,864.6,1043.8,257.8,22.27,15.06,20.23,11.20,19.17,21.16,12.16,44963.0,NaN,39404.0,NaN,35247.0,42416.0,NaN,844.0,NaN,762.1,NaN,662.0,795.4,167.0,16763.28,85,20.131,90,0.0000,130,0.1379,94,27872.90,110,18655.58,63,0.141,69,0.0827,71,34330,89,15925.88,89,0.091,91,0.0075,121,14945.50,92,10337.67,135,10.523,136,0.0000,120,10894.25,119,-0.556,123,0.0000,116,20400.70,57,0.325,57,0.1128,55,17780.12,60,21.611,72,0.0000,117
1,City of London,E09000001,46.4,53.6,NaN,NaN,45.4,NaN,23.4,31.1,73.0,27.0,82.3,NaN,NaN,NaN,100.0,63.8,NaN,NaN,NaN,NaN,NaN,NaN,NaN,100.0,NaN,NaN,NaN,NaN,21.38,NaN,26.24,24.95,NaN,NaN,NaN,44070,NaN,NaN,NaN,10686.0,NaN,NaN,809.6,NaN,882.8,929.9,NaN,NaN,NaN,19.97,NaN,NaN,NaN,NaN,NaN,NaN,39941.0,NaN,NaN,NaN,10047.0,NaN,NaN,741.3,NaN,NaN,NaN,NaN,12420.52,121,14.720,126,0.0000,130,0.0322,135,24167.00,140,8079.96,147,0.065,144,0.0000,136,431,150,8325.25,145,0.052,145,0.0000,133,218.50,150,5270.42,150,5.457,149,0.0000,120,8758.28,132,-0.686,131,0.0000,116,1234.77,151,-1.656,151,0.0000,138,28055.83,10,35.656,10,0.6667,5
2,Hackney,E09000012,50.5,49.5,6.5,8.4,33.7,26.6,17.6,7.1,82.6,16.8,67.8,4.4,NaN,53.8,82.5,67.1,81.6,46.2,16.8,31.8,6.2,8.6,10.4,57.4,5.5,10.8,22.92,14.04,20.29,13.96,20.65,21.74,13.99,50253.0,NaN,40820,11979.0,36493.0,45929.0,12705.0,886.4,242.1,768.9,242.2,675.9,832.9,242.2,19.01,9.67,17.70,10.52,16.34,18.43,10.40,38413.0,8957.0,35318.0,9134.0,28790.0,35974.0,9004.0,736.3,174.6,674.4,173.8,574.9,709.2,174.2,25312.57,7,32.526,18,0.1111,56,0.4319,22,30187.74,73,24634.73,5,0.196,17,0.1944,33,52473,43,20677.29,40,0.114,52,0.0347,91,21033.50,55,13748.71,113,14.972,120,0.0069,115,21637.86,46,0.371,50,0.0208,91,24250.45,13,0.621,17,0.2292,25,31221.78,3,42.745,4,0.9375,2
3,Hammersmith and Fulham,E09000013,49.2,50.8,3.2,8.6,29.5,28.3,17.7,12.8,83.3,16.0,67.8,3.7,NaN,95.0,89.9,72.4,NaN,NaN,10.1,26.4,2.8,5.8,10.2,70.0,5.7,4.7,29.87,16.93,21.66,15.57,25.47,26.16,16.02,69547.0,10739.0,45773,15470.0,51795.0,59058.0,13841.0,1152.3,244.2,827.6,259.8,892.4,1004.9,254.2,22.64,NaN,18.27,13.82,19.78,20.66,14.22,44975.0,NaN,38735.0,NaN,38799.0,42104.0,NaN,849.9,228.8,718.5,NaN,728.0,795.3,208.3,18643.47,68,22.270,78,0.0088,116,0.1644,82,28576.65,105,19094.27,58,0.142,68,0.0708,78,25704,117,16749.60,81,0.094,82,0.0177,106,11701.75,116,8311.52,143,8.141,142,0.0000,120,16097.84,84,-0.050,86,0.0088,102,21048.91,48,0.340,52,0.0619,80,23737.61,26,28.264,25,0.0708,61
4,Islington,E09000019,50.0,50.0,4.7,9.3,28.6,27.6,16.9,12.9,83.2,16.7,70.0,4.2,NaN,72.6,82.7,71.9,NaN,27.4,17.3,28.1,3.6,8.6,8.9,61.7,5.8,10.5,27.58,19.11,24.50,16.28,25.25,26.11,17.37,63828.0,17918.0,52782,16621.0,51351.0,58688.0,17145.0,1073.7,361.3,931.4,303.6,881.3,1004.8,325.6,21.92,NaN,19.57,12.12,19.59,20.91,12.58,44614.0,NaN,NaN,12054.0,37634.0,43715.0,13184.0,859.0,NaN,728.3,249.1,699.1,801.0,252.4,22490.24,24,27.535,41,0.0488,87,0.2705,58,29301.65,87,23301.63,16,0.179,30,0.1057,60,40551,72,20245.78,43,0.111,56,0.0732,72,18240.50,73,12332.79,125,12.483,128,0.0000,120,20276.46,52,0.274,58,0.0081,106,24433.60,11,0.607,18,0.1545,38,24133.67,24,28.204,26,0.0325,79
5,Kensington and Chelsea,E09000020,49.7,50.3,7.4,6.9,13.0,30.7,24.5,17.5,69.4,27.4,57.3,5.4,NaN,50.9,81.3,73.4,NaN,49.1,18.7,26.6,4.2,6.3,13.7,65.5,4.9,4.7,49.02,NaN,25.40,13.89,37.09,39.49,16.67,NaN,NaN,52487,13720.0,92675.0,110010.0,16003.0,1905.8,NaN,950.0,256.7,1276.2,1511.5,308.7,NaN,NaN,22.32,11.01,21.13,23.19,11.95,NaN,NaN,41557.0,NaN,36277.0,NaN,NaN,NaN,NaN,818.0,NaN,763.7,901.3,219.2,17177.54,80,21.526,81,0.0874,65,0.1985,73,30007.35,76,13962.46,115,0.117,90,0.1650,40,18502,136,12503.41,123,0.080,109,0.1068,57,8196.50,136,5295.13,149,5.192,150,0.0000,120,6985.20,137,-1.243,148,0.0000,116,20751.84,52,0.331,56,0.0971,66,28556.95,7,36.056,9,0.4369,10
6,Lambeth,E09000022,48.9,51.1,4.3,10.3,31.5,27.0,17.5,9.2,83.2,16.0,72.3,5.9,NaN,68.9,85.8,71.2,NaN,31.1,13.8,28.8,5.7,8.5,10.7,63.8,5.9,4.3,23.56,16.22,19.89,13.98,21.19,21.94,14.82,52281.0,16934.0,38202,12706.0,39986.0,46035.0,14205.0,915.6,295.1,750.6,250.3,725.8,841.6,266.8,19.17,10.42,18.40,10.38,17.47,18.84,10.43,40150.0,NaN,34554.0,9072.0,33084.0,36969.0,11253.0,746.8,221.6,689.9,200.1,634.8,714.4,206.5,21351.38,34,25.422,62,0.0000,130,0.1949,74,28390.91,106,20983.21,38,0.153,57,0.0449,100,48928,55,17311.65,74,0.093,84,0.0112,111,21179.00,54,10677.91,133,10.493,137,0.0000,120,18598.80,64,0.148,68,0.0225,90,23226.80,22,0.532,25,0.1348,46,24286.77,23,28.430,24,0.0337,78
7,Newham,E09000025,46.1,53.9,6.9,8.8,30.8,30.7,13.6,9.1,79.8,19.9,65.9,4.9,NaN,70.7,84.5,73.0,69.9,29.3,15.5,27.0,8.1,11.1,11.3,44.0,14.8,10.1,18.55,11.93,17.00,12.13,17.02,17.92,12.05,38763.0,14718.0,31500,12356.0,30081.0,35776.0,13345.0,744.3,239.9,652.8,236.7,582.3,705.9,237.9,16.31,9.41,15.08,10.07,13.89,15.83,9.65,34134.0,12123.0,27498.0,11193.0,26107.0,31807.0,11399.0,670.7,208.2,571.4,210.9,517.5,622.8,210.5,24138.70,11,29.577,34,0.0244,102,0.2884,53,28987.07,96,23167.95,18,0.169,38,0.0427,102,56769,32,17778.79,67,0.093,85,0.0122,110,20831.75,59,17121.36,68,17.775,99,0.0000,120,16231.92,83,-0.030,83,0.0061,111,22834.54,25,0.497,31,0.1098,59,32336.57,1,49.306,1,1.0000,1
8,Southwark,E09000028,50.2,49.8,5.5,8.9,26.4,29.5,20.1,9.5,79.8,20.0,71.5,4.1,NaN,59.1,75.9,67.5,84.7,40.9,23.8,32.5,5.0,9.6,12.0,62.0,5.1,5.4,24.35,14.51,21.11,14.31,21.99,22.85,14.36,54175.0,NaN,42149,13642.0,42639.0,48717.0,13851.0,950.2,250.2,791.5,254.0,753.3,874.8,253.1,19.10,10.62,18.18,10.62,17.24,18.76,10.63,42542.0,NaN,36555.0,10284.0,35056.0,39130.0,10586.0,737.1,215.4,695.4,195.5,628.0,709.1,198.4,21247.36,35,25.811,55,0.0301,97,0.2305,67,28758.95,102,21355.01,34,0.162,45,0.0783,74,49900,52,17890.86,66,0.097,78,0.0060,129,20959.50,57,11263.58,131,11.086,132,0.0000,120,18240.14,69,0.112,70,0.0120,99,22487.67,33,0.475,35,0.1506,41,26853.83,16,32.727,16,0.1867,22
9,Tower Hamlets,E09000030,47.7,52.3,3.1,14.4,35.4,30.2,9.5,7.5,83.9,15.6,66.9,4.0,NaN,90.9,87.2,74.5,NaN,9.1,12.8,25.5,2.2,9.0,9.7,60.5,8.3,9.7,27.15,12.89,23.69,13.76,24.74,25.74,13.36,63639.0,NaN,50217,10785.0,50651.0,58151.0,12296.0,1039.9,241.2,878.9,214.7,850.3,973.2,225.7,21.46,9.48,19.87,11.20,19.15,20.64,10.01,45812.0,9776.0,39312.0,8890.0,38000.0,42608.0,9772.0,804.8,186.2,741.5,182.0,688.9,780.4,184.6,22507.05,23,27.913,39,0.0139,111,0.3057,44,29011.42,94,23902.93,10,0.192,21,0.1528,45,56191,34,18064.19,64,0.100,73,0.0069,124,20889.50,58,15428.02,92,16.934,110,0.0069,115,19333.30,62,0.195,64,0.0139,96,22835.70,24,0.509,29,0.2153,30,25818.11,19,30.491,21,0.0694,63
10,Wandsworth,E09000032,54.2,45.8,3.6,3.7,35.6,28.3,16.3,12.5,79.7,19.4,73.5,4.4,NaN,74.4,86.6,60.5,100.0,25.6,13.0,39.5,3.3,6.4,6.2,71.6,8.0,4.1,28.30,15.75,24.05,17.24,25.54,26.22,16.83,72998.0,11374.0,51429,13982.0,55523.0,62371.0,13224.0,1094.3,236.0,907.5,296.9,890.6,1001.7,278.2,23.17,13.37,20.87,10.71,20.50,21.73,11.93,47145.0,NaN,41096.0,10812.0,39086.0,43449.0,10759.0,862.4,NaN,766.6,212.6,720.9,811.8,199.2,14312.18,108,16.611,113,0.0000,130,0.0495,125,25999.84,128,15134.72,102,0.107,109,0.0168,117,33856,91,11027.84,131,0.064,133,0.0000,133,14180.00,98,6838.04,147,6.649,147,0.0000,120,11755.78,115,-0.388,114,0.0000,116,17975.90,76,0.118,77,0.0335,107,22221.17,30,26.981,30,0.0950,48
11,Westminster,E09000033,49.0,51.0,3.6,8.2,23.3,30.1,19.3,15.5,77.5,22.3,62.4,4.8,NaN,100.0,89.5,62.9,NaN,NaN,9.9,37.1,4.2,5.7,11.5,65.5,6.9,5.8,29.56,NaN,26.73,13.62,27.29,28.33,17.11,NaN,NaN,72399,NaN,68934.0,80301.0,NaN,1141.8,NaN,1013.5,252.1,952.2,1085.6,318.2,22.90,9.95,19.12,10.69,19.14,21.03,10.51,NaN,NaN,40345.0,10979.0,37450.0,43990.0,10825.0,886.6,NaN,721.6,213.5,703.9,812.8,210.4,16573.82,87,20.339,88,0.0234,103,0.1587,85,29203.12,92,16667.53,85,0.135,75,0.1094,57,32018,99,14096.20,107,0.088,99,0.1016,60,14187.50,97,8630.05,140,8.535,141,0.0000,120,9103.58,130,-0.855,137,0.0078,107,17774.94,79,0.105,79,0.0703,74,19435.90,40,23.114,57,0.0000,117

In [67]:
# merge demographics and living on borough_code using inner join
demographics = demographics.merge(indices_of_deprivation_living, how='inner', left_on='borough_code', right_on='Upper Tier Local Authority District code (2019)')

# drop Upper Tier Local Authority District code (2019)	Upper Tier Local Authority District name (2019)
demographics = demographics.drop(['Upper Tier Local Authority District code (2019)', 'Upper Tier Local Authority District name (2019)'], axis=1)

In [68]:
indices_of_deprivation_IDACI

,Upper Tier Local Authority District code (2019),Upper Tier Local Authority District name (2019),IDACI - Average rank,IDACI - Rank of average rank,IDACI - Average score,IDACI - Rank of average score,IDACI - Proportion of LSOAs in most deprived 10% nationally,IDACI - Rank of proportion of LSOAs in most deprived 10% nationally
0,E06000001,Hartlepool,23480.37,20,0.283,8,0.4310,3
1,E06000002,Middlesbrough,25026.00,7,0.327,1,0.4767,1
2,E06000003,Redcar and Cleveland,21868.78,36,0.256,18,0.2955,13
3,E06000004,Stockton-on-Tees,19164.60,67,0.209,48,0.1917,30
4,E06000005,Darlington,19072.53,69,0.203,55,0.2154,25
...,...,...,...,...,...,...,...,...
146,E10000029,Suffolk,14846.58,106,0.135,110,0.0499,99
147,E10000030,Surrey,9562.72,145,0.083,145,0.0042,136
148,E10000031,Warwickshire,13601.99,123,0.122,123,0.0295,114
149,E10000032,West Sussex,12763.01,127,0.110,131,0.0079,133
150,E10000034,Worcestershire,14910.46,105,0.142,105,0.0632,91

In [69]:
# merge demographics and IDACI on borough_code using inner join
demographics = demographics.merge(indices_of_deprivation_IDACI, how='inner', left_on='borough_code', right_on='Upper Tier Local Authority District code (2019)')

# drop Upper Tier Local Authority District code (2019)	Upper Tier Local Authority District name (2019)	Income Deprivation Affecting Children Index (IDACI) Score	Income Deprivation Affecting Children Index (IDACI) Rank (where 1 is most deprived)	Income Deprivation Affecting Children Index (IDACI) Decile (where 1 is most deprived 10% of LSOAs)
demographics = demographics.drop(['Upper Tier Local Authority District code (2019)', 'Upper Tier Local Authority District name (2019)'], axis=1)

In [70]:
# merge demographics and IDAOPI on borough_code using inner join
demographics = demographics.merge(indices_of_deprivation_IDAOPI, how='inner', left_on='borough_code', right_on='Upper Tier Local Authority District code (2019)')

# drop Upper Tier Local Authority District code (2019)	Upper Tier Local Authority District name (2019)
demographics = demographics.drop(['Upper Tier Local Authority District code (2019)', 'Upper Tier Local Authority District name (2019)'], axis=1)

demographics

,borough_name,borough_code,% of all people aged 16+ who are female,% of all people aged 16+ who are male,% of all 16+ who are aged 16-19,% of all 16+ who are aged 20-24,% of all 16+ who are aged 25-34,% of all 16+ who are aged 35-49,% of all 16+ who are aged 50-64,% of all 16+ who are aged 65+,% in employment who are employees - aged 16+,% in employment who are self employed - aged 16+,Employment rate - aged 16+,Unemployment rate - aged 16+,% in employment working full-time - aged 16-19,% in employment working full-time - aged 20-24,% in employment working full-time - aged 25-49,% in employment working full-time - aged 50+,% in employment working part-time - aged 16-19,% in employment working part-time - aged 20-24,% in employment working part-time - aged 25-49,% in employment working part-time - aged 50+,% with NVQ1 only - aged 16-64,% with NVQ2 only - aged 16-64,% with NVQ3 only - aged 16-64,% with NVQ4+ - aged 16-64,% with other qualifications (NVQ) - aged 16-64,% with no qualifications (NVQ) - aged 16-64,male_full_time_hourly_mean_pay,male_part_time_hourly_mean_pay,female_full_time_hourly_mean_pay,female_part_time_hourly_mean_pay,total_hourly_mean_pay,full_time_hourly_mean_pay,part_time_hourly_mean_pay,male_full_time_annual_mean_pay,male_part_time_annual_mean_pay,female_full_time_annual_mean_pay,female_part_time_annual_mean_pay,total_annual_mean_pay,full_time_annual_mean_pay,part_time_annual_mean_pay,male_full_time_weekly_mean_pay,male_part_time_weekly_mean_pay,female_full_time_weekly_mean_pay,female_part_time_weekly_mean_pay,total_weekly_mean_pay,full_time_weekly_mean_pay,part_time_weekly_mean_pay,male_full_time_hourly_median_pay,male_part_time_hourly_median_pay,female_full_time_hourly_median_pay,female_part_time_hourly_median_pay,total_hourly_median_pay,full_time_hourly_median_pay,part_time_hourly_median_pay,male_full_time_annual_median_pay,male_part_time_annual_median_pay,female_full_time_annual_median_pay,female_part_time_annual_median_pay,total_annual_median_pay,full_time_annual_median_pay,part_time_annual_median_pay,male_full_time_weekly_median_pay,male_part_time_weekly_median_pay,female_full_time_weekly_median_pay,female_part_time_weekly_median_pay,total_weekly_median_pay,full_time_weekly_median_pay,part_time_weekly_median_pay,IMD - Average rank,IMD - Rank of average rank,IMD - Average score,IMD - Rank of average score,IMD - Proportion of LSOAs in most deprived 10% nationally,IMD - Rank of proportion of LSOAs in most deprived 10% nationally,IMD 2019 - Extent,IMD 2019 - Rank of extent,IMD 2019 - Local concentration,IMD 2019 - Rank of local concentration,Income - Average rank,Income - Rank of average rank,Income - Average score,Income - Rank of average score,Income - Proportion of LSOAs in most deprived 10% nationally,Income - Rank of proportion of LSOAs in most deprived 10% nationally,Income scale,Rank of Income Scale,Employment - Average rank,Employment - Rank of average rank,Employment - Average score,Employment - Rank of average score,Employment - Proportion of LSOAs in most deprived 10% nationally,Employment - Rank of proportion of LSOAs in most deprived 10% nationally,Employment scale,Rank of Employment Scale,"Education, Skills and Training - Average rank","Education, Skills and Training - Rank of average rank","Education, Skills and Training - Average score","Education, Skills and Training - Rank of average score","Education, Skills and Training - Proportion of LSOAs in most deprived 10% nationally","Education, Skills and Training - Rank of proportion of LSOAs in most deprived 10% nationally",Health Deprivation and Disability - Average rank,Health Deprivation and Disability - Rank of average rank,Health Deprivation and Disability - Average score,Health Deprivation and Disability - Rank of average score,Health Deprivation and Disability - Proportion of LSOAs in most deprived 10% nationally,Health Deprivation and Disability - Rank of proportion of LSOAs in most deprived 10% nationally,Crime - Average rank,Crime - Rank of average rank,Crime - Average score,Crime - Rank of average score,Crime - Proportion of LSOAs in most deprived 10% nationally,Crime - Rank of proportion of LSOAs in most deprived 10% nationally,Barriers to Housing and Services - Average rank,Barriers to Housing and Services - Rank of average rank,Barriers to Housing and Services - Average score,Barriers to Housing and Services - Rank of average score,Barriers to Housing and Services - Proportion of LSOAs in most deprived 10% nationally,Barriers to Housing and Services - Rank of proportion of LSOAs in most deprived 10% nationally,Living Environment - Average rank,Living Environment - Rank of average rank,Living Environment - Average score,Living Environment - Rank of average score,Living Environment - Proportion of LSOAs in most deprived 10% nationally,Living Environment - Rank of proportion of LSOAs in most deprived 10% nationally,IDACI - Average rank,IDACI - Rank of average rank,IDACI - Average score,IDACI - Rank of average score,IDACI - Proportion of LSOAs in most deprived 10% nationally,IDACI - Rank of proportion of LSOAs in most deprived 10% nationally,IDAOPI - Average rank,IDAOPI - Rank of average rank,IDAOPI - Average score,IDAOPI - Rank of average score,IDAOPI - Proportion of LSOAs in most deprived 10% nationally,IDAOPI - Rank of proportion of LSOAs in most deprived 10% nationally
0,Camden,E09000007,48.7,51.3,4.8,10.2,20.2,24.4,24.5,15.9,78.3,21.5,61.6,5.6,NaN,50.9,80.9,63.3,NaN,49.1,19.1,35.9,6.5,8.1,9.3,60.9,7.6,6.7,29.99,16.26,24.06,16.75,26.26,27.43,16.56,78238.0,12817.0,53007,16649.0,55701.0,67456.0,14918.0,1152.1,236.1,904.7,273.5,864.6,1043.8,257.8,22.27,15.06,20.23,11.20,19.17,21.16,12.16,44963.0,NaN,39404.0,NaN,35247.0,42416.0,NaN,844.0,NaN,762.1,NaN,662.0,795.4,167.0,16763.28,85,20.131,90,0.0000,130,0.1379,94,27872.90,110,18655.58,63,0.141,69,0.0827,71,34330,89,15925.88,89,0.091,91,0.0075,121,14945.50,92,10337.67,135,10.523,136,0.0000,120,10894.25,119,-0.556,123,0.0000,116,20400.70,57,0.325,57,0.1128,55,17780.12,60,21.611,72,0.0000,117,24878.54,19,33.469,24,0.1429,38,19570.60,62,0.193,63,0.0977,67,21767.16,27,0.232,23,0.2406,22
1,City of London,E09000001,46.4,53.6,NaN,NaN,45.4,NaN,23.4,31.1,73.0,27.0,82.3,NaN,NaN,NaN,100.0,63.8,NaN,NaN,NaN,NaN,NaN,NaN,NaN,100.0,NaN,NaN,NaN,NaN,21.38,NaN,26.24,24.95,NaN,NaN,NaN,44070,NaN,NaN,NaN,10686.0,NaN,NaN,809.6,NaN,882.8,929.9,NaN,NaN,NaN,19.97,NaN,NaN,NaN,NaN,NaN,NaN,39941.0,NaN,NaN,NaN,10047.0,NaN,NaN,741.3,NaN,NaN,NaN,NaN,12420.52,121,14.720,126,0.0000,130,0.0322,135,24167.00,140,8079.96,147,0.065,144,0.0000,136,431,150,8325.25,145,0.052,145,0.0000,133,218.50,150,5270.42,150,5.457,149,0.0000,120,8758.28,132,-0.686,131,0.0000,116,1234.77,151,-1.656,151,0.0000,138,28055.83,10,35.656,10,0.6667,5,26411.20,9,38.972,10,0.3333,13,7398.40,149,0.071,147,0.0000,137,7722.21,146,0.083,143,0.0000,139
2,Hackney,E09000012,50.5,49.5,6.5,8.4,33.7,26.6,17.6,7.1,82.6,16.8,67.8,4.4,NaN,53.8,82.5,67.1,81.6,46.2,16.8,31.8,6.2,8.6,10.4,57.4,5.5,10.8,22.92,14.04,20.29,13.96,20.65,21.74,13.99,50253.0,NaN,40820,11979.0,36493.0,45929.0,12705.0,886.4,242.1,768.9,242.2,675.9,832.9,242.2,19.01,9.67,17.70,10.52,16.34,18.43,10.40,38413.0,8957.0,35318.0,9134.0,28790.0,35974.0,9004.0,736.3,174.6,674.4,173.8,574.9,709.2,174.2,25312.57,7,32.526,18,0.1111,56,0.4319,22,30187.74,73,24634.73,5,0.196,17,0.1944,33,52473,43,20677.29,40,0.114,52,0.0347,91,21033.50,55,13748.71,113,14.972,120,0.0069,115,21637.86,46,0.371,50,0.0208,91,24250.45,13,0.621,17,0.2292,25,31221.78,3,42.745,4,0.9375,2,26058.36,13,36.053,15,0.1667,31,24450.08,14,0.249,19,0.2361,22,30443.39,1,0.407,2,0.7708,1
3,Hammersmith and Fulham,E09000013,49.2,50.8,3.2,8.6,29.5,28.3,17.7,12.8,83.3,16.0,67.8,3.7,NaN,95.0,89.9,72.4,NaN,NaN,10.1,26.4,2.8,5.8,10.2,70.0,5.7,4.7,29.87,16.93,21.66,15.57,25.47,26.16,16.02,69547.0,10739.0,45773,15470.0,51795.0,59058.0,13841.0,1152.3,244.2,827.6,259.8,892.4,1004.9,254.2,22.64,NaN,18.27,13.82,19.78,20.66,14.22,44975.0,NaN,38735.0,NaN,38799.0,42104.0,NaN,849.9,228.8,718.5,NaN,728.0,795.3,208.3,18643.47,68,22.270,78,0.0088,116,0.1644,82,28576.65,105,19094.27,58,0.142,68,0.0708,78,25704,117,16749.60,81,0.094,82,0.0177,106,11701.75,116,8311.52,143,8.141,142,0.0000,120,16097.84,84,-0.050,86,0.0088,102,21048.91,48,0.340,52,0.0619,80,23737.61,26,28.264,25,0.0708,61,26012.37,15,35.009,18,0.1416,40,19070.40,70,0.186,68,0.0973,69,24294.85,15,0.256,17,0.2124,32
4,Islington,E09000019,50.0,50.0,4.7,9.3,28.6,27.6,16.9,12.9,83.2,16.7,70.0,4.2,NaN,72.6,82.7,71.9,NaN,27.4,17.3,28.1,3.6,8.6,8.9,61.7,5.8,10.5,27.58,19.11,24.50,16.28,25.25,26.11,17.37,63828.0,17918.0,52782,16621.0,51351.0,58688.0,17145.0,1073.7,361.3,931.4,303.6,881.3,1004.8,325.6,21.92,NaN,19.57,12.12,19.59,20.91,12.58,44614.0,NaN,NaN,12054.0,37634.0,43715.0,13184.0,859.0,NaN,728.3,249.1,699.1,801.0,252.4,22490.24,24,27.535,41,0.0488,87,0.2705,58,29301.65,87,23301.63,16,0.179,30,0.1057,60,40551,72,20245.78,43,0.111,56,0.0732,72,18240.50,73,12332.79,125,12.483,128,0.0000,120,20276.46,52,0.274,58,0.0081,106,24433.60,11,0.607,18,0.1545,38,24133.67,24,28.204,26,0.0325,79,26061.40,12,35.373,17,0.1789,29,25959.94,4,0.275,10,0.2927,14,28176.55,4,0.336,4,0.4959,6
5,Kensington and Chelsea,E09000020,49.7,50.3,7.4,6.9,13.0,30.7,24.5,17.5,69.4,27.4,57.3,5.4,NaN,50.9,81.3,73.4,NaN,49.1,18.7,26.6,4.2,6.3,13.7,65.5,4.9,4.7,49.02,NaN,25.40,13.89,37.09,39.49,16.67,NaN,NaN,52487,13720.0,92675.0,110010.0,16003.0,1905.8,NaN,950.0,256.7,1276.2,1511.5,308.7,NaN,NaN,22.32,11.01,21.13,23.19,11.95,NaN,NaN,41557.0,NaN,36277.0,NaN,NaN,NaN,NaN,818.0,NaN,763.7,901.3,219.2,17177.54,80,21.526,81,0.0874,65,0.1985,73,30007.35,76,13962.46,115,0.117,90,0.1650,40,18502,136,12503.41,123,0.080,109,0.1068,57,8196.50,136,5295.13,149,5.192,150,0.0000,120,6985.20,137,-1.243,148,0.0000,116,20751.84,52,0.331,56,0.0971,66,28556.95,7,36.056,9,0.4369,10,28690.63,3,42.014,5,0.4078,7,12342.91,130,0.129,115,0.1068,61,18273.49,51,0.199,40,0.2330,25
6,Lambeth,E09000022,48.9,51.1,4.3,10.3,31.5,27.0,17.5,9.2,83.2,16.0,72.3,5.9,NaN,68.9,85.8,71.2,NaN,31.1,13.8,28.8,5.7,8.5,10.7,63.8,5.9,4.3,23.56,16.22,19.89,13.98,21.19,21.94,14.82,52281.0,16934.0,38202,12706.0,39986.0,46035.0,14205.0,915.6,295.1,750.6,250.3,725.8,841.6,266.8,19.17,10.42,18.40,10.38,17.47,18.84,10.43,40150.0,NaN,34554.0,9072.0,33084.0,36969.0,11253.0,746.8,221.6,689.9,200.1,634.8,714.4,206.5,21351.38,34,25.422,62,0.0000,130,0.1949,74,28390.91,106,20983.21,38,0.153,57,0.0449,100,48928,55,17311.65,74,0.093,84,0.0112,111,21179.00,54,10677.91,133,10.493,137,0.0000,120,18598.80,64,0.148,68,0.0225,90,23226.80,22,0.532,25,0.1348,46,24286.77,23,28.430,24,0.0337,78,28937.77,2,44.402,2,0.4438,5,23407.73,21,0.229,31,0.1236,55,26567.05,6,0.302,7,0.3876,10
7,Newham,E09000025,46.1,53.9,6.9,8.8,30.8,30.7,13.6,9.1,79.8,19.9,65.9,4.9,NaN,70.7,84.5,73.0,69.9,29.3,15.5,27.0,8.1,11.1,11.3,44.0,14.8,10.1,18.55,11.93,17.00,12.13,17.02,17.92,12.05,38763.0,14718.0,31500,12356.0,30081.0,35776.0,13345.0,744.3,239.9,652.8,236.7,582.3,705.9,237.9,16.31,9.41,15.08,10.07,13.89,15.83,9.65,34134.0,12123.0,27498.0,11193.0,26107.0,31807.0,11399.0,670.7,208.2,571.4,210.9,517.5,622.8,210.5,24138.70,11,29.577,34,0.0244,102,0.2884,53,28987.07,96,23167.95,18,0.169,38,0.0427,102,56769,32,17778.79,67,0.093,85,0.0122,110,20831.75,59,17121.36,68,17.775,99,0.0000,120,16231.92,83,-0.030,83,0.0061,111,22834.54,25,0.497,31,0.1098,59,32336.57,1,49.306,1,1.0000,1,24540.70,22,32.471,28,0.0976,51,22333.34,29,0.201,59,0.0366,109,29750.04,3,0.373,3,0.6402,3
8,Southwark,E09000028,50.2,49.8,5.5,8.9,26.4,29.5,20.1,9.5,79.8,20.0,71.5,4.1,NaN,59.1,75.9,67.5,84.7,40.9,23.8,32.5,5.0,9.6,12.0,62.0,5.1,5.4,24.35,14.51,21.11,14.31,21.99,22.85,14.36,54175.0,NaN,42149,13642.0,42639.0,48717.0,13851.0,950.2,250.2,791.5,254.0,753.3,874.8,253.1,19.10,10.62,18.18,10.62,17.24,18.76,10.63,42542.0,NaN,36555.0,10284.0,35056.0,39130.0,10586.0,737.1,215.4,695.4,195.5,628.0,709.1,198.4,21247.36,35,25.811,55,0.0301,97,0.2305,67,28758.95,102,21355.01,34,0.162,45,0.0783,74,49900,52,17890.86,66,0.097,78,0.0060,129,20959.50,57,11263.58,131,11.086,132,0.0000,120,18240.14,69,0.112,70,0.0120,99,22487.67,33,0.475,35,0.1506,41,26853.83,16,32.727,16,0.1867,22,26080.04,11,35.982,16,0.1867,27,23755.66,16,0.241,23,0.1566,42,26538.81,7,0.312,6,0.5000,4
9,Tower Hamlets,E09000030,47.7,52.3,3.1,14.4,35.4,30.2,9.5,7.5,83.9,15.6,66.9,4.0,NaN,90.9,87.2,74.5,NaN,9.1,12.8,25.5,2.2,9.0,9.7,60.5,8.3,9.7,27.15,12.89,23.69,13.76,24.74,25.74,13.36,63639.0,NaN,50217,10785.0,50651.0,58151.0,12296.0,1039.9,241.2,878.9,214.7,850.3,973.2,225.7,21.46,9.48,19.87,11.20,19.15,20.64,10.01,45812.0,9776.0,39312.0,8890.0,38000.0,42608.0,9772.0,804.8,186.2,741.5,182.0,688.9,780.4,184.6,22507.05,23,27.913,39,0.0139,111,0.3057,44,29011.42,94,23902.93,10,0.192,21,0.1528,45,56191,34,18064.19,64,0.100,73,0.0069,124,20889.50,58,15428.02,92,16.934,110,0.0069,115,19333.30,62,0.195,64,0.0139,96,22835.70,24,0.509,29,0.2153,30,25818.11,19,30.491,21,0.0694,63,24554.12,21,33.213,25,0.1389,42,26272.20,1,0.266,14,0.0972,70,30099.77,2,0.439,1,0.6944,2
10,Wandsworth,E09000032,54.2,45.8,3.6,3.7,35.6,28.3,16.3,12.5,79.7,19.4,73.5,4.4,NaN,74.4,86.6,60.5,100.0,25.6,13.0,39.5,3.3,6.4,6.2,71.6,8.0,4.1,28.30,15.75,24.05,17.24,25.54,26.22,16.83,72998.0,11374.0,51429,13982.0,55523.0,62371.0,13224.0,1094.3,236.0,907.5,296.9,890.6,1001.7,278.2,23.17,13.37,20.87,10.71,20.50,21.73,11.93,47145.0,NaN,41096.0,10812.0,39086.0,43449.0,10759.0,862.4,NaN,766.6,212.6,720.9,811.8,199.2,14312.18,108,16.611,113,0.0000,130,0.0495,125,25999.84,128,15134.72,102,0.107,109,0.0168,117,33856,91,11027.84,131,0.064,133,0.0000,133,14180.00,98,6838.04,147,6.649,147,0.0000,120,11755.78,115,-0.388,114,0.0000,116,17975.90,76,0.118,77,0.0335,107,22221.17,30,26.981,30,0.0950,48,24522.77,23,32.499,27,0.0838,55,16321.69,96,0.154,93,0.0838,76,21792.54,26,0.210,36,0.1173,58
11,Westminster,E09000033,49.0,51.0,3.6,8.2,23.3,30.1,19.3,15.5,77.5,22.3,62.4,4.8,NaN,100.0,89.5,62.9,NaN,NaN,9.9,37.1,4.2,5.7,11.5,65.5,6.9,5.8,29.56,NaN,26.73,13.62,27.29,28.33,17.11,NaN,NaN,72399,NaN,68934.0,80301.0,NaN,1141.8,NaN,1013.5,252.1,952.2,1085.6,318.2,22.90,9.95,19.12,10.69,19.14,21.03,10.51,NaN,NaN,40345.0,10979.0,37450.0,43990.0,10825.0,886.6,NaN,721.6,213.5,703.9,812.8,210.4,16573.82,87,20.339,88,0.0234,103,0.1587,85,29203.12,92,16667.53,85,0.135,75,0.1094,57,32018,99,14096.20,107,0.088,99,0.1016,60,14187.50,97,8630.05,140,8.535,141,0.0000,120,9103.58,130,-0.855,137,0.0078,107,17774.94,79,0.105,79,0.0703,74,19435.90,40,23.114,57,0.0000,117,27971.66,4,40.920,6,0.3750,10,18195.20,78,0.183,71,0.1094,59,20650.18,34,0.226,27,0.2188,29

In [71]:
demographics.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 12 entries, 0 to 11
Columns: 138 entries, borough_name to IDAOPI - Rank of proportion of LSOAs in most deprived 10% nationally
dtypes: float64(100), int64(36), object(2)
memory usage: 13.0+ KB

In [72]:
#  save demographics to csv file
demographics.to_csv("./Final Data Files/demographics.csv", index=False)